{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.events.event_listings.your_registered_events" | trans }}{% endblock %}

{% block content %}
<div class="std_2col control_panel">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>
    <div class="left">
        <div class="pad">
            <div class="std_1col">
                <div class="widget-100">
                    <div class="widget-header">
                        <div class="widget-title">
                            {{ "platformd.events.event_listings.your_registered_events" | trans }}
                        </div>
                    </div>
                    <div class="widget-content">
                        {% set no_events_messages %}{% trans %}platformd.account_page.events.no_registered_events{% endtrans %}{% endset %}
                        {% set no_events_pre_message = 'platformd.account_page.events.join_event_message' | trans %}
                        {% include 'SpoutletBundle:Events:eventList.html.twig' with {
                            'events': app.user.events,
                            'no_events_message': no_events_messages,
                            'no_events_pre_message': no_events_pre_message
                        } %}
                    </div>

                    <div class="widget-footer">
                        &nbsp;
                    </div>
                </div><br />
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
