{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}
    <div class="std_2col">
        <div class="xnotices session-flash">
            <div class="notice successNotice">
                <div class="pad">
                    <div class="pad2">
                        <div class="pad3">
                            <div class="pad4">
                                <h3 id="notice-type">{{ 'platformd.flash.action_required'|trans }}</h3>
                                <p id="notice-message">{{ 'platformd.user.register.last_step'|trans|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
