{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'platformd.user.register_title' | trans %}

{% block content %}
<p>{{ 'platformd.user.register.underage_message' | trans }}</p>
{% endblock %}
