{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<h1>Choose Winner for {{ contest.name }}</h1>

{% if contest.votingEnd | date('Y-m-d H:i:s') < 'now' | date('Y-m-d H:i:s') %}
    {% if contest.category == 'image' %}
        {% include 'SpoutletBundle:ContestAdmin:_imageEntries.html.twig' %}
    {% elseif contest.category == 'group' %}
        {% include 'SpoutletBundle:ContestAdmin:_groupEntries.html.twig' %}
    {% endif %}
{% else %}

<p class="alert alert-info help"><i class="icon-info-sign"></i>
    Voting for this contest has not finished yet. Please either wait for the contest to end or edit the contest so that it has already ended.
</p>

{% endif %}

<script type="text/javascript">
    $(function () {
        $("table").tablesorter({
            sortList: [[6,1]]
        });
    });

    jQuery(function($) {
        $("button.choose-winners").bind("click", function(event) {
            if (!$("input[name='first_place']").is(':checked')) {
                alert("You have not selected a first place entry");
                event.stopPropagation();
                event.preventDefault();

                return false;
            }

            if ($("input[name='first_place']").is(':checked') && $("input[name='third_place']").is(':checked') && !$("input[name='second_place']").is(':checked')) {
                alert("You have selected a third place entry without awarding second place");
                event.stopPropagation();
                event.preventDefault();

                return false;
            }
        })
    });
</script>

{% endblock %}
