{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>
    <i class="icon-pencil"></i>
    GamePage edit
</h1>

<form action="{{ path('admin_game_page_update', { 'id': gamePage.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {% include 'SpoutletBundle:GamePageAdmin:_form.html.twig' with {
        'form': edit_form
    } %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'save' | trans({}, 'admin') }}</button>
    </div>
</form>

<a href="{{ path('admin_game_page') }}">
    Back to the list
</a>
{% endblock %}