{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Game Page Regions' %}

{% block content %}
<h1>Game Page Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_game_page_site'
}%}

<a class="btn btn-primary" href="{{ path('admin_game_page_new') }}">
    Create a new game page
</a>
{% endblock %}