/bin/AwaReset.log
/.idea/*
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/web/uploads/*
/web/css/packed
/web/js/packed
/web/css/*
/web/js/*
/web/video
/web/media/*
VERSION
/external_data/ip2location/overrideCountry
/bin/AwaReset.log
