/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/web/uploads/*
.rsync_cache
/web/css/packed
/web/js/packed
/web/css/*
/web/js/*
/dev
/web/video
/web/media/*
VERSION
