/bin/AwaReset.log
/.idea/*
.DS_Store
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/config_*_local.yml
/vendor/
/app/config/parameters.ini
/web/css/packed
/web/js/packed
/web/css/*
/web/js/*
/web/video
/web/media/*
/web/themes/*
VERSION
/external_data/ip2location/overrideCountry
/external_data/maxmind/overrideCountry
/bin/AwaReset.log
/misc_scripts/youtube_upload/client_secrets.json
/misc_scripts/youtube_upload/upload_video.py-oauth2.json
/misc_scripts/youtube_upload/config.php
/misc_scripts/youtube_upload/processedVideos.csv
/misc_scripts/youtube_upload/logfile
/app/Resources/views/
/app/Resources/translations/theme_*
/app/config/config_server.yml
