<p>
    For questions about Alienware/Dell products or support please contact Dell directly at <a href="http://support.dell.com" target="_blank">http://support.dell.com</a>
    <br /><br />
    For Alienware Arena support, please use the correct email address below to receive the appropriate support:
    <table id="contact-table">
        <tr>
            <td>North America</td>
            <td>contact@alienwarearena.com</td>
        </tr>
        <tr>
            <td>Europe</td>
            <td>europe@alienwarearena.com</td>
        </tr>
        <tr>
            <td>Latin America</td>
            <td>latam@alienwarearena.com</td>
        </tr>
        <tr>
            <td>South Asia</td>
            <td>mysg@alienwarearena.com</td>
        </tr>
        <tr>
            <td>Australia/New Zealand</td>
            <td>anz@alienwarearena.com</td>
        </tr>
        <tr>
            <td>Japan</td>
            <td>japan@alienwarearena.com</td>
        </tr>
        <tr>
            <td>Tournaments</td>
            <td>esports@alienwarearena.com</td>
        </tr>
    </table>
</p>
