<p>
    For questions about products or support please contact Dell directly at
    <a href="http://support.dell.com" target="_blank">http://support.dell.com</a>
    <br /><br />
    For general Alienware Arena inquiries you may contact us at
    <a href="mailto:contact@alienwarearena.com">contact@alienwarearena.com</a>.
    <br /><br />Regional addresses:
    <br /><br />North America - contact@alienwarearena.com
    <br />Europe - europe@alienwarearena.com
    <br />Latin America - latam@alienwarearena.com
    <br />Malaysia/Singapore - mysg@alienwarearena.com
    <br />India - india@alienwarearena.com
    <br />Australia/New Zealand - anz@alienwarearena.com
    <br /><br />
</p>

<p>
    For questions or assistance with specific events refer to the &#39;support&#39;
    link on the respective event micro-site.
</p>
