<p>
お問い合わせ & サポート
</p>
<p>
製品またはサポートについてのご質問は、Alienware (http://alienware.jp) に直接連絡してください。  Alienware Arenaについての一般的なお問い合わせは、japan@alienwarearena.comまでお寄せください。  特定のイベントについてのご質問またはサポートは、該当するイベントのマイクロサイトで「サポート」リンクを参照してください。
</p>