<h4>Alienware Arenaに関して</h4>

<p class="margin-none">
    Alienware Arenaに関して
    本サイトに関するご質問・ご意見は、<a href="mailto: japan@alienwarearena.com">japan@alienwarearena.com</a> までお問い合わせください。
</p>

<p>Alienware Arena Battlegroundsに関して</p>

<p>大会のサポートに関するお問い合わせ時は、以下の内容をかならずご記入ください。</p>

<ul class="list-normal">
    <li>
        ALIENWARE ARENAアカウント名
    </li>
    <li>
         登録ゲーム名
    </li>
    <li>ゲーム内ID(キャラクター名)</li>
    <li>登録チーム名</li>
    <li>お問い合わせ内容（できるだけ、具体的にご記入ください）</li>
</ul>

<p>問い合わせメールアドレス</p>

<p><a href="mailto:japan-tournament@alienwarearena.com">japan-tournament@alienwarearena.com</a></p>
