<h4>ALIENWARE ARENAに関して</h4>

<p class="margin-none">
    本サイトに関するご質問・ご意見は、<a href="mailto: japan@alienwarearena.com">japan@alienwarearena.com</a> までお問い合わせください。
</p>

<h4 class="margin-top">ALIENWARE パソコン本体に関して</h4>
<ul class="list-normal">
    <li>
        パソコンご購入前のご質問等については　<a href="http://alienware.jp">http://alienware.jp</a> にアクセス後、お問い合わせください。
    </li>

    <li>
        パソコンご購入後のご質問等については、<a href="http://supportapj.dell.com/support">http://supportapj.dell.com/support</a> にアクセス後、お問い合わせください。
    </li>
</ul>
