<p>
    製品およびサポートに関するお問い合わせは<a href="http://support.dell.com">http://support.dell.com</a>へ直接アクセスしてください。
    
    <br /><br />

    Alienware Arenaに関する一般的なお問い合わせは <a href="mailto:contact@alienwarearena.com">contact@alienwarearena.com</a>までお願いします。

    <br /><br />地域別連絡先アドレス
    <br /><br />日本 - japan@alienwarearena.com
    <br /><br />北米 - contact@alienwarearena.com
    <br /><br />ヨーロッパ - europe@alienwarearena.com
    <br /><br />南米 - latam@alienwarearena.com
    <br /><br />マレーシア・シンガポール - mysg@alienwarearena.com
    <br /><br />インド - india@alienwarearena.com
    <br /><br />オーストラリア・ニュージーランド - anz@alienwarearena.com
    <br /><br />中国 - china@alienwarearena.com
</p>

<p>
    イベントに関してのお問い合わせは　サポート　リンクを参照ください。
</p>
