<strong>製品サポート</strong>
<p>
    製品またはハードウェアと OS に関する問題のトラブルシューティングに関するお問い合わせ
    <a href="http://supportapj.dell.com/support/topics/topic.aspx/jp/shared/support/dellcare/jp/contact_us_jp?c=jp&cs=jpdhs&l=ja&s=dhs">詳細はこちら</a>
</p>

<strong>Alienware Arenaのサポート</strong>
<p>
    Alienware Arenaについての一般的なご質問は、japan@alienwarearena.comまでお問い合わせください。
</p>

<strong>ベントのサポート</strong>
<p>Alienware Arena特定のイベントについてのご質問またはサポートは、該当するイベントのマイクロサイトで「サポト」リンクを参照してください。</p>
