<h3>Alienware Arenaに関して</h3>

<p>
本サイトに関するご質問・ご意見は、<a href="mailto:japan@alienwarearena.com">japan@alienwarearena.com</a> までお問い合わせください。
</p>

<h3>ALIENWARE パソコン本体に関して</h3>

<ul class="normal-margin">
    <li>
        パソコンご購入前のご質問等については　<a href="http://alienware.jp">http://alienware.jp</a> にアクセス後、お問い合わせください。
    </li>
    <li>
        パソコンご購入後のご質問等については、<a href="http://supportapj.dell.com/support">http://supportapj.dell.com/support/</a> にアクセス後、お問い合わせください。
    </li>
</ul>