<p>
联系我们及技术支持
</p>

<p>
关于产品和技术支持的疑问，请通过  <a href="http://alienware.cn">http://alienware.cn</a>提供的信息直接联系Alienware。 
</p>

<p>
关于Alienware Arena的一般问题，敬请通过电邮： <a href="mailto:china@alienwarearena.com">china@alienwarearena.com</a>联系我们。 
</p>

<p>
对具体活动的疑问可参考每个具体活动分页的技术支持链接项下的内容。
</p>
