<h4>关于Alienware Arena</h4>
<p class="margin-none">关于Alienware Arena的一般问题，敬请通过电邮： <a href="mailto:china@alienwarearena.com">china@alienwarearena.com</a> 联系我们。</p>
<h4 class="margin-top">关于Alienware 技术支持</h4>
<p class="margin-none">Alienware为您提供全面的技术支持、专家建议和其它与产品相关的服务，帮助您解决使用过程中的疑问。<a href="http://supportapj.dell.com/support/DPP/Index.aspx?c=cn&cs=cndhs1&l=zh&s=dhs
" target="_blank">点击此处></a></p>
