{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}

{{ form_errors(form) }}

<div class="row-fluid">
    <fieldset>
        <legend>Timeline Information</legend>
        <div class="span8">

            {{ form_row(form.name) }}
            {{ form_row(form.googleDocUrl) }}
            <p class="help">
                Currently, only Google Docs is supported as a datasource. Be sure your doc is published and made public before trying to use it.
            </p>

        </div>
    </fieldset>
</div>

{{ form_rest(form) }}
