<input type="hidden" id="media-id" />

<div style="display:inline-table;" class="media-voting-button-wrapper">
    <a class="media-voting-button up" data-votetype="up" id="media-voting-vote-up" href="javascript:void(0);" tabindex="-1"></a>
</div>
<div style="display:inline-table;" class="media-voting-button-wrapper">
    <a class="media-voting-button down" data-votetype="down" id="media-voting-vote-down" href="javascript:void(0);" tabindex="-1"></a>
</div>

<script type="text/javascript">
    $(function () {

        var voteRequestSent;

        $('.media-voting-button').click(function () {

            if (voteRequestSent) {
                return false;
            }

            voteRequestSent = sendVoteRequest(this);
        });

        function sendVoteRequest(element)
        {
            $('.media-voting-wrapper').fadeOut();
            return $.ajax({
                url: '{{ path('gallery_media_vote')}}',
                type: 'post',
                data: JSON.stringify({
                    'id' : {% if mediaId is defined %}'{{ mediaId }}'{% else %}$('#media-id').val(){% endif %},
                    'voteType' : $(element).attr('data-votetype')
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        if (data.messageForUser == 'FORCE_LOGIN_TO_VOTE') {
                            $('#media-voting-login-required').fadeIn();
                        } else {
                            $('#media-voting-vote-response').text(data.messageForUser);
                            $('#media-voting-vote-response').fadeIn();
                        }
                    } else {
                        $('#media-voting-vote-response').fadeIn();
                        $('#media-upvotes').hide();
                        $('#media-upvotes').text(data.messageForUser);
                        $('#media-upvotes').fadeIn();
                        $('#media-downvotes').hide();
                        $('#media-downvotes').text(100-parseInt(data.messageForUser));
                        $('#media-downvotes').fadeIn();
                        $('#media-points').text(data.points.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#media-voting-success').fadeIn();
                    }
                    $('#close-dialog').text('Close');

                    voteRequestSent = false;
                }
            })
        }
    });
</script>
