{% form_theme form 'SpoutletBundle:Admin:normalLabel.html.twig' %}
{% form_theme form 'SpoutletBundle:Admin:_bootstrapForms.html.twig' %}
<div>
    <ul class="medias-list clearfix row-fluid" data-prototype="{{ form_widget(form.galleryImages.get('prototype')) | e }}">
        {# see the CSS file this explanation #}
        <li class="dummy" style="list-style: none;"></li>
        {% for mediaForm in form.galleryImages %}
            <li class="span5 image-li existing-element" style="list-style: none;">{{ form_row(mediaForm) }}</li>

            {% if loop.index is even %}
                <li class="clear"></li>
            {% endif %}
        {% endfor %}
    </ul>

    {{ form_widget(form.galleryImages) }}
</div>
