{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'galleries.submit_photo_page_title' | trans %}

{% block content %}
<h3>{{ 'galleries.submit_photo_page_header' | trans }}</h3>
{% endblock %}
