parameters:

services:

    platformd_user.registration.form.type:
        class: Platformd\IdeaBundle\Form\Type\RegistrationFormType
        arguments:  [%fos_user.model.user.class%]
        tags:
            - { name: 'form.type', alias: 'platformd_user_registration' }

