<div>
    <h4 style="font-size: 14px;">Welcome</h4>
    <div><p>{{ group.description | nl2br }}</p></div>
    <h4 style="font-size: 14px;">How to Join</h4>
    <div><p>{{ group.howToJoin | nl2br }}</p></div>
</div>
