<div>
    <h2>Welcome</h2>
    <div>{{ group.description | raw }}</div>
    <h2>How to Join</h2>
    <div>{{ group.howToJoin | raw }}</div>
</div>
<script type="text/javascript">
    $(function () {
       //$('#about-group-content').mCustomScrollbar();
    });
</script>
