<div>
    <div class="widget-item">
       <a class="widget-link" href="#">Proin augue sapien, bibendum vel molestie vel.</a>
       <a class="widget-link" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    </div>
</div>
