<div id="report-content-dialog-Group" style="display: none;" title="Report Group">
    <input type="hidden" id="report-id-Group" />
    <input type="hidden" id="content-type-Group" value="Group" />
    <div style="height: 120px;">
        <div id="report-group-response" style="display:none;">
        This content will be reviewed by our staff. If it violates our Terms of Service, it will be removed. If you have additional information for your report, please email us at contact@alienwarearena.com with the additional details.
        </div>
        <div id="report-group-options">
            <input class="report-group-option" type="radio" name="reason" value="inappropriate_content"> Inappropriate content <br />
            <input class="report-group-option" type="radio" name="reason" value="spam"> Spam <br />
            <input class="report-group-option" type="radio" name="reason" value="violates_intellectual_property"> Violates intellectual property <br />
            <input class="report-group-option" type="radio" name="reason" value="individual_harrassing_me"> Harassment
        </div>
    </div>
    <button id="submit-report-Group">Submit</button>
    <button id="close-dialog-Group" style="float: right;">Cancel</button>
</div>
<script type="text/javascript">
    $(function () {

        var reportGroupDialog = $('#report-content-dialog-Group').dialog({
            autoOpen: false,
            modal: true,
            height: 200,
            width: 350,
            draggable: false,
            resizable: false,
            close: function (e, ui) {

            }
        });

        $('.report-group').click(function () {
            var reportId = $(this).attr('report-data');
            $('#report-id-Group').val(reportId);

            $('.report-group-option').prop('checked', false);
            $('#report-group-response').hide();
            $('#report-group-options').show();
            $('#close-dialog-Group').text('Cancel');
            $('#submit-report-Group').show();
            reportGroupDialog.dialog('open');
        });

        $('#submit-report-Group').click(function () {
            $('#report-group-options').fadeOut();
            $.ajax({
                url: '{{ path('content_reporting') }}',
                type: 'post',
                data: JSON.stringify({
                    'ContentId' : $('#report-id-Group').val(),
                    'Reason' : $('input:radio[name=reason]:checked').val(),
                    'ContentType' : $('#content-type-Group').val()
                }),
                contentType: 'json',
                success: function(data) {
                    if(!data.success) {
                        $('#report-group-response').text(data.messageForUser);
                        $('#report-group-response').fadeIn();
                    } else {
                        $('#report-group-response').fadeIn();
                    }
                    $('#close-dialog-Group').text('OK');
                    $('#submit-report-Group').hide();
                }
            })

        });

        $('#close-dialog-Group').click(function () {
            reportGroupDialog.dialog('close');
        });
    });
</script>

