<div class="side-nav">
    <ul>
        <li><a href="#">Group Home</a></li>
        <li><a href="{{ path('group_new_getting_started') }}">Create Group</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#" id="group-invite">Invite Friends</a></li>
    </ul>
</div>
