{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

<h1>New Group</h1>

<form action="{{ path('group_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'SpoutletBundle:Group:_form.html.twig' %}

    <div class="form-actions" style="float: left;">
        <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    </div>
</form>
{% endblock %}
{% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/forms.css') }}" />
{% endblock %}
