{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}About Campsite{% endblock %}

{% block content %}
<div class="about col1">

    <h1>About Campsite</h1>

    <h2>SHARE—LEARN —GROW with your peers and mentors</h2>

    <h2>FOR THE PEOPLE, BY THE PEOPLE</h2>

    <p>Campsite will maximize the opportunities for all of us to Share, Learn and Grow.</p>

    <h3>SHARE</h3>
    Join other marketing geniuses, tech wizards, and product visionaries in a day of sharing best practices, success stories, battle scars, brilliant ideas and novel "how to" approaches to innovative marketing. Dialogue, debate, and brainstorm successful use of old and new marketing tools and applications alike.

    <h3>LEARN</h3>
    <p>Gain innovative marketing expertise—exchange insights, bounce ideas off fellow experts, discover emerging tools, and explore new techniques to squeeze more results from your marketing efforts.</p>

    <h3>GROW</h3>
    <p>Come Camping to expand your:</p>
    <ul>
        <li>Skills - apply today’s marketing techniques</li>
        <li>Knowledge - incorporate best practices Network - speak with “movers and shakers” in the field</li>
        <li>Business - use the latest tools to grow your business</li>
    </ul>


    <h2>See you there!</h2>

</div>
{% endblock %}
