{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ 'platformd.layout.top_menu.contact' | trans }}{% endblock %}

{% block content %}
    <div class="contact col1">
        <h1 class="margin-bottom">{{ 'platformd.layout.top_menu.contact' | trans }}</h1>

        <p><img src="{{ asset('themes/' ~ site.theme ~ '/spoutlet/img/email.png') }}" width="32" height="32" alt="" class="valign"> <strong>Email us at:</strong> <a href="mailto:osman@platformd.com">osman@platformd.com</a></p>

    </div>

{% endblock %}
