<h2 class="left">Upcoming Events</h2>

<a href="{{ path('accounts_groups') }}" target="_blank" class="right btn bld bgBtn">Create Event &rsaquo;</a>

<div class="clr"></div>

<table summary="Upcoming Event Dates" class="tblStyle">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% set i=0 %}
        {% for event in events %}
            {% set i=i+1 %}
            <tr {% if i%2 %}class="fill"{% endif %}>
                <td><a href="{{ event | pd_link }}">{{ event.name }}</a></td>
                <td>{{ event.startsAt|date('m.d.y') }}</td>
            </tr>
        {% else %}
        <tr>
            <td colspan="2">No upcoming events</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<p></p>
