{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    {% include 'SpoutletBundle::content_header.html.twig' %}

    <div id="row1">
        <div class="cBx1">
            <h2 class="left spcr-b">Popular Groups</h2>
            <a href="{{ path('group_new') }}" class="left spcr-l2 btn">Create Group</a>
            <br/><hr/>
            {% render url('_popular_groups') %}
        </div>

        {% render 'SpoutletBundle:Default:groupEvents' %}

    </div>

{% endblock %}
