{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var GROUPS = [];
        var HITS = [];

        function processGroup(index, comparator) {
            var group = GROUPS[index];

            if(comparator(group)) {
                console.log("Skipping "+group.name);
                return;
            }

            HITS.push(group);
        }

        function renderHits() {
            var col1 = $("#groups-col1");
            var col2 = $("#groups-col2");

            col1.empty();
            col2.empty();

            for (var i=0; i<HITS.length; i+=2) {
                var group = HITS[i];

                col1.append("<li><a href=\""+group.url+"\">"+group.name+"</a></li>");

                if(i+1<HITS.length) {
                    var group2 = HITS[i+1];
                    col2.append("<li><a href=\""+group2.url+"\">"+group2.name+"</a></li>");
                }
            }

            HITS = [];
        }

        jQuery(document).ready(function($) {
            var url = '{{ path('api_all_groups') }}';

            $.getJSON(url, null,
                    function(data) {
                        var featuredTopicComparator = function(group) {
                            return !group.isTopic || !group.isFeatured;
                        };

                        //Initially populate with all groups
                        GROUPS = data.groups;
                        if(GROUPS) {
                            for (var i=0; i<GROUPS.length; i+=2) {
                                processGroup(i, featuredTopicComparator);
                                if(i+1<GROUPS.length) {
                                    processGroup(i+1, featuredTopicComparator);
                                }
                            }
                            renderHits();
                        }
                    });

            //Register search callback
            var globalTimeout = null;
            var searchBox = $('#groups-by-topic-search');
            searchBox.keyup(function() {

                var topicComparator = function (group) {
                    var topic = searchBox.val();
                    return group.name.toLowerCase().indexOf(topic) == -1;
                };

                if (globalTimeout != null) {
                    clearTimeout(globalTimeout);
                }
                globalTimeout = setTimeout(function() {
                    globalTimeout = null;

                    var hits = [];
                    var topic = searchBox.val();

                    if(topic !== "") {
                        for(var i=0; i<GROUPS.length; i+=2) {
                            processGroup(i, topicComparator);
                            if(i+1<GROUPS.length) {
                                processGroup(i+1, topicComparator);
                            }
                        }
                    }
                    renderHits();
                }, 200);
            });
        });
    </script>
{% endblock %}

{% set sidebar = true %}

{% block content %}
    {#{% include 'SpoutletBundle::content_header.html.twig' %}#}

    <div id="group-by-topic">
        <h2 class="spcr-b2">Find a Group by Topic</h2>

        <input id="groups-by-topic-search" type="text" size="80" placeholder="Enter Topic" autocomplete="off">

        <div class="group-list">
            <ul id="groups-col1">
            </ul>
        </div>

        <div class="group-list">
            <ul id="groups-col2">
            </ul>
        </div>
    </div>

    <hr>

    <h2 class="left spcr-b">Popular Groups</h2>

    <a href="{{ path('group_new') }}" class="right spcr-l2 btn bld bgBtn">Create Group &rsaquo;</a>
    {% render url('_popular_groups') %}
    <br class="clr"/>
{% endblock %}

{% block sidebar %}
    {% render "SpoutletBundle:Default:groupsMap" %}
    <hr class="clr">
    {% render 'SpoutletBundle:Default:groupEvents' %}
{% endblock %}
