<ul class="dflt">
{% for group in groups %}
    <li>
    <a href="{{ path('group_show', {'slug': group.slug}) }}">{{ group.group_name }}</a> - {{ group.member_count }} members
    </li>
{% endfor %}
</ul>