<div class="xnotices">
    <div class="{% block flash_type %}{% endblock %}Notice notice card">

        <h3>
            {% set title = 'platformd.flash.'~block('flash_type')~'_title' %}
            <span class="left">{{ title | pd_trans }}</span>

            <a href="#" class="right" id="removeFlashMessage"><img src="{{ asset('/bundles/spoutlet/images/delete-icon.png') }}" class="delete"/></a>
            <div class="clr"></div>
        </h3>

        {% block flash %}{% endblock %}

    </div>
</div>

<script type="text/javascript">

    $(function() {
        $('.xnotices').fadeIn();
    });

    $('#removeFlashMessage').on('click', function(e) {
        e.preventDefault();
        $('.xnotices').fadeOut();
    });

</script>
