<div class="xnotices">
    <div class="{% block type %}{% endblock %}Notice notice">
        <div class="pad">
            <div class="pad2">
                <div class="pad3">
                    <div class="pad4">
                        <h3>
                            {% set title = 'platformd.flash.'~block('type')~'_title' %}
                            {{ title | trans }}
                        </h3>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    updatingFlashMessage = false;

    function updateFlashMessage() {
        updatingFlashMessage = true;

        return $.ajax({
            url: flashMessageUpdateUrl,
            type: 'html',
            contentType: 'json',
            success: function(data) {
                $(".xnotices").replaceWith(data);
                updatingFlashMessage = false;

                if (flashMessageUpdateFrequency !== undefined && flashMessageUpdateFrequency > 0) {
                    window.setTimeout(updateFlashMessage, flashMessageUpdateFrequency);
                }
            }
        });
    }

    $(function () {

        if (flashMessageUpdateFrequency === undefined || flashMessageUpdateFrequency < 1) {
            return;
        }

        window.setTimeout(updateFlashMessage, flashMessageUpdateFrequency);
    });

</script>
