<div class="messagepop pop">

    <input type="radio" name="reason" value="inappropriate_content"> Inappropriate content
    <input type="radio" name="reason" value="spam"> Spam
    <input type="radio" name="reason" value="violates_intellectual_property"> Violates intellectual property
    <input type="radio" name="reason" value="individual_harrassing_me"> Individual is harrassing me

    <p><input type="submit" value="Submit" name="submit_content_report" id="submit_content_report"/> or <a class="close" href="/">Cancel</a></p>
</div>​
