{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block content %}
<h1>{{ title | trans }}</h1>

<p>
{{ body | trans | raw }}
</p>
{% endblock %}
