<div class="wide-950">
    <div id="footer">
        <ul class="nav">
            <li><a href="http://www.alienwarearena.com/pages/contact.php">Contact Us</a></li>
            <li><a rel="nofollow" href="http://www.alienwarearena.com/pages/privacy_policy.php">Privacy Policy</a></li>
            <li><a rel="nofollow" href="http://www.alienwarearena.com/pages/terms_and_conditions.php">Terms &amp; Conditions</a></li>
            <li><a href="http://steamcommunity.com/groups/alienwarearena" target="_blank">Steam Community</a></li>
            <li><a href="http://www.xfire.com/communities/alienwarearena/" target="_blank">Xfire Community</a></li>
        </ul>
        <div class="right">
            <a target="_blank" href="http://lt.dell.com/lt/lt.aspx?CID=59747&amp;LID=1511112&amp;DGC=SM&amp;DGSeg=DHS&amp;DURL=http://alienware.com/">Need a kickass rig?<br />Check out Alienware</a>
        </div>
        <div class="legal">
    		Copyright 2012 Alienware Corporation. All Rights Reserved.
        </div>
    </div>
</div>