{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>
    <i class="icon-pencil"></i>
    Edit Site Takeover
</h1>

<form action="{{ path('admin_takeover_update', { 'id': takeover.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'SpoutletBundle:SiteTakeoverAdmin:_form.html.twig' %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>{{ 'save' | trans({}, 'admin') }}</button>
    </div>
</form>

<a href="{{ path('admin_takeover_index') }}">
    Back to Site Takeover Index
</a>
{% endblock %}
