<div class="contest-enter-vote">
    <a href="{{ path('contest_show', {slug: contest.slug}) }}">{{ 'contests.show_page_enter_contest' | trans }}</a> | <a href="{{ path('contest_vote', {slug: contest.slug})}}">{{ 'contests.show_page_vote_now' | trans }}</a>
</div>
