{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'contests.index_page_title' | pd_trans %}

{% block content %}
<h1>{{ 'contests.index_page_title_long' | pd_trans }}</h1>
<div class="contest-list">
{% include "SpoutletBundle:Contest:_contests.html.twig" with {"contests": contests} %}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/contests.css') }}" />
{% endblock %}
