{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}
    <p>
        A confirmation has been sent to your email address. Follow the instructions in the email to activate your Campsite account. Once you have activated your account, you will be able to log in.
    </p>
{% endblock %}
