{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}

<h1>New Deal</h1>

<form action="{{ path('admin_deal_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'GiveawayBundle:DealAdmin:_form.html.twig' %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    </div>
</form>

<a href="{{ path('admin_deal') }}">
    Back to the list
</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% include 'GameBundle:GamePageAdmin:_formJavascript.html.twig' %}
    {% include 'SpoutletBundle:CountryAgeRestrictionRule:_formJavascript.html.twig' %}
{% endblock %}
