<div class="thread">
    <h3>Add Your Comment</h3>
    <textarea id="new-comment-body" name="new-comment-body" required="required"></textarea>
    <div class="comment-form-submit">
        <button id="new-comment-submit" type="submit">Add Comment</button>
    </div>
    {% include 'SpoutletBundle:Comments:_comments.html.twig' with { 'comments' : comments} %}
</div>
<script type="text/javascript">
    $(function () {

        $('#new-comment-submit').click(function () {
            $('.thread').block({message: null});

            var comment = {
                'thread' : '{{ thread }}',
                'body' : $('#new-comment-body').val(),
                'parent' : 0
            };
            $.ajax({
                url: '{{ path('comments_new') }}',
                type: 'post',
                data: JSON.stringify(comment),
                controlstentType: 'application/json',
                success: function (html, status, req) {
                    $('.comments').html(html);
                    $('.thread').unblock();
                    $('#new-comment-body').val('');
                }
            });
        });
    });
</script>
