body {
    padding-top: 60px;
}

h1 {
    border-bottom: 1px solid #eee;
    margin-bottom: 27px;
}
h1 i {
    margin-top: 10px;
}

#height {
    height: 100px;
    background: #ccc;
}

.controls .help {
    margin-top: 10px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.form_row {
    margin-bottom: 10px;
    clear: both;
}

/* width increased from bootstrap */
label {
    width: 170px;
    margin-right: 5px;
}
/* due to the above change */
form .input {
    margin-left: 195px;
}

.admin-translations-table .edit-form {
    display: none;
}


fieldset .row-fluid.first div[class*="span"] {
    padding-top: 27px;
}