body {
    padding-top: 60px;
}

h1 {
    border-bottom: 1px solid #eee;
    margin-bottom: 27px;
}
h1 i {
    margin-top: 10px;
}

#height {
    height: 100px;
    background: #ccc;
}

.controls .help {
    margin-top: 10px;
}

#deal_pool_allowedCountries {
    width: 500px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.form_row {
    margin-bottom: 10px;
    clear: both;
}

/* width increased from bootstrap */
label {
    width: 170px;
    margin-right: 5px;
}
/* due to the above change */
form .input {
    margin-left: 195px;
}

.admin-translations-table .edit-form {
    display: none;
}


fieldset .row-fluid.first div[class*="span"] {
    padding-top: 27px;
}

.file-upload img {
    display: block;
    margin: -20px 0 10px 160px;
    width: 200px;
}
.game-page-form .medias-list {
    margin-left: 0;
}
.game-page-form .medias-list li {
    list-style-type: none;
    position: relative;
}
.game-page-form .medias-list li a.close {
    position: absolute;
    top: 0;
    right: 0;
}
/* the first li - this is a dummy, just so that, to twitter bootstrap, none
 * of the *real* items look like the first one. This is a hack, because I'm
 * having each item span5 (5+5 = 10, but our width is 12). Because I'm "under-spanning",
 * I don't need the first element to have 0 left margin. In fact, if the first
 * item *does* have no left margin, it doesn't line up with the next row.
 *
 * So, doing this allows me to tile the li's - 2 per row, but without needing
 * to actually surround each row in a row div
 */
.game-page-form .medias-list li.dummy {
    display: none;
}
.game-page-form .medias-list li.clear {
    clear: both;
}
/* a way to hide existing elements' upload file. It's confusing: just upload a new file */
.game-page-form .medias-list li.existing-element .control-group .controls{
    display: none;
}
.game-page-form .medias-list li.new-link {

}
.game-page-form .medias-list li.new-link div.wrap {
    display: block;
    margin-left: 160px;
    background: #eee;
    padding: 50px 0;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.game-page-form li.restriction-li {
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-top: 15px;
    margin-bottom: 15px;
}

.game-page-form label.control-label {
    width: 100px;
}

.game-page-form div.controls {
    margin-left: 0px;
}

.game-page-form a.remove {
    float: left;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
}

.game-page-form .rules li.new-link div.wrap {
    margin-left: 40px;
    margin-right: 40px;
}

table#content-reports {
    border: 1px solid #CCCCCC;
    text-align: left;
    min-width: 500px;
    width: 100%;
}

table#content-reports tr {
    border: 1px solid #CCCCCC;
}

table#content-reports td {
    border: 1px solid #CCCCCC;
    padding: 6px;
}

table#content-reports td h1 {
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
}

table#content-reports td div {
    margin: 3px;
    margin-left: 10px;
}

table#content-reports td div#remove-content {
    margin: 3px 3px 40px 10px;
}

table#content-reports td div#remove-content a {
    font-weight: bold;
    color: #FF0000;
}

table#content-reports td div#hide-complaint {

}

table#content-reports th {
    border: 1px solid #CCCCCC;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

table#content-reports th#content-report-type {
    min-width: 100px;
}

table#content-reports th#content-report-content {
    min-width: 400px;
}

table#content-reports th#content-report-action {
    min-width: 200px;
}

