services:
  platformd.homepage_banner.s3.adapter:
    class: Gaufrette\Adapter\AmazonS3
    arguments:
      - @platformd.s3
      - "%s3_bucket_name%"
    calls:
      - [ "setDirectory", [ "homepage-banners"]]

  platformd.homepage_banner.manager:
    class: Platformd\SpoutletBundle\Entity\HomepageBannerManager
    arguments:
      - @doctrine.orm.entity_manager
      - @homepage_banners_filesystem
      - "%hpcloud_accesskey%"
      - "%hpcloud_secreatkey%"
      - "%hpcloud_tenantid%"
      - "%hpcloud_url%"
      - "%hpcloud_container%"
      - "%object_storage%"
      - "homepage-banners"
  platformd.homepage_banner_resolver:
    class:  'Platformd\SpoutletBundle\HomepageBannerPathResolver'
    arguments:
      - @homepage_banners_filesystem
      - homepage-banners
      - "%object_storage%"
      - "%hpcloud_url%"
      - "%hpcloud_container%"
    parent: platformd.path_resolver
    tags:
      - { name: 'knp_media_exposer.resolver' }
