; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver         = pdo_mysql
    database_host           = localhost
    database_port           =
    database_name           = platformd
    database_user           = root
    database_password       = deepblue

    acl_database_name       = platformd_acl

    allow_caching           = false

    mailer_transport        = smtp
    mailer_host             = localhost
    mailer_user             =
    mailer_password         =
    mailer_encryption       = tls
    mailer_port             = 587

    locale                  = en

    secret                  = ThisTokenIsNotSoSecretChangeIt

    recaptcha.public_key    = 6LemkeYSAAAAAD0RJpFzjorYVMzdyNNAdeie8E_H 
    recaptcha.private_key   = 6LemkeYSAAAAAMSThoiYLRurxAMM7HL7GB9SkS7R

    china_host_prefix = china
    base_host         = site.com
    host_suffix       =

    base_host               = 15.185.111.85.xip.io
    host_suffix             =

    s3.access_key           = AKIAI2DNRRJAPYAAFNOA
    s3.secret_key           = 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
    s3_bucket_name          = platformd-public
    s3_private_bucket_name  = platformd-privates

    cloudsearch_domain_name = alienwarearena
    cloudsearch_domain_id   = biglongidfromawsconsole

    ; used to differentiate items between servers (i.e. production, staging)
    search_item_prefix      = localdev

    ; Used for differentiating between dev mode indexes between devs
    search_dev_user         = your_identifier_here
    allow_search_indexing   = false

    ; this is for the "alienware" staging
    facebook_app_id         = 468808186479620

    mink_base_url           = http://your_app.dev/app_test.php

    google_api_key          = YourGoogleApiKey

    google_ua               = UA-9917033-2

    memcached_server1_ip    = 127.0.0.1
    memcached_server1_port  = 11211

    ; Here we must have at least default
    liip_enabled_themes[] = marketingcamp
    liip_enabled_themes[] = ideacontest

    secure_url_scheme     = https

    queue_prefix          = https://sqs.us-east-1.amazonaws.com/694891348995/PD_TESTING_

    allow_caching         = false

    api_base_url          = https://api.alienwarearena.com/v1/
    api_access_key        = yourAccessKeyHere
    api_secret_key        = yourSecretKeyHere

    varnish_server        = http://demo.alienwarearena.local:8080
    
    ; used for HP Cloud HpObjectStorage and for aws use AWSObjectStorage
    objectStorage        = HpObjectStorage
    hpcloudAccesskey     = YS11LX9TT81LNVXKSKM7
    hpcloudSecreatkey    = r8zsRj+i/SfVSXkOiUlVZg2SJBw2p2izogqKlo+W
    hpcloudTenantid      = 10873218563681
    hpcloudUrl           = https://region-a.geo-1.objects.hpcloudsvc.com:443/v1/10873218563681/
    hpcloudMessagingUrl = https://region-a.geo-1.messaging.hpcloudsvc.com/v1.1/10873218563681
    hpcloudContainer     = platformd-public
    ; For use SendGrid Email service use SendGrid and for Aws use AWS_SES
    emailService         = SendGrid
    sendgridUsername     = dnielsen
    sendgridPassword     = Deepblue1
    
    ; only set to true if you have implemented the API authentication system and have configured it properly
    api_authentication    = false

    accounts_groups             = 
    accounts_events             = 
    default_index               = 
    about                       = 
    contact                     = 
    groups                      = 
    global_events_index         = 
    profile                     = 
    accounts_settings           = 
    entry_set_view              = 
    profile_edit                = 
    group_event_contact         = 
    group_event_attendees       = 
    group_show                  = 
    group_event_view            = 
    group_new                   = 
    group_edit                  = 
    entry_set_new               = 
    idea_admin_event            = 
    idea_admin                  = 
    idea_admin_event            = 
    idea_admin_images           = 
    idea_admin_member_approvals = 
    idea_admin_criteria_all     = 
    idea_admin_criteria         = 
    idea_admin_criteria_get     = 
    idea_summary                = 
    idea_create_form            = 
    idea_show                   = 
    idea_edit_form              = 
    idea_upload_form            = 
    idea_add_link_form          = 
    fos_user_security_login     = 
    fos_user_resetting_request  = 

