; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver         = pdo_mysql
    database_host           = localhost
    database_port           =
    database_name           = platformd
    database_user           = root
    database_password       =

    acl_database_name       = platformd_acl

    allow_caching           = true

    mailer_transport        = smtp
    mailer_host             = localhost
    mailer_user             =
    mailer_password         =
    mailer_encryption       = tls
    mailer_port             = 587

    locale                  = en

    secret                  = ThisTokenIsNotSoSecretChangeIt

    recaptcha.public_key    =
    recaptcha.private_key   =

    base_host               = site.com
    host_suffix             =

    s3.access_key           =
    s3.secret_key           =
    s3_bucket_name          = platformd-testing
    s3_private_bucket_name  = platformd-private-testing

    ; this is for the "alienware" staging
    facebook_app_id         = 468808186479620

    mink_base_url           = http://your_app.dev/app_test.php

    google_api_key          = YourGoogleApiKey

    google_ua               = UA-9917033-2

    memcached_server1_ip    = 127.0.0.1
    memcached_server1_port  = 11211

    ; Here we must have at least default
    liip_enabled_themes[] = default
    liip_enabled_themes[] = test_theme

    admin_prod_url_scheme = https

    queue_prefix          = https://sqs.us-east-1.amazonaws.com/042124576429/PD_TESTING_
