<?php

// copy to /home/ubuntu/scripts/mu-sigma_automation/ and rename to config.php

$dsn            = 'mysql:dbname=;host=';
$user           = '';
$password       = '';
$awaDb          = '';

// GPG key name given to us by Mu Sigma
$recipient      = '';

$ftpServer      = '';
$ftpUser        = '';
$ftpPassword    = '';
