{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <a href="{{ path('group_new') }}">Create a new group</a><br/>

    <h2 class="spcr-b">Groups</h2><hr/>

    {%  render url('_all_groups') %}

{% endblock %}
