<h3>Alienware Arena</h3>

<p>
    Dell's PC Gaming Community Site Expands to China, Offering New Activities and Promotions Online and at Popular Venues
</p>

<p>
    We are thrilled to announce that Alienware Arena has officially expanded to China! China represents the eighth regional expansion for Alienware Arena, which has previously been hosting events in North America, Asia Pacific, Europe and Latin America. You will now be able to experience new PC gaming activities, giveaways and more, all specifically for Chinese members, online and at leading gaming gatherings.
</p>

<p>
    Alienware Arena will now host PC gaming promotions and community activities in more than 20 countries worldwide, covering all the largest PC gaming markets.
</p>

<p>
    Altogether, Alienware Arena is home to over 1,000,000 registered members worldwide.
</p>

<p>
    "Gaming is about more than the system you play on, it’s the community you play and connect with across the world," comments Arthur Lewis, General Manager of Alienware for Dell.
</p>