<p>
    「ALIENWARE ARENA」は、日本のオンラインゲームのメッカである東京・秋葉原にある「アイ・カフェAKIBA PLACE 」へ進出します。
</p>

<p>
    2012年2月18日午前11時にオープンする「ALIENWARE ARENA in アイ・カフェ AKIBA PLACE」では、フラッグシップモデルの「ALIENWARE Aurora」を40台以上導入し、これ以上ないハイパフォーマンスな環境でゲームプレイを体感できます。
</p>

<p>
    さらに、オープンを記念して様々なイベント企画しておりますのでぜひご来店ください。
</p>

<h4>
    「1時間ゲーム無料プレイ」キャンペーン
</h4>
    
<p>
    場所：アイ・カフェAKIBA PLACE、東京都千代田区外神田3-15-1 8F
    <br/>
    期間：2012年2月18日～24日
</p>

<h4>
    「ALIENWARE特製カード型USBメモリ」プレゼントキャンペーン（先着250名様）
</h4>

<p>
    場所：アイ・カフェAKIBA PLACE、東京都千代田区外神田3-15-1 8F
    <br/>
    期間：2012年2月18日～　(景品が無くなり次第終了)
    <br/>
    参加条件：施設をご利用の上、アンケートにお答えいただきます。
</p>

<h4>
    「ALIENWARE M14x　ホワイト・リミテッド・エディション」プレゼントキャンペーン(1名様)
</h4>

<p>
    場所：ALIENWARE ARENA
    <br/>
    期間：2012年2月18日～3月31日
    <br/>
    対象：<a href="http://www.alienwarearena.com/japan">www.alienwarearena.com/japan</a> でアカウント作成しログインされた方
</p>

<p>
    その他の情報は以下のサイトにアクセスしてご確認ください。
    <br/>
    <a href="http://ja.community.dell.com/dell-blogs/direct2dell/b/direct2dell/archive/2012/02/07/alienware-arena-in-akiba-place.aspx">
        http://ja.community.dell.com/dell-blogs/direct2dell/b/direct2dell/archive/2012/02/07/alienware-arena-in-akiba-place.aspx
    </a>
</p>