<p>
遂にAlienware Arenaが公式に日本で展開されることになりました。Alienware Arenaは、これまで北米、南米、ヨーロッパ、アジアとサービス地域を拡大して来ており、日本は7番目の地域になります。
</p>
    
<p>
Alienware Arenaは、主にオンラインゲームトーナメント、各種キャンペーン、新作ゲームの無料体験など、PCゲーマーのためのイベントや情報を提供します。これらはすべて日本のプレイヤー向けに特別に用意されるものです。
</p>

<p>
また、現在Alienware Arenaには世界中から100万アカウントの登録があります。
</p>

<p>
「ゲームとは単に遊ぶためのシステムではなく、世界とつながり、関わり合うことができるコミュニティでもあるのです。」と、デルのAlienware担当ジェネラルマネージャであるArthur Lewis氏はコメントしています。
</p>

<p>
新登場の日本サイトを今すぐご覧ください。http://japan.alienwarearena.com/
</p>