<h3>Alienware Arena广告邮件来袭中国</h3>

<p>
    戴尔的游戏社区网站扩展至中国地区，在线以及在人气场馆开展新活动
</p>

<p>
    我们非常激动地宣布Alienware Arena已经正式延伸至中国地区！中国是Alienware Arena第八个扩展区域的代表，Alienware Arena之前一直在北美、亚太地区、欧洲和拉丁美洲举办活动。现在你可以在线和在知名游戏集聚地体验专为中国会员打造的个人电脑游戏、邀请码活动和更多精彩内容了。
</p>

<p>
    将在世界范围内20多个国家举办电脑游戏推广和社区活动，涵盖所有大型个人电脑游戏市场。
</p>

<p>
    据统计，Alienware Arena在世界上拥有100万注册会员。
</p>

<p>
    “游戏不仅仅是你所使用的操作系统，它是一个你参与的与世界相通的社区”，戴尔Alienware总经理亚瑟·刘易斯表示。
</p>