{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Find Groups' %}

{% block content %}
<h1>Find Groups</h1>
<form action="{{ path('admin_group_find') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'SpoutletBundle:GroupAdmin:_findForm.html.twig' %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" formnovalidate>Search</button>
    </div>
</form>
<div id="results">
    {% if results %}
        <p>results</p>
    {% endif %}
</div>
{% endblock %}
