{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Group Regions' %}

{% block content %}
<h1>Deal Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_deal_site'
}%}

{% endblock %}
