{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Giveaway Regions' %}

{% block content %}
<h1>Giveaway Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_giveaway_list'
}%}

<a class="btn btn-primary" href="{{ path('admin_giveaway_new') }}">
    Create a new giveaway
</a>
{% endblock %}
