{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Sweepstakes Regions' %}

{% block content %}
<h1>Sweepstakes Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_sweepstakes_list'
}%}

<a class="btn btn-primary" href="{{ path('admin_sweepstakes_new') }}">
    Create a new sweepstakes
</a>
{% endblock %}
