{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.giveaway.admin.title" | trans }}{% endblock %}

{% block content %}

<h1>Sweepstakes</h1>

<table class="zebra-striped bordered-table tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for sweep in sweeps %}
        <tr>
            <td>{{ sweep.name }}</td>
            <td>
                <a href="{{ path('admin_sweepstakes_metrics_show', {'id': sweep.id}) }}">view</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
