{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Content Report Admin' %}

{% block content %}
<h1>Content Reports</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_content_reports_site'
}%}

{% endblock %}
