THIS FILE CAN BE DOWNLOADED FROM THE GOOGLE API CONSOLE AT https://code.google.com/apis/console > ACCESS > Client ID for installed applications (DEVICE) > Download JSON
IT SHOULD APPEAR IN THE FOLLOWING FORMAT:

{
    "installed":{
        "client_id":"",
        "client_secret":"",
        "auth_uri":"https://accounts.google.com/o/oauth2/auth",
        "token_uri":"https://accounts.google.com/o/oauth2/token",
        "client_email":"",
        "redirect_uris":["urn:ietf:wg:oauth:2.0:oob","oob"],
        "client_x509_cert_url":"",
        "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs"
    }
}
