{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'Gallery Regions' %}

{% block content %}
<h1>Gallery Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'admin_gallery_list'
}%}

<a class="btn btn-primary" href="{{ path('admin_gallery_new') }}">
    Create a new gallery
</a>
{% endblock %}
