{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.news.admin.edit_title" | trans }}{% endblock %}

{% block content %}
<h1>Edit {{ news.type == 'article' ? 'Article' : 'News Post' }}</h1>

{% include 'NewsBundle:Admin:newsForm.html.twig' with {
    'form': form,
    'route': path('NewsBundle_admin_edit', { "id" : news.id })
} %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/spoutlet/css/tags-admin.css') }}" />
{% endblock %}
