{% extends 'SpoutletBundle::adminLayout.html.twig' %}
{% block title %}{{ "platformd.news.admin.title" | trans }}{% endblock %}

{% block content %}
<div id="admin-news">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                {{ "platformd.news.admin.title" | trans }}
            </div>
        </div>

        <div class="widget-content">
            <table width="100%">
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div style="width:100%;text-align:right;padding-top:20px;"></div>
{% endblock %}
