{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title 'News Regions' %}

{% block content %}
<h1>News Regions</h1>

{% include 'SpoutletBundle:Site:_siteAdminSelector.html.twig' with {
    'sites': sites,
    'route': 'NewsBundle_admin_siteList'
}%}

<a class="btn btn-primary" href="{{ path('NewsBundle_admin_new') }}">
    Create a new item
</a>
{% endblock %}
