<p class="p1"><span class="s1">発効日：</span><span class="s2">2011</span><span class="s1">年</span><span class="s2">1</span><span class="s1">月</span><span class="s2">20</span><span class="s1">日</span><span class="s2"><span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s2">このプライバシーに関する声明は、お客様が弊社ウェブサイトの<a href="http://www.alienwarearena.com"><span class="s3"><b>www.alienwarearena.com</b></span></a>（「当サイト」）で提供する個人情報を弊社がどのように収集および使用するかについて説明しています。</span></p>
<p class="p2"><span class="s2">また、個人情報の取り扱いに関するお客様の選択肢と当該情報へのアクセスおよび更新方法も説明しています。</span><span class="s4">iGames, Inc.</span><span class="s2">（「</span><span class="s4">iGames</span><span class="s2">」）は、</span><span class="s4">Dell, Inc.</span><span class="s2">（「</span><span class="s4">Dell</span><span class="s2">」）に代わって、当サイトからの個人情報を収集および処理するデータ処理業者の役割を果たします。</span><span class="s4">Dell</span><span class="s2">の個人情報の取り扱い方について詳しくは、</span><span class="s4">Dell</span><span class="s2">企業ウェブサイトの<a href="http://www.dell.com"><span class="s3"><b>www.dell.com</b></span></a>に掲載されるプライバシーポリシーをご覧ください。</span></p>
<p class="p2"><span class="s4">iGames</span><span class="s2">は、</span><span class="s4">TRUSTe</span><span class="s2">のプライバシーシールを取得しています。これは、本プライバシーに関する声明とそれに関連する慣行が、個人情報の収集および使用に関する透明性、説明責任、および選択の自由を含む、欧州連合セーフハーバープログラムの要件に準拠しているかについて、</span><span class="s4">TRUSTe</span><span class="s2">の審査を受けたことを示すものです。</span><span class="s4">TRUSTe</span><span class="s2">の使命は、独立した第三者機関として、優れたプライバシー信頼マークと革新的な信頼性ソリューションを通じて、消費者と組織の間のオンライン上の信頼関係を世界的に促進することです。弊社のプライバシーに関する声明または関連する慣行についての質問または苦情は、下記のお問い合わせ先にお寄せください。弊社の対応に不満な点がありましたら、</span><span class="s4">TRUSTe</span><span class="s2">にご連絡ください（<a href="http://watchdog.truste.com/pvr.php?page=complaint"><span class="s3"><b>http://watchdog.truste.com/pvr.php?page=complaint</b></span></a>）。</span></p>
<p class="p2"><span class="s2">弊社のプライバシー慣行は、欧州連合からのデータの収集・使用・保持に関して、米国商務省が定めた欧州連合セーフハーバープログラムに準拠しています。セーフハーバー原則の詳細や弊社の認証ステートメントにアクセスするには、米国商務省のウェブサイト（<a href="http://export.gov/safeharbor/"><span class="s3"><b>http://export.gov/safeharbor/</b></span></a>）をご覧ください。</span><span class="s4">iGames</span><span class="s2">は世界中にサービスを提供しており、</span><span class="s4">iGames</span><span class="s2">が情報を収集、保存、または活用するために使用するコンピュータシステムは米国に所在しています。本プライバシーに関する声明に定める目的で、お客様の個人情報が</span><span class="s4">iGames</span><span class="s2">に転送され、使用、処理、および保存される場合もあります。</span></p>
<p class="p2"><span class="s4">TRUSTe</span><span class="s2">プログラムは、当サイトを通じて収集される情報のみを対象とし、当サイトでダウンロードしたソフトウェアを通じて収集された情報は対象としていません。</span></p>
<p class="p3"><span class="s2"><b>個人情報の収集および使用</b></span><span class="s4"><br>
</span><span class="s2">弊社は、お客様から次の個人情報を収集します。</span></p>
<p class="p4"><span class="s4">a)</span><span class="s2">名前、メールアドレス、郵送先住所、電話番号などの連絡先情報、および</span><span class="s4">b)</span><span class="s2">ユーザー名、アカウント番号、パスワードなどの一意の識別子。また、年齢、学歴、性別、趣味、および郵便番号などの人口統計学的な情報も収集します。ほとんどのウェブサイトと同様に、</span><span class="s4">IP</span><span class="s2">アドレス、ブラウザの種類、参照</span><span class="s4">/</span><span class="s2">終了ページ、オペレーティングシステムなどのお客様のコンピュータに関する情報も自動的に収集されます。弊社は収集した情報を次の目的で使用します。</span></p>
<ul>
  <li class="li2"><span class="s5"></span><span class="s4">Dell</span><span class="s2">の代理で、広告メールを送信します。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">お客様が参加を申し込んだコンテストや懸賞を管理し、当選した場合に通知します。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">メンバーのみが閲覧できるメンバーディレクトリにお客様の情報を載せます。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">イベントに登録すると、お客様のお名前、ニックネームまたはハンドル名、場合によっては居住国が他のユーザーが閲覧できるように当サイトに表示します。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">イベントへの参加をお望みの場合、主催者や関係者に配布される可能性がある特定の個人情報の提供が必要となり、また任意の追加情報を求められることがあります。また、イベントの結果を収集し、他ユーザーが閲覧できるように当サイトに組み込みます。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">第三者の主催者が企画および管理するイベントに参加すると、当該主催者がイベントを運営するために、お客様の個人情報が提供され、結果が公開されます。主催者にお客様の個人情報を提供したくない場合、そのような第三者のイベントへの参加はお控えください。</span></li>
</ul>
<p class="p2"><span class="s2"><b>選択の自由</b></span><span class="s4"><b>/</b></span><span class="s2"><b>オプトアウト</b></span><span class="s4"><br>
</span><span class="s2">弊社からのニュースレターまたはマーケティングメールを、次の方法で停止できます。　　　</span><span class="s4">a) </span><span class="s2">当該メールに記載される購読解除の手続きに従う、</span><span class="s4">b) <a href="http://www.alienwarearena.com/account/unsubscribe"><span class="s3"><b>http://www.alienwarearena.com/account/unsubscribe</b></span></a></span><span class="s2">にお客様のメールアドレスを入力する、または</span><span class="s4">c) <a href="mailto:contact@alienwarearena.com"><span class="s3"><b>contact@alienwarearena.com</b></span></a></span><span class="s2">に連絡する。</span></p>
<p class="p2"><span class="s2">当サイトにおいて、プロフィールを作成し、メッセージ、写真、スクリーンショット、動画などの情報を他ユーザーと共有することができます。弊社は、お客様が自分のページや情報を共有する相手ユーザーの行動を管理することはできません。</span></p>
<p class="p2"><span class="s2"><b>情報共有</b></span><span class="s4"><br>
</span><span class="s2">弊社は、本プライバシーに関する声明で説明する方法でのみ、お客様の個人情報を第三者と共有します。お客様の個人情報を第三者に販売することはありません。</span></p>
<p class="p2"><span class="s2">弊社の事業活動を支援するためのサービスを提供する電子メールサービスプロバイダ、顧客サービス、イベント管理の請負会社、弊社のウェブサイトプロバイダである</span><span class="s4">CEVO, LLC</span><span class="s2">（「</span><span class="s4">CEVO</span><span class="s2">」）などの会社に、お客様の個人情報を提供する場合もあります。弊社ウェブサイトプロバイダの</span><span class="s4">CEVO</span><span class="s2">の詳細については、<a href="http://www.cevo.com"><span class="s3"><b>http://www.cevo.com</b></span></a>をご覧ください。</span><span class="s4"><span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s2">これらの企業は、下記に例として挙げられるサービスを弊社に提供するため、必要に応じてお客様の個人情報を使用することが認められています。</span></p>
<ul>
  <li class="li2"><span class="s5"></span><span class="s2">弊社のサービスプロバイダ経由でお客様にメールを送信すると、同プロバイダにお客様のメールアドレスが提供されます。お客様がイベントに参加すると、イベントのお知らせを伝えるために、お客様の個人情報がイベント管理の請負会社に提供される場合があります。</span><span class="s4"><span class="Apple-converted-space"> </span></span></li>
  <li class="li2"><span class="s5"></span><span class="s4">CEVO Match Network Software</span><span class="s2">（「ソフトウェア」）をダウンロードおよび使用すると、</span><span class="s4">CEVO</span><span class="s2">はお客様のコンピュータに搭載されるネットワークアダプタのハードウェアアドレスやお客様のルーターにアクセスするために必要な情報を収集します。</span><span class="s4"><span class="Apple-converted-space"> </span></span></li>
  <li class="li5"><span class="s5"></span><span class="s2">ソフトウェアをダウンロードおよび使用すると、</span><span class="s4">CEVO</span><span class="s2">はお客様の地理的な位置に関する情報を収集し、これらの地理情報とお客様から収集した個人情報を結び付ける場合があります。</span></li>
</ul>
<p class="p6"><span class="s2">以下の場合にも、お客様の個人情報を開示することがあります。</span></p>
<ul>
  <li class="li6"><span class="s5"></span><span class="s2">召喚状または同類の法的手続きに従うなど、法律によって義務付けられている場合。</span></li>
  <li class="li6"><span class="s5"></span><span class="s2">弊社の権利の保護、お客様または他者の安全の確保、不正調査、または政府の要請に対応するため、開示が必要であると弊社が信ずる場合。</span></li>
  <li class="li6"><span class="s5"></span><span class="s4"> iGames, Inc.</span><span class="s2">が合併、買収、資産の全部または一部の売却に関与する場合、お客様の個人情報の保有や使用上の変更はもとより、個人情報に対するお客様の選択肢について、電子メールまたは弊社ウェブサイト（<a href="http://www.igamesinc.com"><span class="s3"><b>www.igamesinc.com</b></span></a>）で明確にお知らせします。</span></li>
  <li class="li6"><span class="s5"></span><span class="s2">お客様から事前に同意を得た第三者に対する場合。</span></li>
  <li class="li2"><span class="s5"></span><span class="s2">提携ブランドサービスを使用する場合</span><span class="s4"> - </span><span class="s2">この場合、弊社のブランド提携およびマーケティング関係に照らして、ブランド提携パートナーに個人情報を開示することをお客様が許可したものと見なされます。当該情報の取り扱いについては、各パートナー企業のプライバシーポリシーが適用されます。当サイトにおいて、他社と共同サービスを提供する場合もあります。当サイトで提供されるサービスに他社が関与している場合には、そのことが明確に示されます。また、当該会社のサービスの利用に関連して、お客様情報を共有する場合もあります。</span></li>
</ul>
<p class="p2"><span class="s2"><b>クッキーおよびその他の追跡技術</b></span><span class="s4"><br>
</span><span class="s2">クッキーとは、記録保持のためにユーザーのコンピュータに保存される小さなテキストファイルです。弊社は、当サイトで情報を収集するために、クッキーおよびユニバーサルリソースロケータ（</span><span class="s4">URL</span><span class="s2">）や</span><span class="s4">IP</span><span class="s2">アドレスなどのナビゲーションデータを使用しています。クッキーに格納された情報は、当サイトでお客様が提供する個人情報に結び付けられます。</span></p>
<p class="p2"><span class="s2">一部の弊社のビジネスパートナーも、当サイトでクッキーおよびその他の追跡技術を使用しています。弊社は、これらのクッキーにアクセスまたは管理することはできません。第三者から収集されるデータは、集約データとしてのみ収集されます。</span></p>
<p class="p2"><span class="s2"><b>子供について</b></span><span class="s4"><br>
</span><span class="s2">弊社は、</span><span class="s4">13</span><span class="s2">歳未満の子供から意図的に個人情報を収集または要求することはありません。また、</span><span class="s4">13</span><span class="s2">歳未満であることを承知の上で登録を受け付けることはありません。お客様が</span><span class="s4">13</span><span class="s2">歳未満の場合は、当サイトへの登録を試みたり、名前、住所、電話番号、またはメールアドレスなどの個人情報を弊社に送信しないでください。親の同意を得ることなく、</span><span class="s4">13</span><span class="s2">歳未満の子供から個人情報を収集したことを弊社が知った場合、可能な限り早急に当該情報を削除します。弊社が</span><span class="s4">13</span><span class="s2">歳未満の子供の情報を保有している疑いがある場合は、<a href="mailto:contact@alienwarearena.com"><span class="s3"><b>contact@alienwarearena.com</b></span></a>までご連絡ください。</span></p>
<p class="p2"><span class="s4">13</span><span class="s2">歳以上の未成年は、ご自身についての情報をインターネット経由で送信する前に、親の同意を得ることをお勧めします。</span></p>
<p class="p2"><span class="s2"><b>セキュリティ</b></span><span class="s4"><br>
</span><span class="s2">お客様の個人情報の安全性は、弊社にとって極めて重要です。弊社に提出された個人情報は、その送信中および受信後のいずれも、一般に認められている業界標準に従って保護します。残念ながら、インターネット経由のいかなる送信手段や電子貯蔵方法も、</span><span class="s4">100%</span><span class="s2">安全とは言えません。それゆえに、弊社は情報の絶対的な安全性を保証することはできません。</span></p>
<p class="p2"><span class="s2"><b>その他のポリシー情報</b></span><span class="s4"><br>
</span><span class="s2">当サイトでは、公的にアクセス可能なブログやコミュニティフォーラムを提供しています。これらのエリアでお客様が提供するいずれの情報も、当該情報にアクセスするユーザーによって、閲覧、収集、または使用される可能性があることにご注意ください。弊社のブログまたはコミュニティフォーラムからの情報の削除請求は、<a href="mailto:contact@alienwarearena.com"><span class="s3"><b>contact@alienwarearena.com</b></span></a>までお寄せください。場合によっては、お客様の個人情報を削除できないこともあります。この場合は、削除できない旨とその理由をお知らせいたします。</span></p>
<p class="p2"><span class="s2"><b>他ウェブサイトへのリンク</b></span><span class="s4"><br>
</span><span class="s2">当サイトには、弊社が所有または運営していない第三者のウェブサイトへのリンクが含まれています。第三者のウェブサイトにおけるプライバシー慣行に対して、弊社</span><span class="s4">iGames</span><span class="s2">は一切の責任を負わないことをご承知おきください。当サイトを離れて第三者のウェブサイトにアクセスする際には、個人情報を収集する当該ウェブサイトのプライバシーポリシーをお読みになることをお勧めします。</span></p>
<p class="p2"><span class="s2">本プライバシーに関する声明は、当サイトによって収集された情報のみに適用されます。</span></p>
<p class="p2"><span class="s2"><b>個人情報の修正および更新</b></span><span class="s4"><br>
</span><span class="s2">お客様の個人情報に誤りがないようにするための情報の見直しおよび更新については、<a href="mailto:contact@alienwarearena.com"><span class="s3"><b>contact@alienwarearena.com</b></span></a>までご連絡ください。</span></p>
<p class="p2"><span class="s2">弊社は、お客様のアカウントが有効である限り、またはお客様にサービスを提供するために必要な限り、お客様の情報を保持します。アカウントを解約したい場合、またはサービスを提供する目的でお客様の情報を使用することがないよう求める場合には、<a href="mailto:contact@alienwarearena.com"><span class="s3"><b>contact@alienwarearena.com</b></span></a>までご連絡ください。弊社は、法的義務の順守、紛争解決、および契約行使のために、お客様の情報を必要に応じて保持および使用します。請求には、</span><span class="s4">30</span><span class="s2">日以内に対応するものとします。</span></p>
<p class="p2"><span class="s2"><b>プライバシーに関する声明への変更</b></span><span class="s4"><br>
</span><span class="s2">弊社の情報の取り扱いについての変更を反映するため、本プライバシーに関する声明を更新する場合があります。重要な変更を行う場合、事前に電子メール（お客様アカウントで登録されたメールアドレス宛）または当サイトでお知らせするものとします。このページを定期的にご覧いただき、弊社の情報の取り扱いに関する最新情報を確認することをお勧めします。</span></p>
<p class="p2"><span class="s2"><b>お問い合わせ先</b></span><span class="s4"><br>
</span><span class="s2">下記のメールアドレスまたは住所にお問い合わせください。</span></p>
<p class="p1"><span class="s2">iGames, Inc. 201 San Antonio Circle, Suite 260 Mountain View, CA 94040</span></p>
<p class="p7"><span class="s6"><a href="mailto:contact@alienwarearena.com"><b>contact@alienwarearena.com</b></a></span></p>
