<p>With a vision of uniting PC gamers around the world, Alienware Arena is THE place for free gaming content, event coverage, tournaments, and advice for all PC gamers.</p>

<p><a href="{{ path('fos_user_registration_register') }}">Joining Alienware Arena</a> is <strong><span style="text-decoration:underline">FREE</span></strong> and members receive access to the most exclusive in-game items and early beta access to some of the most sought after pre-released games.</p>

<p>Alienware Arena provides a friendly and knowledgeable forum community for all PC gamers.</p>

<p>Alienware Arena events are managed by the following operators:</p>

<h2>About iGames</h2>

<img src="http://alienwarearena.com/images/igames.gif" />

<p>iGames specializes in experiential marketing for the gaming and technology industry with a broad range of services including live and online event management, promotions, trials and community development programs. Since 1996, iGames has been working with leading game publishers, hardware vendors, consumer goods companies and online media outlets to reach and engage millions of gamers. iGames supports and enhances the interactive gaming experience to help grow social gaming communities. For more information, please visit <a href="http:www.igamesinc.com/" target="_blank">www.igamesinc.com</a>.</p>

<h2>About CEVO</h2>

<img src="http://alienwarearena.com/images/cevo.gif" />

<p>Developed by professionals, influenced and designed by gamers, targeting the generation of tomorrow by providing professional consulting, event management, and web development services to B2B and B2C marketplaces, CEVO is simply being your best, trying your hardest, and never giving up, yet as complex as the spirit of the Generation it symbolizes. CEVO platforms, portals, and events exemplify the spirited races of man against man, where every skill is measured, every epic analyzed, and every fault seen only to become a statistic. <a href="http://www.cevo.com" target="_blank">www.cevo.com</a>.</p>
