<p>Alienware Arena&trade; is an on-going series of contests and promotions presented by Alienware® and held online and at LAN parties, LAN centers, trade shows, retail locations, and other special events.</p>

<p>Meet and compete against rival gamers in head-to-head and team tournaments for opportunities to win cash and high-performance Alienware gear or simply join in on discussions about your favorite existing and upcoming PC games. </p>

<p>Create an Alienware Arena account to connect with other players and get in on special promotions, and check back here regularly for new program announcements and details.</p>		<h2 id="operators"><span></span>Operators</h2>

<p>Alienware Arena events are managed by the following operators:</p>

<h2>About iGames</h2>

<img src="http://alienwarearena.com/images/igames.gif" />

<p>iGames, Inc is an event management and marketing services company specialized in experiential marketing for the video games and technology industries. Since 1996, iGames has been working with leading game publishers, hardware vendors, consumer goods companies and online media outlets to reach and engage millions of gamers. iGames&#39; events and technology support and enhance the interactive gaming experience to help grow social gaming communities. For more information, please visit <a href="http://www.igamesinc.com/" target="_blank">www.igamesinc.com</a>.</p>

<h2>About CEVO</h2>

<img src="http://alienwarearena.com/images/cevo.gif" />

<p>CEVO is North America&#39;s leading competitive online gaming venue. Through its revolutionary technologies and steadfast commitment to high-quality customer support, CEVO has professionalized online eSports. For more information about CEVO, go to <a href="http://www.cevo.com/" target="_blank">www.cevo.com</a>.</p>

<h2>About E-Rev</h2>

<img src="http://alienwarearena.com/images/logo-e-rev.png" />

<p>Founded in 2007, Electronic Revolution is the premier E-Sports media broadcasting company in North America. E-Rev offers stunning live match coverage and unforgettable voices to gamers wishing to view their favorite games, players, leagues, and teams. For more information visit <a title="http://www.e-rev.tv" href="http://www.e-rev.tv" target="_blank">www.e-rev.tv</a></p>
