<p>Con una visión de unir a jugadores de PC de todo el mundo, Alienware Arena es EL lugar para contenido gratis de juego, cobertura de eventos, torneos, y asesoría para todos los jugadores de PC.</p>

<p><a href="{{ path('fos_user_registration_register') }}">Unirse a Alienware Arena es GRATIS</a> y miembros reciben acceso a los más exclusivos artículos dentro los juegos y acceso beta pronto para algunos de los más buscados juegos pre-lanzados.</p>

<p>Alienware Arena ofrece un foro comunitario amistoso y bien informado para todos los jugadores de PC.
</p>

<p>Los eventos de Alienware Arena son manejados por los siguiente operadores:</p>

<h2>Acerca de iGames</h2>

<img src="http://alienwarearena.com/images/igames.gif" />

<p>iGames, Inc. es una compañía de gestión y servicios de comercialización, especializada en comercialización vivencial para las industrias de video juegos y tecnología. Desde 1996, igames ha estado trabajando con las principales editores de juegos, vendedores de hardware, compañias bienes de consumo y en línea medios de comunicación para alcanzar y enlazar millones de jugadores. Los eventos y tecnologia de iGames apoya y mejora la experiencia de juego interactiva para ayudar a cultivar las comunidades sociales de jugadores. Para más información, favor de vistar <a href="http://www.igamesinc.com/" target="_blank">www.igamesinc.com</a>.</p>

<h2>About CEVO</h2>

<img src="http://alienwarearena.com/images/cevo.gif" />

<p>CEVO es el punto de reunión principal Norte Americano para juegos competitivos en linea . A través de sus tecnologías revolucionarias y firme compromiso de alta calidad soporte al cliente, CEVO a profesionalizado eSports en línea. Para más información sobre CEVO, ir a <a href="http://www.cevo.com/" target="_blank">www.cevo.com</a>.</p>
