<h3>Alienware Arenaとは</h3>

<p>
Alienware Arenaは、デルのゲーミングパソコンブランドALIENWAREが主催するPCゲーマーのためのコミュニティサイトです。1対1またはチーム対抗のオンラインゲームトーナメントでライバルと対戦し賞金や景品を獲得できたり、特別なゲーム内アイテム、ゲーム用デバイス、新作ゲームのテストに参加するコードが獲得できるなど、PCゲーマーにさまざまなイベントやホットな情報を提供します。まずはあなたのアカウントを作成しログインしてください。さまざまなイベントに参加することができるようになります。
</p>

<h3>利用料金無料</h3>

<p>
Alienware Arenaは完全無料サイトです。利用料の請求や課金等は一切ありませんのでご安心ください。
</p>

<h3>サイト運営者</h3>

<p>
    Alienware Arenaの運営、各種イベントは、デルの委託先であるiGames Inc.(以下iGames)によって管理されています。iGamesは、ビデオゲームやエレクトロニクス業界の体験型イベントを提供することに特化したサービス会社です。1996年の設立以降、iGamesはさまざまなパートナー企業と協力してゲーマーのためのサービスを提供し、そのイベントとテクノロジーは、インタラクティブなゲーム体験を支援・促進し、ソーシャルゲームコミュニティの発展に貢献しています。詳しくは、<a href="http://www.igamesinc.com">www.igamesinc.com</a>をご覧ください。
</p>