<p>
ALIENWARE ARENAは世界中のＰＣゲーマーをつなぐことを目指し、無料のゲームコンテンツ、イベント報道、トーナメント運営およびPCゲームに関するアドバイスを行います。
</p>

<p>
    ALIENWAREARENAへの加入は　無料です。<br />
    また、会員はインゲームアイテムや、アーリーベータへのアクセス権などが受け取れます。
</p>

<p>ALIENWARE ARENAはすべてのPCゲーマーに親しまれ、知識の豊富なフォーラム・コミュニティーを提供します。</p>

<h3>利用料金無料</h3>

<p>
Alienware Arenaは完全無料サイトです。利用料の請求や課金等は一切ありませんのでご安心ください。
</p>

<h3>サイト運営者</h3>

<p>
    Alienware Arenaの運営、各種イベントは、デルの委託先であるiGames Inc.(以下iGames)によって管理されています。iGamesは、ビデオゲームやエレクトロニクス業界の体験型イベントを提供することに特化したサービス会社です。1996年の設立以降、iGamesはさまざまなパートナー企業と協力してゲーマーのためのサービスを提供し、そのイベントとテクノロジーは、インタラクティブなゲーム体験を支援・促進し、ソーシャルゲームコミュニティの発展に貢献しています。詳しくは、<a href="http://www.igamesinc.com">www.igamesinc.com</a>をご覧ください。
</p>

