<p>
Alienware Arena™は、Alienware®主催の一連のコンテストやプロモーションのことで、オンライン、LANパーティー、LANセンター、展示会、小売店、およびその他の特別イベントで開催されています。
</p>
<p>
1対1またはチーム対決のトーナメントでライバルゲーマーと対戦し、現金や高性能な Alienware周辺機器を獲得したり、お気に入りの現存または近日発売予定の PC ゲームについて話し合えます。
</p>
<p>
Alienware Arenaアカウントを作成すると、他のプレーヤーと交流したり、特別なプロモーションに参加できます。新しいプログラムのお知らせや詳細を随時掲載しておりますので、定期的にAlienware Arenaを訪れてください。
</p>
<p>
運営者
</p>
<p>
Alienware Arenaの各種イベントは、次の運営者によって管理されています。
</p>
<p>
iGamesについて
</p>
<p>
iGames, Incは、ビデオゲームやハイテク業界の体験マーケティングに特化したイベント管理およびマーケティングサービス会社です。1996年の設立以降、iGamesは数百万ものゲイマーに働きかけ、取り込むために、大手ゲーム出版社、ハードウェアベンダー、消費財メーカー、オンラインメディア直販店と協力してきました。iGamesのイベントとテクノロジーは、インタラクティブなゲーム体験を支援・促進し、ソーシャルゲームコミュニティの発展に貢献しています。詳しくは、<a href="http://www.igamesinc.com">www.igamesinc.com</a>をご覧ください。
</p>
