<p>
ALIENWARE竞技场是由DELL®公司旗下品牌ALIENWARE®推出的，通过互联网、局域网、贸易展会、零售地点和和其他特殊活动场所举行的一系列竞赛与活动推广的平台。
</p>

<p>
通过与对手玩家展开激流斗争，并参加团体赛获得赢取现金和高级 Alienware工具的机会，或者仅仅与玩家们讨论您最喜欢的现有游戏和即将发布的游戏。
</p>

<p>
创建ALIENWARE竞技场账号与其他玩家沟通交流，参加特价促销活动；或返回首页了解最新的玩家资讯。
</p>

<p>
经营者
</p>

<p>
ALIENWARE竞技场项目的承办方：
</p>

<p>
关于iGames
</p>

<p>
iGames股份有限公司是一家比赛项目管理和营销服务公司，专注于对视频游戏和科技行业的体验式营销。自1996年起，iGames就与主流游戏发行商、硬件供应商、消费品公司以及网络媒体合作，以便于为数以百万的游戏玩家提供游戏服务。iGames的比赛项目和技术能够支持并提高游戏互动体验，帮助社会性游戏社团的发展壮大。更多关于iGames的信息，敬请登陆<a href="http://www.igamesinc.com">www.igamesinc.com</a>网站了解。
</p>
