<script type="text/javascript">

    function addRestrictionForm(collectionHolder, $newLinkTr) {
        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);


        var $newFormTr = $('<tr class="span5 image-tr"></tr>').append(newForm);
        $newFormTr.hide();
        $newLinkTr.before($newFormTr);
        $newFormTr.fadeIn();

        addRestrictionFormDeleteLink($newFormTr);

        // a bit ugly, but we need a clear after each "row"
        if ((collectionHolder.find('.image-tr').length % 2) == 0) {
            $newLinkTr.before($('<tr class="clear"></tr>'));
        }
    }

    function addRestrictionFormDeleteLink($tagFormTr) {
        var $removeFormA = $('<a href="#" class="close">&times;</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();


            $tagFormLi.fadeOut('normal', function() {
                $tagFormLi.remove();
            });
        });
    }

    jQuery(document).ready(function() {
        // Get the div that holds the collection of tags
        var collectionHolder = $('ul.rules');

        // setup an "add a tag" link
        var $addTagLink = $('<div class="wrap"><a href="#" class="add_tag_link btn btn-primary"><i class="icon-plus icon-white"></i> Add another</a></div>');
        var $newLinkTr = $('<tr class="span5 new-link"></tr>').append($addTagLink);

        // add delete links to existing elements
        collectionHolder.find('tr.existing-element').each(function() {
            addRestrictionFormDeleteLink($(this));
        });

        jQuery(document).ready(function() {

            collectionHolder.append($newLinkTr);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addRestrictionForm(collectionHolder, $newLinkTr);
            });
        });
    });

</script>
