<div style="padding:10px 0 20px 0;">
	<div style="display:inline-table;padding-right: 10px;"><a href="{{ path('admin_index') }}">Admin Home</a></div>
	<div style="display:inline-table;padding-right: 10px;"><a href="{{ path('admin_events_index') }}">Manage Events</a></div>
	<div style="display:inline-table;padding-right: 10px;"><a href="#">Manage Users</a></div>
	<div style="display:inline-table;padding-right: 10px;"><a href="#">Manage Content</a></div>
</div>