{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Alienware Arena Admin</h1>
  <p>Welcome to the Alienware Arena admin area - choose the section you want on the left.</p>
</div>
{% endblock %}

