{# Removes the underscroe label thing #}
{% block generic_label %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-lbl'}) %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {% if required %}
            <span class="required">*</span>
        {% endif %}
        {{ label|trans }}
    </label>
{% endspaceless %}
{% endblock %}
