#needHelp {
    background: url("../../Resources/public/images/recentForumPosts-bg.gif") no-repeat scroll left top transparent;
    width: 300px;
}
#needHelp h3 {
    height: 32px;
    position: relative;
    width: 300px;
}
#needHelp h3 span {
    background: url("../../Resources/public/images/account/login/needHelp-header.gif") no-repeat scroll left top transparent;
    height: 100%;
    position: absolute;
    width: 100%;
}
#needHelp .cats {
    list-style: none outside none;
    padding: 5px 10px 0 15px;
}
#needHelp .cat {
    font-size: 15px;
    font-weight: bold;
}
#needHelp .items {
    list-style: none outside none;
    padding: 10px 10px 0;
}
#needHelp .item {
    font-style: normal;
    font-weight: normal;
    height: 26px;
    overflow: hidden;
    padding-bottom: 2px;
}
#needHelp .footer {
    background: url("../../Resources/public/images/recentForumPosts-footer-bg.gif") no-repeat scroll left top transparent;
    clear: both;
    height: 36px;
    width: 300px;
}
#btnGoToSupport {
    padding-right: 10px;
    padding-top: 6px;
}
#btnGoToSupport a {
    background-image: url("../../Resources/public/images/btnGoToSupport-gray.gif");
    float: right;
    width: 136px;
}
#accountHeader ul {
    list-style: none outside none;
    padding: 136px 5px 0;
    width: 100%;
}
#accountHeader li {
    float: left;
    font-weight: bold;
    padding: 0 8px;
}
#accountHeader li a {
    color: #E1E1E1;
}
#content .control_panel {
    margin-bottom: 15px;
    padding-bottom: 0;
}
#content .control_panel .clr {
    clear: both;
    height: 1px;
    width: 100%;
}
#tasks {
    width: 100%;
}
#tasks ul {
    float: left;
    padding-right: 10px;
    width: 200px;
}
#tasks ul li {
    margin-left: 15px;
}
#regStats {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #333333;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}
#regStats th {
    background: none repeat scroll 0 0 #2A9DBE;
    color: #FFFFFF;
    text-align: left;
}
#regStats th, #regStats td {
    padding: 3px;
}
#transferArea .error {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 425px;
}
#transferArea .error .title {
    color: #C62828;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}
#transferArea .error .message {
    border-left: 4px solid #C62828;
    border-right: 4px solid #C62828;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px;
}
#forgotPassArea .error {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 425px;
}
#forgotPassArea .error .title {
    color: #C62828;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}
#forgotPassArea .error .message {
    border-left: 4px solid #C62828;
    border-right: 4px solid #C62828;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px;
}
#forgotPassArea .info {
    margin: 0 auto;
    padding-top: 15px;
    width: 425px;
}
#forgotPassArea .forgot {
    font-size: 12px;
    padding: 0 0 20px;
    text-align: center;
}
#client_instructions ol {
    margin-bottom: 12px;
    margin-left: 25px;
}
#client_instructions ol li {
    margin-bottom: 4px;
    margin-top: 4px;
}
.receiver {
    color: #00789E;
}
#omni #page #boardList {
    background-image: url("../../Resources/public/images/account/messages-bg.png");
}
#omni #page #topicView {
    background-image: url("../../Resources/public/images/account/messages-bg.png");
}
#omni #page #boardList h2, #omni #page #topicView h2 {
    color: #B3B3B3;
    font-family: "verdana";
    font-size: 24px;
    margin-top: 10px;
    padding: 0;
}
#omni #page #boardList .sectionHeader h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 8px 0 5px 55px;
}
#omni #page #topicView h2.topic-title {
    color: #00789E;
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 15px;
}
#boardList .sectionHeader {
    background: url("../../Resources/public/images/forums/section-bg.png") no-repeat scroll right top transparent;
    height: 42px;
    padding: 0;
}
#omni #page #boardList {
    padding-top: 10px;
    width: 100%;
}
#swfupload-control p {
    font-size: 0.9em;
    margin: 10px 5px;
}
#log {
    margin: 0;
    padding: 0;
    width: 500px;
}
#log li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    list-style-position: inside;
    margin: 2px;
    padding: 10px;
    position: relative;
}
#log li .progressbar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #333333;
    height: 5px;
}
#log li .progress {
    background: none repeat scroll 0 0 #999999;
    height: 5px;
    width: 0;
}
#log li p {
    line-height: 18px;
    margin: 0;
}
#log li.success {
    background: none repeat scroll 0 0 #CCF9B9;
    border: 1px solid #339933;
}
#log li span.cancel {
    background: url("../../Resources/public/css/js/swfupload/cancel.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
}
.description {
    font-size: 11px;
}
table.uploadedFiles .header {
    font-weight: bold;
    text-align: center;
}
table.uploadedFiles td {
    padding: 2px 20px 2px 0;
}
#change-password table {
    width: 500px;
}
