/* notices */
.xnotices {
    display: none;
    position: fixed;
    max-width: 30%;
    right: 10px;
    top: 50px;
    z-index: 99;
}
.xnotices .notice {
    margin-bottom:6px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: linear-gradient(white, #eee);
    border: 1px solid #bbb;
    box-shadow: #bbb 5px 5px 10px;
    -moz-box-shadow: #bbb 5px 5px 10px;
    -webkit-box-shadow: #bbb 5px 5px 10px;
}
.xnotices h3 {
    font-size:18px;
    font-weight:bold;
    margin: 20px 20px 0px;
}

.xnotices .infoNotice h3 { color:#2faad9; }
.xnotices .successNotice h3 { color: #139E3A;}
.xnotices .warningNotice h3 { color: #F0A70E; }
.xnotices .errorNotice h3 { color:#DF3232; }

.xnotices p {
    margin: 0px 20px;
    color:#000000;
}