<div class="ad_728x90 ad">
{% if app.session.locale == 'ja' %}
    <!-- 728x90_JP -->
    <div id='div-gpt-ad-1336154141967-1' style='width:728px; height:90px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1336154141967-1'); });
        </script>
    </div>
{% elseif app.session.locale == 'zh' %}
   <!-- 728x90_CN -->
    <div id='div-gpt-ad-1336154036610-1' style='width:728px; height:90px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1336154036610-1'); });
        </script>
    </div>
{% else %}
   <!-- Begin -  Site: Alienware Zone: Arena_728x90 -->
    <script language="javascript"  type="text/javascript">
        <!--
        var browName = navigator.appName;
        var SiteID = 2;
        var ZoneID = 45;
        var browDateTime = (new Date()).getTime();
        if (browName=='Netscape')
        {
        document.write('<s'+'cript lang' + 'uage="jav' + 'ascript" src="http://www.igames.org/bmp7/a.aspx?ZoneID=' + ZoneID + '&amp;Task=Get&amp;IFR=False&amp;Browser=NETSCAPE4&amp;PageID=5955&amp;SiteID=' + SiteID + '&amp;Random=' + browDateTime + '">'); document.write('</'+'scr'+'ipt>');
        }
        if (browName!='Netscape')
        {
        document.write('<s'+'cript lang' + 'uage="jav' + 'ascript" src="http://www.igames.org/bmp7/a.aspx?ZoneID=' + ZoneID + '&amp;Task=Get&amp;IFR=False&amp;PageID=5955&amp;SiteID=' + SiteID + '&amp;Random=' + browDateTime + '">'); document.write('</'+'scr'+'ipt>');
        }
        // -->
    </script>
    <noscript>
        <a href="http://www.igames.org/bmp7/a.aspx?ZoneID=45&amp;Task=Click&amp;Mode=HTML&amp;SiteID=2&amp;PageID=5955" target="_blank">
        <img src="http://www.igames.org/bmp7/a.aspx?ZoneID=45&amp;Task=Get&amp;Mode=HTML&amp;SiteID=2&amp;PageID=5955" width="728" height="90" border="0"  alt=""></a>
    </noscript>
    <!-- End -  Site: Alienware Zone: Arena_728x90 -->
{% endif %}
</div>
