<div id="mainAd">
{% if app.session.locale == 'ja' %}
    <!-- 300x250_JP -->
    <div id='div-gpt-ad-1336154141967-0' style='width:300px; height:250px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1336154141967-0'); });
        </script>
    </div>
{% elseif app.session.locale == 'zh' %}
    <!-- 300x250_CN -->
    <div id='div-gpt-ad-1336154036610-0' style='width:300px; height:250px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1336154036610-0'); });
        </script>
    </div>
{% else %}
    <!-- 300x250 -->
    <div id='div-gpt-ad-1345235443936-0' style='width:300px; height:250px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1345235443936-0'); });
        </script>
    </div>
{% endif %}
</div>

