<div class="widget-33">
	<div class="widget-header" style="height: 36px;">
		<div class="widget-title" style="width: 230px; float: left;">Forums & Comments</div>
		<div class="widget-icon"><img src="/bundles/spoutlet/images/forums-icon.png" /></div>
		<div class="clear"></div>
	</div>
	<div class="widget-content" style="height: 288px;">
		{% if posts is defined %}
			{% for post in posts %}
				{% include 'SpoutletBundle:Default:_forumPostItem.html.twig' with { 'post': post } %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="widget-footer">
		<a href="#" class="aw-link" id="more-news-link">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
		<div class="clear"></div>
	</div>
</div>
