<div class="widget-66">
    <div class="widget-header">
        <div class="widget-title">Groups</div>
        <div class="clear"></div>
    </div>
    <div class="widget-content" style="height: 287px;">
    </div>
    <div class="widget-footer">
        <a href="#" class="aw-link" id="more-news-link">{{ 'platformd.layout.page_content.see_more' | trans }}</a>
        <div class="clear"></div>
    </div>
</div>