{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ 'platformd.layout.top_menu.contact' | trans }}{% endblock %}

{% block content %}
<div class="contact">
    <h1 class="margin-bottom">{{ 'platformd.layout.top_menu.contact' | trans }}</h1>

    {% include ['SpoutletBundle:Default:contact/' ~ app.session.locale ~ '.html.twig', 'SpoutletBundle:Default:contact/en.html.twig'] %}
</div>
{% endblock %}
