<div class="widget-66" id="featured-content">
	<div class="featured-content-header">
		<a href="javascript:void(0);" class="active" id="featured">Featured</a>
		<a href="javascript:void(0);" id="giveaway">Giveaways</a>
		<a href="javascript:void(0);" id="competition">Competitions</a>
		<a href="javascript:void(0);" id="full">All</a>
		<div style="clear: left;"></div>
	</div>
    <div class="widget-content">
    	<div id="featured-content-featured" class="featured-content-category active"></div>
    	<div id="featured-content-giveaway" class="featured-content-category"></div>
    	<div id="featured-content-competition" class="featured-content-category"></div>
        <div id="featured-content-full" class="featured-content-category">
        	{% for event in all_events %}
            <div class="widget-item">
                <a class="widget-link" href="{{ path('events_detail', { 'slug' : event.slug }) }}">{{ event.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="widget-footer">
        <a href="http://www.alienwarearena.com/event/" class="aw-link">See more</a>
        <div class="clear"></div>
    </div>
</div>