{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        <img class="left-ad" src="{{ 'platformd.layout.page_content.deals_add_url' | trans }}" />
    </div>

    <div class="left">
        <div id="rotator">
            <img src="{{ 'platformd.layout.page_content.landing_image_url' | trans }}" />
        </div>
    </div>
</div>
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        {% render 'SpoutletBundle:Default:featuredContent' %}
    </div>
</div>
{% endblock %}



