{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>

    <div class="left">
        <div id="rotator">
            {% render url('banner') %}
        </div>
    </div>
</div>
<div class="std_2col">
    <div class="left">
            {% render url('featured_content') %}
            {% if features.hasGroups %}
                {% render url('_groups_index') %}
            {% endif %}
            {% if features.hasVideo %}
                {% render url('video_feed', {'height': '287'}) %}
            {% endif %}
            {% if features.hasArp and features.hasPolls %}
                <div id="arp-widget">{% render url('_arp_index') %}</div>
                <div id="poll-widget">{% render url('_polls_index') %}</div>
            {% endif %}
    </div>
    <div class="right">
        {% if features.hasNews %}
            {% render url('hot_stories') %}
        {% endif %}

        {% if features.hasForums %}
            {% include "SpoutletBundle:Default:_forums.html.twig" %}
        {% endif %}

        {% if features.hasPhotos and not features.hasStaticPhotoWidget %}
            {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' with {'height': '288px'} %}
        {% else %}
            {% include 'SpoutletBundle:Default:_staticPhotoWidget.html.twig' with {'height': '288px'} %}
        {% endif %}

    </div>
</div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/video/css/youtube.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/group/css/groups.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.resize.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.ellipse').truncate({
                width: '160'
            });
            $('.news-ellipse').truncate({
                width: '250'
            });
            $('.home-more-videos-link a').truncate({
                width: '130'
            });
            $('.ellipse').qtip();

            $('.news-ellipse-first').truncate({
                width: '400'
            });

            $('.group-index-link').truncate();

            $('#news-content').mCustomScrollbar();

            $('div#featured-content').mCustomScrollbar();

            $(".featured-content-header a").click(function() {
                    var id = $(this).attr("id");
                    $(".featured-content-header a.active").removeClass("active");
                    $(this).addClass("active");
                    $(".featured-content-category").removeClass('active');
                    $(".featured-content-category#featured-content-"+id).addClass('active');
                    // show the widget footer
                    $(".widget-footer #featured-footer-"+id).show();
                    $('#featured-content').resize();
                    $('#featured-content').mCustomScrollbar('update');
            });
        });
    </script>
{% endblock %}

