{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>

    <div class="left">
        <div id="rotator">
            {% render "SpoutletBundle:Default:banner" %}
        </div>
    </div>
</div>
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
        {% render 'SpoutletBundle:Default:hotStories' %}
    </div>
    <div class="left">
        {% render 'SpoutletBundle:Default:featuredContent' %}
        {% if app.session.locale == 'zh' or app.session.locale == 'ja' %}
            {% render 'SpoutletBundle:Default:videoFeed' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.resize.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.ellipse').truncate({
                width: '160'
            });
            $('.news-ellipse').truncate();
            $('.ellipse').qtip();

            $('.widget-content').mCustomScrollbar();
            $(".featured-content-header a").click(function() {
                    var id = $(this).attr("id");
                    $(".featured-content-header a.active").removeClass("active");
                    $(this).addClass("active");
                    $(".featured-content-category").removeClass('active');
                    $(".featured-content-category#featured-content-"+id).addClass('active');
                    // show the widget footer
                    $(".widget-footer #featured-footer-"+id).show();
                    $('.widget-content').resize();
                    $('.widget-content').mCustomScrollbar('update');
            });
        });
    </script>
{% endblock %}

