{% extends 'SpoutletBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var GROUPS = [];
        var HITS = [];

        function processGroup(index, comparator) {
            var group = GROUPS[index];

            if(comparator(group)) {
                return;
            }

            HITS.push(group);
        }

        function renderHits() {
            var col1 = $("#groups-col1");
            var col2 = $("#groups-col2");

            col1.empty();
            col2.empty();

            for (var i=0; i<HITS.length; i+=2) {
                var group = HITS[i];

                col1.append("<li><a href=\""+group.url+"\">"+group.name+"</a></li>");

                if(i+1<HITS.length) {
                    var group2 = HITS[i+1];
                    col2.append("<li><a href=\""+group2.url+"\">"+group2.name+"</a></li>");
                }
            }

            HITS = [];
        }

        function updateSearchResults(comparator) {
            for(var i=0; i<GROUPS.length; i+=2) {
                processGroup(i, comparator);
                if(i+1<GROUPS.length) {
                    processGroup(i+1, comparator);
                }
            }
            renderHits();
        }

        jQuery(document).ready(function($) {
            var url = '{{ path('api_all_groups') }}';

            var featuredTopicsComparator = function(group) {
                return !group.isTopic || !group.isFeatured;
            };

            var topicComparator = function (group) {
                var topic = searchBox.val().toLowerCase();
                return group.name.toLowerCase().indexOf(topic) == -1;
            };

            $.getJSON(url, null,
                function(data) {
                    //Initially populate with all groups
                    GROUPS = data.groups;
                    if(GROUPS) {
                        updateSearchResults(featuredTopicsComparator);
                    }
                });

            //Register search callback
            var globalTimeout = null;
            var searchBox = $('#groups-by-topic-search');
            searchBox.keyup(function() {
                var topic = searchBox.val();
                var comparator = (topic == '') ? featuredTopicsComparator : topicComparator;
                updateSearchResults(comparator);
            });

            var socialPanel = $('#socialPanel');
            var showSocialPanel = $('#showSocialPanel');

            showSocialPanel.hover(function(){
                socialPanel.fadeIn();

                socialPanel.mouseleave(function(){
                    $(this).fadeOut();
                });
            });
        });

    </script>
{% endblock %}


{% block content %}

    <div id="contentLftMP">

        <div id="socialWidget" class="card nopad">
            <h3 class="blu midpad" id="showSocialPanel">Share</h3>
        </div>

        <div id="socialPanel" class="card nopad hidden">
            <div class="smallpad">
                <div class="fb-like left spcr-r3" data-href="{{ path('default_index') }}" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
                <a href="https://twitter.com/share" class="twitter-share-button right" data-hashtags="campsite" data-count="vertical">Tweet</a>
                <div class="clr"></div>
            </div>
        </div>

        <div id="group-by-topic">
            <h2 class="spcr-b2">Find a Group by Name or Topic</h2>

            <input id="groups-by-topic-search" type="text" size="80" placeholder="Enter Topic" autocomplete="off">

            <div class="group-list">
                <ul id="groups-col1">
                </ul>
            </div>

            <div class="group-list">
                <ul id="groups-col2">
                </ul>
            </div>
        </div>

        <hr>

        <h2 class="left">Popular Groups</h2>

        <a href="{{ path('group_new') }}" class="right spcr-l2 spcr-b3 btn bld bgBtn">Create Group &rsaquo;</a>
        {% render url('_popular_groups') %}

        <br class="clr"/>
    </div>

    <div id="contentRtMP">
        {% render (controller('SpoutletBundle:Default:groupsMap')) %}
        <hr class="clr">
        {% render (controller('SpoutletBundle:Default:groupEvents')) %}
    </div>

{% endblock %}
