{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>

    <div class="left">
        <div id="rotator">
            {% render url('banner') %}
        </div>
    </div>
</div>
<div id="row-2" class="std_2col">
    <div class="right">
        {% render url('hot_stories') %}
    </div>
    <div class="left">
        {% render url('featured_content') %}
    </div>
</div>
{% if features.hasGroups and features.hasVideo %}
<div id="row-3" class="std_2col">
    <div class="right">
        {% include "SpoutletBundle:Default:_forums.html.twig" %}
    </div>
    <div class="left">
        {% render url('_groups_index') %}
    </div>
</div>
<div id="row-4" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        {% render url('video_feed') %}
    </div>
</div>
{% else %}
<div id="row-3" class="std_2col">
    <div class="right">
        {% include "SpoutletBundle:Default:_forums.html.twig" %}
    </div>
    <div class="left">
        {% render url('video_feed', {'height': '288'}) %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/video/css/youtube.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/group/css/groups.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.resize.min.js"></script>
    <script type="text/javascript" src="/bundles/spoutlet/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.ellipse').truncate({
                width: '160'
            });
            $('.news-ellipse').truncate({
                width: '250'
            });
            $('.home-more-videos-link a').truncate({
                width: '130'
            });
            $('.ellipse').qtip();

            $('.group-index-link').truncate();

            $('#news-content').mCustomScrollbar();

            $('div#featured-content').mCustomScrollbar();

            $(".featured-content-header a").click(function() {
                    var id = $(this).attr("id");
                    $(".featured-content-header a.active").removeClass("active");
                    $(this).addClass("active");
                    $(".featured-content-category").removeClass('active');
                    $(".featured-content-category#featured-content-"+id).addClass('active');
                    // show the widget footer
                    $(".widget-footer #featured-footer-"+id).show();
                    $('#featured-content').resize();
                    $('#featured-content').mCustomScrollbar('update');
            });
        });
    </script>
{% endblock %}

