{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
    </div>

    <div class="left">
        <div id="rotator">
            {% render "SpoutletBundle:Default:banner" %}
        </div>
    </div>
</div>
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        {% render 'SpoutletBundle:Default:featuredContent' %}
    </div>
</div>
{% endblock %}



