{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<div id="row-1" class="std_2col">
    <div class="right">
        <div id="mainAd"></div>
    </div>

    <div class="left">
        <div id="rotator">
            <object width="634" height="250" align="middle" id="main" codebase=
            "http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
            classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                <param value="sameDomain" name="allowScriptAccess" />
                <param value="/bundles/spoutlet/images/rotator.swf?_t=1314978983" name="movie" />
                <param value="high" name="quality" />
                <param value="#000000" name="bgcolor" />
                <param value=
                "file=http://www.alienwarearena.com/aw-cdn/xml-config-files/image-rotator-1.xml?_t=1314978983"
                name="FlashVars" />
                <param value="transparent" name="wmode" />
                <embed width="634" height="250" align="middle" wmode="transparent" pluginspage=
                "http://www.macromedia.com/go/getflashplayer" type=
                "application/x-shockwave-flash" allowscriptaccess="sameDomain" name=
                "image-rotator" flashvars=
                "file=http://www.alienwarearena.com//aw-cdn/xml-config-files/image-rotator-1.xml?_t=1314978983"
                bgcolor="#000000" quality="high" autostart="true" src="/bundles/spoutlet/images/rotator.swf" />
            </object>
        </div>
    </div>
</div>
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        {% render 'SpoutletBundle:Default:featuredContent' %}
    </div>
</div>
{% endblock %}



