{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="microsoft">
    <a href="{{ site_link('ALIENWARE_LINK_ADDRESS') }}" target="_blank" class="ga-trackable" data-category="ad" data-action="click" data-label="microsoft full page banner">
        <img src="{{ asset('images/'~image) }}" />
    </a>
</div>
{% endblock %}
