{% extends "SpoutletBundle::layout.html.twig" %}

{% block title %}{{ "platformd.microsoft.title" | trans }}{% endblock %}

{% block content %}

<div id="content" class="microsoft">
    <a href="{{ url }}">
        <img src="/images/microsoft-microsite.in.jpg" />
        <img src="{{ asset('images/'~image) }}" />
    </a>
</div>
{% endblock %}
