{% extends "SpoutletBundle::layout.html.twig" %}

{% block title %}{{ "platformd.microsoft.title" | trans }}{% endblock %}

{% block content %}
<div id="content" class="microsoft">
    <a href="http://www1.euro.dell.com/content/topics/segtopic.aspx/alienware?c=uk&cs=ukdhs1&l=en&s=dhs&~ck=mn">
        <img src="/images/microsoft-microsite.in.jpg" />
    </a>
</div>
{% endblock %}
