{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="microsoft">
    <a href="{{ 'platformd.general.alienware_link_url' | trans }}" target="_blank">
        <img src="{{ asset('images/'~image) }}" />
    </a>
</div>
{% endblock %}
