{% extends "SpoutletBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="military">
    <div class="std_2col">
        <div class="right">
            <div class="widget-33">
                <div class="widget-content" style="text-align: center;">
                    <img src="{{ asset('bundles/spoutlet/images/military/military_group_banner_280x250.jpg') }}" alt="Military Group" style="margin: 5px auto;" />
                </div>
                <div class="widget-footer">
                    <a href="#" class="aw-link">See More</a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="widget-33" style="padding-top: 0; margin-top: -40px;">
                <div class="widget-header">
                    <div class="widget-title">
                        MILITARY FEED
                    </div>
                    <div class="widget-icon" style="margin-top: -35px;">
                        <img src="{{ asset('bundles/spoutlet/images/arp-icon.png') }}" />
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-item">
                        <a href="#">Lorem ipsum dolor sit amet, elit.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#">Mauris ultricies tristique fringilla.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#">Sed ac felis non risus varius ultrices.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#" style="color: #f1cf18">Lorem ipsum dolor sit amet, elit.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#">Lorem ipsum dolor sit amet, elit.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#">Mauris ultricies tristique fringilla.</a>
                    </div>
                    <div class="widget-item">
                        <a href="#">Mauris ultricies tristique fringilla.</a>
                    </div>
                </div>
            </div>
            <div class="widget-33" style="padding-top: 0; margin-top: -120px;">
                <div class="widget-header">
                    <div class="widget-title">
                        Latest Poll
                    </div>
                    <div class="widget-icon" style="margin-top: -35px;">
                        <img src="{{ asset('bundles/spoutlet/images/poll-icon.png') }}" />
                    </div>
                </div>
                <div class="widget-content">
                    poll goes here
                </div>
            </div>
        </div>
        <div class="left">
            <div class="widget-66">
                <div class="widget-header">
                    <div class="widget-title">
                        MILITARY NEWS
                    </div>
                </div>
                <div class="widget-content">
                    <div class="newsBlurb">
                        <h2><a href="#">Preparing for the LoL Battlegrounds</a></h2>
                        <div class="article-content">
                            <div class="article-blurb">
                                <h6>Announced Wednesday, May 16, 2012</h6>
                                <p class="article-blurb-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus nisl at felis congue dictum. Mauris quis odio sed ligula posuere tempus ut ut diam. Sed posuere mollis purus, quis lobortis arcu viverra eu. Vestibulum in sem ut nunc ultrices tincidunt ornare sit amet sem. Aliquam ultrices volutpat dictum. Donec vitae pretium sem. Nunc ut diam nec lorem molestie elementum nec eu dolor. Integer sed quam lacus.
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="newsBlurb">
                        <h2><a href="#">NA League of Legends Spring Season Champions</a></h2>
                        <div class="article-content">
                            <div class="article-blurb">
                                <h6>Announced Wednesday, May 7, 2012</h6>
                                <p class="article-blurb-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam faucibus nisl at felis congue dictum. Mauris quis odio sed ligula posuere tempus ut ut diam. Sed posuere mollis purus, quis lobortis arcu viverra eu. Vestibulum in sem ut nunc ultrices tincidunt ornare sit amet sem. Aliquam ultrices volutpat dictum. Donec vitae pretium sem. Nunc ut diam nec lorem molestie elementum nec eu dolor. Integer sed quam lacus.
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="widget-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
