{% extends "UserBundle::accountLayout.html.twig" %}

{% block content %}
<div id="content" class="support">
    <div class="std_2col">
        <div class="right">
            <div id="mainAd">
            </div>
        </div>
        <div class="left">
            <h2 id="contactUsSupport">Contact Us &amp; Support</h2>

            <p>For questions about products or support please contact Dell directly at <a href="http://support.dell.com" target="_blank">http://support.dell.com</a></p>
            
            <p>For general Alienware Arena inquiries you may contact us at <a href="mailto:contact@alienwarearena.com">contact@alienwarearena.com</a>.</p>

            <p>Regional addresses:</p>

            <ul>
                <li>North America - <a href="mailto:contact@alienwarearena.com">contact@alienwarearena.com</a></li>
                <li>Europe - <a href="mailto:europe@alienwarearena.com">europe@alienwarearena.com</a></li>
                <li>Latin America - <a href="mailto:latam@alienwarearena.com">latam@alienwarearena.com</a></li>
            </ul>

            <p>For questions or assistance with specific events refer to the 'support' link on the respective event micro-site.</p>
        </div>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}