{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ 'platformd.layout.top_menu.news' | trans }}{% endblock %}

{% block content %}
{# this whole thing was copied from the homepage template.... #}
<div id="row-2" class="std_2col">
    <div class="right">
        {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
    </div>
    <div class="left">
        <div class="widget-item featured-news">
            {% for item in news %}
                {% include 'NewsBundle:Default:_news.html.twig' with {
                    'item': item
                } %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}