{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title %}{{ news.title | pd_trans }}{% endblock %}

{% block content %}
{# this whole thing was copied from the homepage template.... #}
<div id="row-2" class="std_2col">
    <div class="right">
        <div class="std-item">
            {% include 'SpoutletBundle:Default:_dealsAd.html.twig' %}
        </div>

        <div class="std-item">
            {% include 'SpoutletBundle:Default:_rightPhotoGallery.html.twig' %}
        </div>
    </div>
    <div class="left">
        <div class="newsPost">
            <h1 class="controlled-spacing">{{ news.title }}</h1>

            <h6>
                {{ 'announced_date' | pd_trans({
                    '%posted_date%': ('sweepstakes_date_format' | pd_trans(news.postedAtArray))
                })}}
            </h6>

            <div style="margin: 10px 0;">
                {{ news.body | raw }}
            </div>

            {% if features.hasComments %}
                {% render 'SpoutletBundle:Comments:thread' with { 'threadId' : news.commentThreadId, 'object' : news } %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
