            <table>
                <tbody>
                    <tr>
                        <th style="width:659px;">{{ 'platformd.giveaway.giveaway' | trans }}</th>
                    </tr>
                    {% if giveaways|length == 0 %}
                    <tr>
                        <td style="text-align:center; padding:20px 0;" colspan="5">
                            {# basically a hack, in one case I need another message, that has an HTML anchor tag in it #}
                            {# the | default is a hack too - because I was missing this variable at one point (somewhere), and need to deploy now #}
                            <strong>{{ no_giveaways_message | default('') | trans }}</strong>
                        </td>
                    </tr>
                    {% else %}
                    {% for giveaway in giveaways %}
                    <tr class="eventListGroup_online">
                        <td>{{ giveaway | pd_link_full(giveaway.name) }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
