{% extends "SpoutletBundle::_baseFlashMessage.html.twig" %}
{% block flash_type %}success{% endblock %}
{% block flash %}
    <p class="notice-data">
        {{ 'platformd.giveaway.assigned.key' | trans }}: {{ data.promotion_assigned_key }}
    </p>
    <p>
        {{ 'platformd.giveaway.assigned.message' | trans({ '%contact_email%': site.siteConfig.supportEmailAddress }) | raw }}
    </p>

    <script type="text/javascript">

        flashMessageUpdateFrequency = 0;

    </script>
{% endblock %}
