{% extends "SpoutletBundle::_flashMessage.html.twig" %}
{% block type %}success{% endblock %}
{% block body %}
<p>
    {{ 'platformd.giveaway.assigned.message' | trans }}
    <br/><br/>
    {{ 'platformd.giveaway.assigned.may_require_activation' | trans }}
</p>

<p class="notice-data">
    {{ 'platformd.giveaway.assigned.key' | trans }}: {{ data.giveaway_assigned_key }}
</p>
{% endblock %}
