{% extends "SpoutletBundle::_baseFlashMessage.html.twig" %}
{% block flash_type %}{{ data.success }}{% endblock %}
{% block flash %}

{% if (data.current_state == 'in_queue')  %}
    <p>{{ 'platformd.giveaway.queue.you_are_queued' | trans }}</p>
    <p>{{ 'platformd.giveaway.queue.queue_explanation' | trans | replace({'%contact_email%': site.siteConfig.supportEmailAddress, '%events_index_page_link%': path('global_events_index')}) | raw }}</p>
{% elseif (data.current_state == 'rejected') %}
    {{ 'platformd.giveaway.queue.rejected_with_examples' | pd_trans | raw}}
{% endif %}
{% endblock %}
