{% extends 'SpoutletBundle::layout.html.twig' %}

{% block title 'Events' %}

{% block content %}
<div class="std_1col">
    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                Current Events
            </div>
        </div>
        <div class="widget-content">
            {% include 'SpoutletBundle:Events:eventList.html.twig' with {
                'events': current_events,
                'no_events_message': 'There are no current events at this moment.'
            } %}
        </div>

        <div class="widget-footer">
            <a href="{{ path('events_current') }}">More current events</a>
        </div>
    </div><br />

    <div class="widget-100">
        <div class="widget-header">
            <div class="widget-title">
                Past Events
            </div>
        </div>

        <div class="widget-content">
            {% include 'SpoutletBundle:Events:eventList.html.twig' with {
                'events': past_events,
                'no_events_message': 'There are no past events at this moment.'
            } %}
        </div>

        <div class="widget-footer">
            <a href="{{ path('events_past') }}">More past events</a>
        </div>
    </div><br />
</div>
{% endblock %}