<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="shortcut icon" type="image/png" href="{{ asset('themes/ideacontest/spoutlet/img/favicon.ico') }}">

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '/ckeditor/';
        </script>

        {# Here we include assets for the current active theme #}
        {% include '::theme_' ~ site.theme ~ '_assets.html.twig' ignore missing %}

        {{ block('javascripts') }}
        {{ block('stylesheets') }}
    </head>
    <body>
        <noscript>For optimal site interaction, please turn javascript on in your browser. For Firefox, go to Tools &rsaquo; Options &rsaquo; Content. For Internet Explorer, go to Tools &rsaquo; Internet Options &rsaquo; Security &rsaquo; Internet &rsaquo; Custom Level &rsaquo; Enable Active Scripting.<br>Otherwise, please visit our <a href="#sitemap">sitemap</a> for easier navigation.</noscript>

        {% if (groupSlug is not defined) %}
            {% set groupSlug = '' %}
        {% endif %}

        {% if (eventSlug is not defined) %}
            {% set eventSlug = '' %}
        {% endif %}

        <div id="wrapper-ht">
            <div id="header">
                {% include 'IdeaBundle::header.html.twig' %}
            </div>

            <br class="clr">

            <div id="content">
                {% if no_sidebar is not defined %}
                    <div class="col1">
                {% endif %}

                {% block content %}
                {% endblock content %}

                {% if no_sidebar is not defined %}
                    </div>
                    <div class="col2">
                        {% block sidebar %}{% include 'IdeaBundle::sidebar.html.twig' %}{% endblock %}
                    </div>
                {% endif %}

                <br class="clr">
            </div>

            <div class="push"></div>

        </div>

        <a name="sitemap"></a>

        <div id="footer">
            <div id="ftr-content">
                {% include 'IdeaBundle::footer.html.twig' %}
            </div>
        </div>
    </body>
</html>
