{#
    Reusable bit in the admin where you need the user to select a region

    Required variables are:
        * sites: from MultitenancyManager::getSiteChoices()
        * route: the name of the route used in the link
#}

<div class="row-fluid">
    <div class="well span4" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">
                Choose a Region
            </li>
            {% for site, name in sites %}
            <li>
                <a href="{{ path(route, {'site': site}) }}">{{ site | site_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
