{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block content %}
    <h1>Edit homepage banner</h1>
    
    <form method="post" action="{{ path('admin_homepage_banner_edit', { "id" : banner.id }) }}" {{ form_enctype(form) }}>
        {% include 'SpoutletBundle:HomepageBanner:_form.html.twig' with { 
            "form"      : form,
            "banner"    : banner 
        } %}
    </form>
{% endblock %}