/* comments */

.thread {
    width: 100%;
    float: left;
}

.comments {
    width: 100%;
    float: left;
}

.comment-wrapper {
    margin-top: 10px;
    position: relative;
    float: left;
    padding: 5px;
    width: 626px;
    background: #2e2e2e;
}

.alt {
    background: #2c3a3f;
}

.comment-wrapper .comment-author {
    width: 84px;
    float: left;
}

.comment-wrapper .author-level {
    font-size: 10px;
}

.comment-wrapper .level-img {
    margin: 5px 0 0 0;
    width: 84px;
    height: 15px;
    background: url('/bundles/spoutlet/images/arp/alienware-xp-bar-grey.png') top left repeat-x;
    font-size: 9px;
    text-align: right;
}

.comment-wrapper .level-img div {
    padding: 2px 3px 0 0;
}

.comment-wrapper .comment-author img {
    width: 84px;
    height: 84px;
}

.comment-wrapper .comment-body {
    float: right;
    width: 535px;
}

.comment-body p {
    margin: 0 0 10px 0;
}

.comment-body hr {
    border: 1px solid #000;
    color: #000;
    background-color: #000;
}

.comment-wrapper .comment-footer {
    float: right;
    width: 100%;
    color: #9B9B9B;
    padding-top: 5px;
}

.comment-at {
    float: left;
    width: auto;
    margin-left: 90px;
}

.comment-vote {
    float: right;
    width: auto;
    margin: 0 25px 0 0;
}

.comment-wrapper .options {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background: url('/bundles/spoutlet/css/bootstrap/img/glyphicons-halflings-white.png') no-repeat;
    background-position: -432px 0;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.comment-reply .options {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background: url('/bundles/spoutlet/css/bootstrap/img/glyphicons-halflings-white.png') no-repeat;
    background-position: -432px 0;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.options .choices {
    border: 1px solid #494949;
    background: #191919;
    min-width: 120px;
    position: absolute;
    display: none;
    right: -53px;
    bottom: 15px;
}

.report-options ul,
.choices ul {
    margin: 0;
    padding: 3px 0 4px;
    list-style: none;
}

.report-options li,
.choices li {
    line-height: 1.28;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.report-options li:hover,
.choices li:hover {
    background: #595959;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
}

.report-options li a,
.choices li a {
    font-size: 11px;
    font-weight: normal;
    padding: 1px 16px 1px 22px;
}

.report-options {
    border: 1px solid #494949;
    background: #191919;
    min-width: 180px;
    position: absolute;
    display: none;
}

.comment-wrapper .report-options {
    right: -188px;
    bottom: -18px;
}

.comment-replies-wrapper .report-options {
    right: -240px;
    bottom: 0px;
}

.comment-replies-wrapper {
    margin-top: 5px;
    width: 626px;
    float: left;
}

.comment-tri {
    background: url('/bundles/spoutlet/images/comments/reply_tri.png') no-repeat;
    background-position: 50px 0px;
    height: 5px;
}

.comment-replies {
    width: 626px;
    padding: 5px;
    background: #2e2e2e;
    min-height: 30px;
}

.comment-replies input[type='text'] {
    width: 575px;
}

.comment-replies a {
    padding: 0 0 8px 5px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.comment-reply {
    position: relative;
    font-size: 11px;
    width: 626px;
    float: left;
    padding: 5px;
    background: #2e2e2e;
    margin-top: 1px;
}

.hidden {
    display: none;
}

.comment-reply img {
    float: left;
    width: 32px;
    height: 32px;
}

.comment-reply .reply-body {
    margin-left: 5px;
    padding-bottom: 5px;
    width: 585px;
    float: left;
}

.comment-reply a {
    padding-right: 5px;
}

.replied-at {
    color: #9B9B9B;
    margin-left: 36px;
}

.more-comments {
    float: left;
    padding: 5px;
}

a.comment-voting-button {
    width: 14px;
    height: 14px;
    float: left;
}

.up {
    background: url('/bundles/spoutlet/images/comments/comment_vote_sprite.png');
    background-position: 0 0;
}

.up:hover {
    background: url('/bundles/spoutlet/images/comments/comment_vote_sprite.png');
    background-position: 0 14px;
}

.down {
    background: url('/bundles/spoutlet/images/comments/comment_vote_sprite.png');
    background-position: 14px 0;
}

.down:hover {
    background: url('/bundles/spoutlet/images/comments/comment_vote_sprite.png');
    background-position: 14px 14px;
}

.thread textarea {
    height: 80px;
    width: 98%;
    padding: 1%;
}

.comment-replies textarea {
    height: 18px;
    width: 575px;
    overflow-y: hidden;
}

.comment-form-submit {
    float: right;
    padding: 5px;
}

.comment-sorting {
    float: left;
    padding: 5px;
}

.comment-sorting label {
    display: inline;
}

.comment-sorting select {
    color: #555;
}

#more-comments-loader {
    display:none;
    clear:both;
     text-align:center;
     padding-top:15px;
}

.comment-edit-textarea {
    overflow-y: hidden;
    white-space: pre-wrap;
}

.comment-edit-btn {
    padding: 5px 15px;
    min-width: 95px;
}

.comment-edit-btn[type="cancel"] {
    margin-left: 10px;
}

.comment-errors {
    display: none;
    color: #ff0000;
    padding: 5px 0 5px 0;
}
