#contest-instructions { }
#contest-instructions ul { margin: 5px; padding: 0;}
#contest-instructions ul li { list-style-position: inside; list-style: none; padding: 2px 0 2px 0; }
#contest-instructions ul li span.item { color: #BFBFBF;}
#contest-instructions ul li span.step-number { color: #BFBFBF; padding-right: 3px;}

.contest-header {
    padding: 5px 0 5px 0;
}

.contest-enter-vote {
    padding: 10px 0 10px 0;
}

#contest-voting-rules {
    padding-bottom: 10px;
}

#contest-header {
    width: 950px;
    height: 160px;
}

#contest-header ul {
    margin: 0;
    padding: 136px 5px 0 5px;
    width: 100%;
    list-style:none;
}

#contest-header li {
    float: left;
    font-weight: bold;
    padding: 0 17px;
}

#contest-header li a {
    color: #e1e1e1;
    text-transform: capitalize;
    text-shadow:2px 2px 5px #000000;
}
