#contest-instructions { }
#contest-instructions ul { margin: 5px; padding: 0;}
#contest-instructions ul li { list-style-position: inside; list-style: none; padding: 2px 0 2px 0; }
#contest-instructions ul li span.item { color: #BFBFBF;}
#contest-instructions ul li span.step-number { color: #BFBFBF; padding-right: 3px;}

.contest-header {
    padding: 5px 0 5px 0;
}

.contest-enter-vote {
    padding: 10px 0 10px 0;
}

#contest-voting-rules {
    padding-bottom: 10px;
}
