#contest-instructions ol { margin: 0; padding: 0;}
#contest-instructions ol li { list-style-position: inside; background: url('/bundles/giveaway/images/giveaway-list-item-bg.png') 6px 49% no-repeat #252525; border-radius: 5px 5px 5px 5px; margin: 3px; padding: 8px 5px 8px 14px; font-weight: bold; }
#contest-instructions ol li span.item { vertical-align: middle; display: inline-block; font-size: 12px; font-weight: normal; width: 88%; padding-left: 7px; }

.contest-header {
    padding: 5px 0 5px 0;
}

.contest-enter-vote {
    padding: 10px 0 10px 0;
}

#contest-voting-rules {
    padding-bottom: 10px;
}

#contest-header {
    width: 950px;
    height: 160px;
}

#contest-header ul {
    margin: 0;
    padding: 136px 5px 0 5px;
    width: 100%;
    list-style:none;
}

#contest-header li {
    float: left;
    font-weight: bold;
    padding: 0 17px;
}

#contest-header li a {
    color: #e1e1e1;
    text-transform: capitalize;
    text-shadow:2px 2px 5px #000000;
}

.contest-winner-wrapper {
    width:300px;
    margin-right: 10px;

    display: inline-table;
}

#contest-entries {
    margin-top: 15px;
}

.group-contest-content {
    min-height: 500px;
}

.group-contest-content .group-list-item {
    margin: 5px 3px 5px 3px;
    background: #1D1D1D;
    background-position: 125px 120px;
    padding: 5px;
    border: 1px solid #4A4A4A;
    border-radius: 3px;
}

.group-contest-content .group-list-item:hover {
    background: #4A4A4A;
    background-position: 125px 120px;
    cursor: pointer;
}

.group-contest-content .group-list-item.selected {
    background: #1D1D1D url('/bundles/spoutlet/images/form-ic-success.png') no-repeat;
    background-position: 125px 120px;
    cursor: pointer;
}

#entries-left {
    color: #009CDA;
    font-weight: bold;
    font-size: 14px;
}

.group-list-item.contest {
    margin: 0 0 0 22px;
    padding: 5px 0 0 0;
}

.group-list-item.contest.first {
    margin: 0;
    padding: 5px 0 0 0;
}
