.deals-header {
    width: 950px;
    height: 610px;
    position: relative;
}

.deals-timeleft {
    width: 950px;
    height: 20px;
    position: absolute;
    bottom: 33px;
    left: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.timeleft-label {
    font-size: 18px;
}

.deals-features-col-header {
    width: 600px;
    background: #303338;
    text-align: left;
    padding: 5px;
    font-size: 16px;
}

.deals-features-col {
    width: 600px;
    vertical-align: top;
}

.deals-instructions-col-header {
    width: 350px;
    background: #303338;
    text-align: left;
    padding: 5px;
    font-size: 16px;
}

.deals-instructions-col {
    width: 350px;
    vertical-align: top;
}

#deal-actions {
    width: 100%;
    text-align: center;
}

#deal-actions p {
    padding: 5px;
    text-align: left;
}

#deals-recommend {
    padding: 5px;
}

#deal-websiteurl {
    width: 100%;
    padding-top: 10px;
}

#deal-instructions { padding: 5px;}
#deal-instructions ul { margin: 5px; padding: 0;}
#deal-instructions ul li { list-style-position: inside; list-style: none; padding: 2px 0 2px 0; }
#deal-instructions ul li span.item { font-weight: bold;}
#deal-instructions ul li span.step-number { font-weight: bold; padding-right: 3px;}

#deal-redeem-button {
    margin: 0px auto;
    width: 224px;
    height: 43px;
    display: block;
}

#deal-countries {
    margin: 3px auto;
    text-align: left;
    padding-bottom: 5px;
}

.dd-selected { color: #000; }
.dd-selected:hover { color: #000; }

#deal-screenshots {
    margin: 100px auto;
}

#deal-screenshots a {
    display: inline-block;
    margin: 40px 0 0 40px;
}

#deal-screenshots a img {
    border: 2px #fe0303 solid;
}

#legal-verbiage {
    margin: 10px auto;
    padding: 5px;
    font-size: 13px;
}

div.dealListItem
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 290px;
    height: 54px;
    background: #252525;
    padding: 0;
    margin: 3px auto;
}

div.dealListItem div {
    padding: 2px;
}

.dealListItemThumb
{
    float: left;
    width: 80px;
    height: 46px;
    margin: 2px 0 0 2px;
}

div.dealListItem .movieListItemRating
{
    float: right;
    width: 38px;
    height: 28px;
    margin: 4px 12px;
    background: #191919;
    color: #009ade;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
}

div.dealListItem .movieListItemDetails
{
    float: left;
    width: 140px;
    margin: 2px 0 0 0;
    padding: 0;
}

div.dealListItem .commentListItemDetails
{
    float: left;
    width: 180px;
    margin: 2px 0 0 0;
    padding: 0;
}

.movieListItemDetails
{
    margin: 0;
    padding: 0;
}

ul.dealDetails
{
    padding: 0;
    margin: 0 0 0 4px;
}

li.dealTitle
{
    font-size: 12px;
    padding: 0 0 2px 0;
    margin: 0;
    color: #009ade;
}

li.movieProducer
{
    font-size: 10px;
    padding: 0 0 2px 0;
    margin: 0;
    color: #cccccc;
}

li.dealCommentAuthor
{
    font-size: 10px;
    padding: 0 0 2px 0;
    margin: 0;
    color: #fff;
}

li.dealCommentAt
{
    font-size: 10px;
    padding: 0 0 2px 0;
    margin: 0;
    color: #fff;
}

#deal-comments {
    width: 294px;
    padding: 2px;
}
