html { overflow-y: scroll; }
#row-1 { }

#row-2 { }
#featured-content { overflow: hidden; }
#featured-content .widget-content { overflow: auto; }
.featured-content-header { margin: 0 0 0 1px; }
.featured-content-header  a { border-bottom: 1px solid #2a2a2a; display: block; float: left; border-right: 1px solid #2a2a2a; height: 29px; text-align: center; padding: 9px 10px 0px 10px; font-size: 18.67px; }
.featured-content-header a.active { color: #bfbfbf; background: url('/bundles/spoutlet/images/widget-item-selected.png') bottom center no-repeat;  border-bottom: none; padding-bottom: 1px; }
#featured-content .active { display: block;}
.featured-content-category { display: none; margin: 5px 0 0 0; }

#row-3 { }
#alien-network .widget-icon { float: left; margin: 4px 0 0 0; }
.movie-section { margin: 5px 0 13px 0; position: relative; z-index: 100; }
/*.movie-section-title { width: 135px; height: 55px; float: left; font-size: 23px; color: #bfbfbf; font-weight: bold; margin: 0px 0 7px 0; padding: 27px 0px 0 0; border: 1px solid #4a4a4a; text-align: center; background: #131313; }*/
.movie-section-title {
    font-size: 13.33px;
    color: #BFBFBF;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.movie-section-title.latest { letter-spacing: 71px; }
.movie-thumb { border: none; }
.movie-thumb img { width: 135px; height: 80px; border: 1px solid #4A4A4A; }
.movie-title { padding: 5px 0 0 0; text-transform: capitalize; }
.movie { float: left; width: 139px; margin: 0 8px 0 8px; }
.movie p { margin: 0; }
.movie-views, .movie-rating { color: #b3b3b3; font-size: 10px; }

.recentForumPosts { margin: 0 0 0 0; }
.picture { margin: 3px 0 0 0; }

#row-4 .widget-33 { float: left; }
.photoWidget { margin: 0 22px; }
