.gallery-media-wrapper {
    padding: 5px 0 5px 0;
}

.gallery-media {
    cursor: pointer;
    border: 1px solid #e3e3e3;
}

.active {
    border: 1px solid #009CDA;
}

.photo-description {
    width: 350px;
    height: 150px;
}

.photo-title {
    width: 350px;
}

#media-social {
    margin-top: 10px;
}

.photo-author {

}

.photo-author img {
    width: 84px;
    height: 84px;
}


