.gallery-media-wrapper {
    padding: 5px 0 5px 0;
}

.gallery-media {
    cursor: pointer;
    border: 1px solid #4A4A4A;
}

.active {
    border: 1px solid #009CDA;
}

.photo-description {
    width: 350px;
    height: 150px;
}

.photo-title {
    width: 350px;
}

#media-social {
    margin-top: 10px;
}

.photo-author {

}

.photo-author img {
    width: 84px;
    height: 84px;
}

.gallery-media-thumb-wrapper {
    display: inline-table;
    margin-left: 5px;
}

.gallery-media-thumb {
    border: 1px solid #4A4A4A;
    width: 135px;
    height: 80px;
}

.gallery-media-thumb a {
    border: none;
}

.gallery-media-thumb img {
    cursor: pointer;
    width: 135px;
    height: 80px;
}

#media-filter-options {
    width: 200px;
}

#facebook-share {
    display: inline-table;
}

#twitter-share {
    display: inline-table;
}

.media-publish-error {
    color: #ff0000;
}

.media-voting {
    text-align: center;
    padding-top: 20px;
}

.media-voting-button {
    padding-left: 10px;
    padding-right: 5px;
}

#media-voting-vote-response,
#media-voting-login-required {
    text-align: center;
    padding-top: 20px;
}

.submit-media {
    text-align: center;
    padding: 10px 0 10px 0;
}
