div.privacy ul, div.terms ul, div.eula ul, div.privacy ol, div.terms ol, div.eula ol { margin: 0px 0px 16px 30px; }
div.privacy li, div.terms li, div.eula li { padding: 0px 0px 4px 0px; }
div.privacy blockquote { margin: 0px 0px 16px 30px; }