.military-page .media-gallery {
    text-align: center;
    padding: 10px 0;
    width: auto;
}

.military-page .media-gallery .media-content {
    margin: 0px auto;
    width: 500px;
    height: 100px;
}
.military-page .media-gallery .ad-nav {
    width: 500px;
    margin: 10px auto;
}
.military-page .media-gallery .ad-thumbs {
    /* causes the spacing (along to be right with respect to the scrollers */
    width: 500px;
}
.military-page .media-gallery .ad-thumbs li {
    margin-right: 10px;
}
.military-page .media-gallery .ad-thumbs li.last {
    margin-right: 0;
}
.military-page .media-gallery .ad-thumbs li a img, .military-page .media-gallery .ad-thumbs li a.ad-active img {
    border: 1px solid #4a4a4a;
}

.military-page .media-gallery .ad-back, .military-page .media-gallery .ad-forward {
    width: 28px;
    height: 50px;
    background-position-y: 5px;
}
.military-page .media-gallery .ad-back {
    left: -30px;
}
.military-page .media-gallery .ad-forward {
    right: -30px;
}
/* if we only have 4 items or less, there's no scrolling */
.military-page .media-gallery .no-scroll .ad-back, .military-page .media-gallery .no-scroll .ad-forward {
    display: none;
}
.military-page a.media-link-color {
    color: #F0E000;
}

#military-sub-nav-wrapper {
    padding: 20px 0 20px 0;
}

#military-sub-nav ul li {
    float:none;
    background-repeat:no-repeat;
    margin: 2px 0 0 0;
    padding: 0 7px;
    display: inline;
    padding-top: 5px;
    padding-bottom: 4px;
}

#military-sub-nav ul li.first { background: none; }

#military-sub-nav ul li { background: url('/bundles/spoutlet/images/nav_divider.png') left no-repeat; }
