.button {
  display: -moz-inline-box;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: none;
  cursor: pointer;

  background: #0094b4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0094b4',endColorstr='#00596e');
  background: -moz-linear-gradient(top,#0094b4,#00596e);
  background: -webkit-gradient(linear,left top,left bottom,from(#0094b4),to(#00596e));
}

.interstitial {
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
}

/* generic form stuff - ugly, but quick */
.form input.form-txt {
    border: none;
    padding: 4px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    width: 200px;
}
.form div.form_row {
    margin-bottom: 10px;
}
.form label {
    display: -moz-inline-box;
    display: inline-block;
    width: 70px;
}

/* login page */
.login_page_interstitial {
    padding:  0 20px 20px 20px;
    margin-top: 20px;
    width: 400px;
}
.login_page_interstitial input.button {
    margin-left: 70px;
}

/* change password */
.fos_user_change_password label {
    width: 110px;
}
.fos_user_change_password input.button {
    margin-left: 110px;
}

/* comments */
.profileAvatar img {
    width: 84px;
    height: 84px; 
}

/* support styles */
.support ul {
    list-style-type: none;
}