.button {
  display: -moz-inline-box;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: none;
  cursor: pointer;

  background: #0094b4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0094b4',endColorstr='#00596e');
  background: -moz-linear-gradient(top,#0094b4,#00596e);
  background: -webkit-gradient(linear,left top,left bottom,from(#0094b4),to(#00596e));
}
a.button:hover {
  color: #ddd;
}

ul.normal-margin, ol.normal-margin {
    margin-left: 40px;
}

.interstitial {
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
}

/* generic form stuff - ugly, but quick */
.form input.form-txt {
    border: none;
    padding: 4px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    width: 200px;
}
.form div.form_row {
    margin-bottom: 10px;
}
.form label {
    display: -moz-inline-box;
    display: inline-block;
    width: 110px;
}
.form-msg-error {
    padding: 6px 10px 5px;
    display: block;
    height: auto;
    margin: -0.3em 0 0.5em;
    margin-left: 110px;
    padding-left: 27px;
   	font-size:0.9em;
   	border-bottom: 1px solid #ccc;
    background: #fad0d0 url(../images/form-ic-error.png) no-repeat 5px 4px;
   	border-color:#f6abab;
   	color:#b01717;
    width: 170px;
}

/* login page */
.login_page_interstitial {
    padding:  0 20px 20px 20px;
    margin-top: 20px;
    width: 400px;
}
.login_page_interstitial input.button {
    margin-left: 110px;
}

/* change password */
.fos_user_change_password label {
    width: 110px;
}
.fos_user_change_password input.button {
    margin-left: 110px;
}
.fos_user_change_password ul.form-msg-error {
    margin-left: 110px;
}

/* comments */
.profileAvatar img {
    width: 84px;
}

#commentsView h3 {
    padding:0;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 0;
}

#commentsView {
    margin: 0;
    padding: 0;
}

#commentsView textarea {
    height:80px;
}

#commentsView .fos_comment_submit {
    text-align: center;
    padding: 5px;
}

/* Profile */

.memberProfileLeft {
    width:200px;
    float: left;
}

.memberProfileRight {
    margin-left: 210px;
    padding-top: 10px;
    width: 420px;
}
.profileAvatar_big img {
    width: 184px;
    border:2px solid #ccc;
}

.fos_user_profile_edit label {
    width: 110px;
}

/* support styles */
.support ul {
    list-style-type: none;
}

/* registration page */
.fos_user_registration_register label, .label_space {
    width: 350px;
    text-align: right;
    margin-right: 10px;
}
.fos_user_registration_register input.button {
    margin-left: 360px;
    margin-top: 10px;
}
.fos_user_registration_register ul.form-msg-error, .fos_user_registration_register #recaptcha_widget_div {
    margin-left: 360px;
}
.floating_form_container {
    margin-left: 363px;
}
.fos_user_registration_register #recaptcha_widget_div {
    margin-bottom: 10px;
}

/* Common / useful styles */
.clear {
    visibility: hidden;
    clear: both;
}

/* Title */
.memberProfile h2 {
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: #B3B3B3;
}


.memberProfile .profileBloc h3 {
    border-bottom: 1px solid #4a4a4a;
    font-size: 18px;
    color: #fff;
    padding: 3px 0 1px 0;
}

.rig_list td:first-child {
    font-weight: bold;
}

.rig_list td {
    background-color: #101010;
    padding:2px;
}

.profileBloc {
    margin-bottom: 15px;
}

/* Admin */
table.list {
    width: 100%;
}
table.list thead th {
    text-align: left;
}

table.list td {
    padding:2px;
}

table.list tr.odd {

}

table.list tr.even {

}

div#content.microsoft {
  text-align: center;
}

.ad_728x90 {
  background-image: url('/images/ads/aw-ms7-728x90.jpg') !important;
}

#fos_user_registration_form_hasAlienwareSystem {
    display: inline;
}

#fos_user_registration_form_hasAlienwareSystem label {
    width: auto;
    margin-left: 5px;
}

span.required {
    color: #B01717;
}

.giveawayForm label {
    width: 110px;
}
.giveawayForm ul.form-msg-error {
    margin-left: 110px;
}
.giveawayForm textarea {
    width: 800px;
    height: 150px;
}

.form-help {
    margin-bottom: 10px;
    font-style: italic;
}

#eventHeader {
    height: 120px;
    max-width: 950px;
}

.redemption-instructions-inputs input {
    margin-bottom: 5px;
    width: 300px;
}