.button {
  display: -moz-inline-box;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: none;
  cursor: pointer;

  background: #0094b4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0094b4',endColorstr='#00596e');
  background: -moz-linear-gradient(top,#0094b4,#00596e);
  background: -webkit-gradient(linear,left top,left bottom,from(#0094b4),to(#00596e));
}
a.button:hover {
  color: #ddd;
}

/* should be applied whenever we want text to respect spaces and line breaks */
.controlled-spacing {
    white-space: pre-wrap;
}

ul.normal-margin, ol.normal-margin {
    margin-left: 40px;
}

.interstitial {
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
}

/* generic form stuff - ugly, but quick */
.form input.form-txt {
    border: none;
    padding: 4px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    width: 200px;
}
.form div.form_row {
    margin-bottom: 10px;
}
.form label {
    display: -moz-inline-box;
    display: inline-block;
    width: 110px;
}
.form-msg-error {
    padding: 6px 10px 5px;
    display: block;
    height: auto;
    margin: -0.3em 0 0.5em;
    margin-left: 110px;
    padding-left: 27px;
   	font-size:0.9em;
   	border-bottom: 1px solid #ccc;
    background: #fad0d0 url(../images/form-ic-error.png) no-repeat 5px 4px;
   	border-color:#f6abab;
   	color:#b01717;
    width: 170px;
}

/* login page */
.login_page_interstitial {
    padding:  0 20px 20px 20px;
    margin-top: 20px;
    width: 400px;
}
.login_page_interstitial input.button {
    margin-left: 110px;
}

/* change password */
.fos_user_change_password label {
    width: 150px;
}
.fos_user_change_password input.button {
    margin-left: 150px;
}
.fos_user_change_password ul.form-msg-error {
    margin-left: 150px;
}

/* comments */
.profileAvatar img {
    width: 84px;
}

#commentsView h3 {
    padding:0;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 0;
}

#commentsView {
    margin: 0;
    padding: 0;
}

#commentsView textarea {
    height:80px;
}

#commentsView .fos_comment_submit {
    text-align: center;
    padding: 5px;
}

/* Profile */

.memberProfileLeft {
    width:200px;
    float: left;
}

.memberProfileRight {
    margin-left: 210px;
    padding-top: 10px;
    width: 420px;
}
.profileAvatar_big img {
    width: 184px;
    border:2px solid #ccc;
}

.fos_user_profile_edit label {
    width: 110px;
}

/* support styles */
.support ul {
    list-style-type: none;
}

/* registration page */
.fos_user_registration_register label, .label_space {
    width: 300px;
    text-align: right;
    margin-right: 10px;
}
.fos_user_registration_register input.button {
    margin-left: 310px;
    margin-top: 10px;
}
.fos_user_registration_register ul.form-msg-error, .fos_user_registration_register #recaptcha_widget_div {
    margin-left: 310px;
}
.floating_form_container {
    margin-left: 313px;
}
.fos_user_registration_register #recaptcha_widget_div {
    margin-bottom: 10px;
}

/* Common / useful styles */
.clear {
    visibility: hidden;
    clear: both;
}

/* Title */
.memberProfile h2 {
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: #B3B3B3;
}


.memberProfile .profileBloc h3 {
    border-bottom: 1px solid #4a4a4a;
    font-size: 18px;
    color: #fff;
    padding: 3px 0 1px 0;
}

.rig_list td:first-child {
    font-weight: bold;
}

.rig_list td {
    background-color: #101010;
    padding:2px;
}

.profileBloc {
    margin-bottom: 15px;
}

/* Admin */
table.list {
    width: 100%;
}
table.list thead th {
    text-align: left;
}

table.list td {
    padding:2px;
}

table.list tr.odd {

}

table.list tr.even {

}

div#content.microsoft {
  text-align: center;
}

#fos_user_registration_form_hasAlienwareSystem {
    display: inline;
}

#fos_user_registration_form_hasAlienwareSystem label {
    width: auto;
    margin-left: 5px;
}

span.required {
    color: #B01717;
}

.giveawayForm label {
    width: 110px;
}
.giveawayForm ul.form-msg-error {
    margin-left: 110px;
}
.giveawayForm textarea {
    width: 800px;
    height: 150px;
}

.form-help {
    margin-bottom: 10px;
    font-style: italic;
}

#eventHeader {
    height: 120px;
    max-width: 950px;
}

.redemption-instructions-inputs input {
    margin-bottom: 5px;
    width: 300px;
}

/* featured news tweaks */
.widget-66 .featured-news {
    padding: 10px;
    margin-bottom: 10px;
}

/*
 * Banner homepage
 */
#homepage-gallery .ad-thumbs li {
    padding-right: 1px;
}
#homepage-gallery .ad-thumbs li a img {
    border-color:#252525;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0;
}
#homepage-gallery .ad-thumbs li a.ad-active img {
    border-color: #68bcd8;
}
#homepage-gallery .ad-controls {
    display: none;
}

.admin-homepage-banner-form .form-help {
    margin-left: 110px;
    width: 400px;
    color: #dcdcdc;
    background: #252525;
}

/* custom progress bar for the gallery */
#rotator .ad-gallery .ad-image-wrapper {
    margin-bottom: 3px;
}
#rotator {
    position: relative;
    background: #252525;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#rotator .top-background {
    height: 50px;
    background: #000;
    width: 635px;
    position: absolute;
}
#progress-bar {
    position: absolute;
    bottom: 85px;
    z-index: 100;
    width: 100%;
}
#progress-bar .ui-progressbar-value {
    display: block !important;
    background: #fff;
    opacity:0.4;
    filter:alpha(opacity=40);
    margin: auto;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none;
}
#progress-bar .ui-progressbar {
    height: 5px;
    background: none;
    border: none;
    width: 30px;
    margin: auto;
}
.modal-content {
    background: #000;
    color: #fff;
    padding: 20px;
    border: 2px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    overflow: scroll;
}
.modal-content h3 {
    color: #fff;
}

#_sweeps_error {
    margin-left: 0;
    display: none;
    width: auto;
}

.widget-content .agree-row {
    margin-bottom: 5px;
    padding: 5px;
}

.page-header {
    text-align: left;
}
.page-header h1 {
    margin: 10px 0;
    text-align: center;
}
.pate-header img {
    display: inline;
}

/* SimpleModal Styles */
#simplemodal-overlay {background-color:#000; cursor:wait;}
a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}

.sweepstakes-details li {
    margin-bottom: 20px;
}
.sweepstakes-details li.tight {
    margin-bottom: 0;
}
.sweepstakes-details ol.eligibility-list {
    list-style-type: decimal;
    margin-left: 40px;
}
.sweepstakes-details ol.eligibility-list li {
    margin-bottom: 0;
}

.margin-none {
    margin: 0;
}
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
ul.list-normal {
    margin-left: 20px;
}

.nowrap {
    white-space: nowrap;
}

.widget-content.normalized {
    overflow: visible;
    width: auto;
    position: relative;
}
#photoArray {
    margin: 0;
    width: auto;
    padding: 0 3px;
    height: 210px;
    margin-left: 5px;
}
#photoArray img {
    width: 280px;
    height: 210px;
}

.machine-code-form {
    white-space: nowrap;
}

/* for use when stacking things on the left and right - gives you the same padding as if you were putting them in std_2col */
.std-item {
    padding-bottom: 15px;
}

.machine-code-form input.txt {
    border: 1px solid #ccc;
    padding: 4px 4px;
    font-size: 13px;
    width: 120px;
}
.machine-code-form input.button {
    width: 72px;
}
.machine-code-form .form-error {
    display: none;
}
.machine-code-form.with-error .form-error {
    display: block;
}
.machine-code-form.with-error input.txt {
    background-color: #fcb3b3;
}

.article-image {
    width: 200px;
    float: left;
    margin-right: 12px;
}
.article-image img {
    width: 200px;
}
.article-actions a {
    float: right;
}
.article-image-large img {
    width: 634px;
}
.age-wrapper {
    text-align: center;
}
.age-wrapper select {
    margin: 0 10px;
}

/* GAMES PAGES */
.games-list-page {

}
.games-list-page .left, .games-list-page .right {
    float: left;
    background: url('../images/games-pages/background_content.jpg') top left repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 24px 4px 24px;
}
.games-list-page .left {
    width: 662px;
    width: 614px;
    margin-right: 20px;
}
.games-list-page .right {
    width: 265px;
    width: 217px;
    float: left;
}
.games-list-page h1, .games-list-page h2 {
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.games-list-page h3 {
    color: #fff;
    font-size: 16px;
}
.games-list-page p {
    color: #b2b2b2;
}
.games-list-page .left ul.games {
    margin-bottom: 10px;
}
.games-list-page .left ul.games li {
    list-style-type: none;
    width: 195px;
    float: left;
    margin: 8px 0 8px 14px;
    text-align: center;
}
.games-list-page .left ul.games li.first {
    margin-left: 0;
}
.games-list-page .left ul.games li a {
    display: block;
}

.games-list-page .right ul.games li {
    list-style-type: none;
    margin-bottom: 6px;
}

.game-show-page .logo {
    text-align: center;
    margin-bottom: 20px;
}
.game-show-page .game-buttons {
    text-align: center;
    margin-bottom: 20px;
}
.game-show-page .game-buttons a.game-button {
    display: -moz-inline-box;
    display: inline-block;
}

.game-show-page .media-gallery {
    text-align: center;
    padding: 10px 20px;
    width: auto;
}
.game-show-page .media-gallery .ad-thumbs li a img, .game-show-page .media-gallery .ad-thumbs li a.ad-active img {
    border: none;
}
.game-show-page .media-gallery .ad-info, .game-show-page .media-gallery .ad-slideshow-controls {

}