/*

Color Palette #1 (light)
	Dark Blue: #515661 (text) - most headings
	Lighter Blue: #6a7385 (text)
	Light Grey: #d1d1d1 (border - 1px solid) - most common
	Lighter Grey: #e1e1e1 (border - 1px solid)
	Light Grey: #f1f1f1 (background)
	Lighter Grey: #fafafa (background)

Color Palette #2 (dark)
	Charcoal: #141414 (background)
	Other Charcoal: #101010 (background)
	Dark Grey: #878787 (border)
	Darker Grey: #464646 (border)
	Dark Grey: #AAAAAA (text)
	Darker Mid Gray: #B3B3B3 (H2)
	Mid Gray: #E7E7E7 (page header)
	Lighter Grey: #C2C2C2 (border)
	Sharp Blue: #01A2D2 (accent)
	Bold Blue: #12B5EA (text)
	Neon Blue: #30EAF7 (link)

Color Palette #3 (AW Rainbow)
	Astal Aqua: #00F0F0
	Plasma Purple: #5000F0
	Nova Yellow: #F0E000
	Terra Green: #00F000
	Mars Red: #F00000
	Quasar Blue: #0000F0

Redesign Palette
	Sharp Blue: #009cda (links) #17b8f8 (hover)
	Background (darker): #131313
	Background (lighter): #252525


*/

.quasar { color: #0000F0; }
.plasma { color: #5000F0; }
.mars { color: #F00000; }
.astral { color: #00F0F0; }
.terra { color: #00F000; }
.nova { color: #F0E000; }

* { margin: 0; padding: 0; }
body,html { font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; }
body { background-color: #000; }

/** GENERAL STYLES */

ul, ol {
    padding-left: 40px;
    margin: 10px 0 10px 0;
}

.clear { clear:both; font-size: 1px; display: block; height: 1px; }
.right { float: right; }
.left { float: left; }

a { color:#009cda; text-decoration:none; outline:none; font-weight: bold; }
a:hover { color:#17b8f8; }
a.btn:hover { color:#FFF; }
a:focus, a:hover, a:active { outline:none; }
a.aw-link { display: inline; background: url('/bundles/spoutlet/images/link-icon.png') bottom right no-repeat; padding: 0 17px 0 0; text-transform: capitalize; }

.link-inactive { color: #b3b3b3; border-bottom: 1px dashed #009cda; padding-bottom: 0; }
.link-inactive:hover { cursor: pointer; }

.widget-footer .aw-link { float: right; }
.blue { color: #007cda; }
.darkblue { color:#01a2d2; }
.dateEmphasis { color:#cdcdcd; }

.darkGray { color: darkGray; }
.gray { color:#b3b3b3; }
.bad { color: #c20000; font-weight: bold; }
.red { color:#ff2f2f; }
.green { color:#8dd214; }
.good { color:#6ca010; font-weight: bold; }

.display_none { display:none; }
.display_tablerow { display:table-row; }
.display_block { display:block; }

.hover-icon { margin: 6px 0 0 3px; }

h1 { color:#ffffff; font-weight:normal; font-size:18.67px; margin:12px 0 7px 0; }
h2 { color:#b3b3b3; font-weight:normal; font-size:24px; margin:20px 0 10px 0; }
h3 { color:#b3b3b3; font-weight:normal; font-size:21px; margin:10px 0 0px 0; }

h6 { color:#b3b3b3; font-weight:normal; font-size:9px; margin:0; padding:0; display: inline; }
p { margin:10px 0; word-spacing:1px; }

h2.contentTitle { position:relative; font-size: 26px; font-weight: bold;  margin:0; margin-bottom: 5px; }

img { border: none; }

div.legal p { margin-left: 10px; }

select.dark { color: #b3b3b3; font-weight: bold; font-size: 16px; background: #333333; border: 1px solid #666666; font-family: arial; letter-spacing: 1px; }


/** .text is used to add traditional formating to chunks of text.
    i.e. margins and padding to ul, ol, paragraph margins, etc */

.text ul, .text ol { padding-left:25px; margin:10px 0; }
.text li { margin:10px 0; }
.text .nostyle { list-style:none; }
.text table { margin:15px 0; }
.text table td, .text table th { padding:3px; }
.text table th { text-align:left; background:#00668e; font-weight:bold; }
.text-small {font-size: 11px;}

.rules {}
.rules .number {margin-right:15px; font-weight:normal;}

#omni { width: 100%; height: 100%; }
body.staff #omni { background:url(/bundles/spoutlet/images/aw_staff_header.jpg) top center no-repeat; }
html body.staff { background:url(/bundles/spoutlet/images/bg_staff_body.gif) top left repeat-x #000000; }
#page { background: url('/bundles/spoutlet/images/content-bg-2.jpg') center 164px no-repeat; min-height: 1100px; }

/** HEADER **/
#header { width:100%; height:135px; font-size:11px; background: url('/bundles/spoutlet/images/header.png') no-repeat center center; }
.site-ja #header {
    background-image: url('../images/header-jp.png');
}
.site-zh #header {
    background-image: url('../images/header-cn.png');
}
#headerPad { height: 139px; /*padding-top:68px;*/ }
#topHeader { padding: 5px 0; height: 14px; background: #000; }
/* header left */
#header .left { float:left; width:220px; height:30px; }
#header .left a { color:#6C6C6C }
#header .left .change { font-size: 9px; }

/* Region Selection */
#toggleRegion { font-weight: bold; }
#selectRegion
{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#323232;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px #5d5d5d;
    text-align:left;
    padding:0 8px 5px 8px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;

}

#selectRegion ul { list-style: none; margin: 0px; padding: 0px; }
#selectRegion li { padding-bottom: 3px; }
#selectRegion p { margin: 6px 0 6px 0; }

/* Language Selection */
#selectLanguage
{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#323232;
    position:absolute;
    width:200px;
    z-index:100;
    border:1px #5d5d5d;
    text-align:left;
    padding:0 8px 5px 8px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;

}

#selectLanguage ul { list-style: none; }
#selectLanguage li { padding-bottom: 3px; }
#selectLanguage p { margin: 6px 0 6px 0; }

/* header right */
#header .right { float:right; width:720px; height:24px; }
/* header links */
#header .links { height:16px; }
#header .links ul { list-style:none; float:right; margin: 0; padding: 0; }
#header .links ul li { float:left; color:#6C6C6C; padding:0 6px; line-height:15px; }
#header .links ul li.separator { border-right-color:#6C6C6C; border-right-style:solid; border-right-width:1px; }
#header .links a { color:#6C6C6C; }

#header .follow-us { height: 15px; }
#header .follow-us strong { padding: 0 0 3px 0; }
#footer .follow-us span{ position: relative; bottom: 1px;}
#footer .follow-us { height: 14px; }
.follow-us img { display: inline; }

/* Header Logo */
#logo { width: 100%; }
#logo a { display: block; height:115px; width:420px; margin: 0 auto; background:url('/bundles/spoutlet/images/logo.png') center center no-repeat; }

/** MAIN NAV **/
#nav, #sub-nav { text-transform: uppercase; }
#mainNav-wrapper { height: 30px; background: url('/bundles/spoutlet/images/nav_bg.png') repeat-x; }
#mainNav { }
#mainNav ul { display: block; list-style:none; width: 100%; }
#mainNav ul#nav { margin: 0 auto; text-align: center }
#mainNav ul li {
    float: left;
    background-repeat:no-repeat;
    margin: 2px 0 0 0;
    padding: 0 4px;
    display: inline;

}
#mainNav ul li { background: url('/bundles/spoutlet/images/nav_divider.png') left no-repeat; }
#mainNav ul li.more > a{ background: url('/bundles/spoutlet/images/nav-arrow-1.png') right center no-repeat; padding-right: 15px; margin-right: 5px; }
#mainNav ul li.more:hover > a{ background: url('/bundles/spoutlet/images/nav-arrow-2.png') right center no-repeat; cursor: pointer; }
#mainNav ul li.more li {
    padding: 0 7px;
    display: block;
    margin: 0;
}
#mainNav ul li.more li a {
    display: block;
    height: 12px;
    text-align: left;
}

#mainNav ul li.last { padding: 0; width: 1px; height: 30px;}
#mainNav ul li li { background: none; }
#omni #page #mainNav ul li li a { background-image:none; }
#mainNav ul li a {
    display:-moz-inline-box;
    display: inline-block;
    margin: 0;
    padding: 10px 12px 8px 12px;
    font: 11px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #BFCACE;
}
#mainNav ul#nav li a:hover { color: #BFCACE; }
#mainNav ul#sub-nav li a:hover { color: #ffffff; background-color: #003048; }
#mainNav ul li a.blue { color: #BFCACE; font-weight: bold; }
#mainNav ul li a.blue:hover { color: #ffffff; }
#omni #page #mainNav ul li li { height:20px; }
#omni #page #mainNav ul li li a { background-color:#000; padding:5px 0 4px 10px; margin: 0; }
#omni #page #mainNav ul li li a:hover { background:#333333; }

#nav-wrapper { margin: 0px auto; }
#sub-nav-wrapper { width: 237px; margin: 0 auto; }

.nav-divider { background: url('/bundles/spoutlet/images/nav_divider.png'); }

#content-wrapper { width: 970px; margin:0px auto;}
#content-background { width: 970px; float: left; background-color: #000; margin-top: -5px;}
#content {  width: 950px; float: left; background-color: #000; margin-left: 10px; padding-top:20px; }
.wide-950 { width: 950px; margin: 0 auto; }


/*** LAYOUTS ***/
/* Standard 2 Column */
.std_2col { clear:both; width:950px; padding:0 0 15px 0; float:left; }
.std_2col .right { float:right; width:300px; }
.std_2col .left { width:636px; }

/* Standard 1 Column - Full Across */
.std_1col { clear:both; width:950px; padding:0 0 15px 0; float: left; }

/* Custom 2 Column - 500px, 435px */
.cust_2col_split_1 { clear:both; width:950px; padding:0 0 15px 0; }
.cust_2col_split_1 .right { float:right; width:435px; }
.cust_2col_split_1 .left { width:500px; }

.section_bottom { height:1px; width:100%; clear:both; }

/*standard table with header, subheader, content*/
.std_tbl { padding: 2px; }
.std_tbl td {padding: 6px 2px; color: white; font-size: 13px;}
.std_tbl tr td { border-bottom: solid 1px #c2c2c2; }
.std_tbl .header td {padding: 3px; color: #b3b3b3; font-weight: bold; text-align: center; font-size: 20px;}
.std_tbl .subheader td {text-align: center; font-weight: bold; color: white; font-size: 14px;}




/* New Blue Buttons */
.blueButton { background:url(/bundles/spoutlet/images/btnBlue-right.png) top right no-repeat; }
.blueButton a { display:block; background:url(/bundles/spoutlet/images/btnBlue-left.png) top left no-repeat; height:25px; padding-top:5px;  color:#ffffff; font-weight: bold; margin-right: 3px; padding-left: 3px; }
.blueButton:hover { cursor: pointer; }

.siteButton { background:url(../images/btnBlue-right.png) top right no-repeat; text-align: center; }
.siteButton.inactive { background:url(../images/btnBlue-right-inactive.png) top right no-repeat; }
.siteButton a { display:block; background:url(../images/btnBlue-left.png) top left no-repeat; height:25px; padding-top:5px;  color:#ffffff; font-weight: bold; margin-right: 3px; padding-left: 3px; }
.siteButton.inactive a { background:url(../images/btnBlue-left-inactive.png) top left no-repeat; color: #b3b3b3; cursor: arrow; }
.siteButton.waiting { width: 90px; }
.siteButton:hover { cursor: pointer; }
.siteButton.inactive:hover { cursor: auto; }

.rightButton { float:right; }

/** Main Page **/
.ad_space span { display:block; padding-top:34px; height:16px; font-size:10px; letter-spacing:1px; color:#b3b3b3; }
.newsAd { width:468px; height:60px; margin:0 auto; padding-bottom:10px; }

/** Widget Stuff **/
.widget-33 { background: url('/bundles/spoutlet/images/widget-33-bg.png') no-repeat top left; width: 302px; height: 360px; padding-top:1px;}
.widget-33 .widget-header { padding: 0px 5px 0 5px; background-color: #131313; margin: 2px }
.widget-33 .widget-footer { background: #131313; padding: 5px; width: 290px; margin: 0 auto; border-top: 1px solid #2d2d2d; border-bottom: 1px solid #2d2d2d; height: 15px; }
.widget-33 .widget-content { color: #b3b3b3; padding: 5px; width: 290px; margin: 0 auto; background: #191919; }
.widget-33 .widget-title { font-size: 18.67px; font-weight: bold; color: #bfbfbf; padding: 7px 0 4px 5px; }
.widget-33 .widget-icon { float: right; padding: 1px 0 0 0; }
.widget-33 .widget-item { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 3px 3px 3px 3px; background: #252525; padding: 2px 2px 2px 5px; }
.widget-33 .widget-item-subtext { font-size: 11px; color: #b3b3b3; }

.widget-66{ background: url('/bundles/spoutlet/images/widget-66-bg.png') no-repeat top left; width: 636px; overflow: hidden; }
.widget-66 .widget-header { padding: 0px 5px 0 5px; background-color: #131313; margin: 2px }
.widget-66 .widget-title { font-size: 18.67px; font-weight: bold; color: #bfbfbf; padding: 7px 0 4px 5px;  }
.widget-66 .widget-footer { background: #131313; padding: 5px; width: 624px; margin: 0 auto; border-top: 1px solid #2d2d2d; border-bottom: 1px solid #2d2d2d; }
.widget-66 .widget-content { padding: 5px; width: 624px; margin: 0 auto; background: #191919; overflow: hidden; }
.widget-66 .widget-icon { float: right; padding: 1px 0 0 0; }
.widget-66 .widget-item { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 3px; background: #252525; padding: 2px 2px 2px 5px; min-height: 20px; padding: 4px 0 0 5px; }
.widget-66 .widget-item-subtext { font-size: 11px; color: #b3b3b3; }

.widget-100{ background: url('/bundles/spoutlet/images/widget-100-bg.png') no-repeat top left; width: 950px; overflow: hidden; float: left;}
.widget-100 .widget-header { padding: 0px 5px 0 5px; background-color: #131313; margin: 2px }
.widget-100 .widget-title { font-size: 18.67px; font-weight: bold; color: #bfbfbf; padding: 7px 0 4px 5px; }
.widget-100 .widget-footer { background: #131313; padding: 5px; margin: 0 auto; border-top: 1px solid #2d2d2d; border-bottom: 1px solid #2d2d2d; }
.widget-100 .widget-content { padding: 10px; margin: 0 auto; background: #191919; overflow: hidden; }
.widget-100 .widget-icon { float: right; padding: 1px 0 0 0; }
.widget-100 .widget-item { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 3px; background: #252525; padding: 2px 2px 2px 5px; min-height: 20px; padding: 4px 0 0 5px; }
.widget-100 .widget-item-subtext { font-size: 11px; color: #b3b3b3; }

.widget-100 th, .widget-66 th, .widget-33 th { color: #888888; font-size:12px; text-align:left; padding-bottom:4px; }
.widget-100 td, .widget-66 td, .widget-33 td { color: #c6c6c6; font-size: 12px; padding: 4px 2px; }

.widget-100.no-header { background-image: url('../images/widget-100-bg-no-header.png'); }

/** Rotator **/
#rotator { width:634px; }
#mainAd { width:300px; height:250px; margin-bottom: 0px; border: 1px solid #4A4A4A; }

/** Event Tabs **/
#eventTabs { width:100%; }
#eventTabs ul { list-style:none; height:27px;  } /*background:url(/bundles/spoutlet/images/eventTab-bg.gif) top left repeat-x;*/
#eventTabs ul li { float:left; height:27px; background:url(/bundles/spoutlet/images/eventTab-left-bg.gif) top left no-repeat; margin-right:5px; }
#eventTabs ul li a { display:block; height:20px; padding:7px 10px 0px 10px; background:url(/bundles/spoutlet/images/eventTab-right-bg.gif) top right no-repeat; font-size:12px; font-weight:bold; }
/* selected */
#eventTabs ul li.selected { background:url(/bundles/spoutlet/images/eventTab-selected-left-bg.gif) top left no-repeat; }
#eventTabs ul li.selected a { background:url(/bundles/spoutlet/images/eventTab-selected-right-bg.gif) top right no-repeat; color:#ffffff; }

/** Event Table **/
#eventTable { background:url(/bundles/spoutlet/images/eventTable-bg.gif) bottom left repeat-x #353535; }
#eventTable .pad { border-right:#575757 solid 1px; border-left:#575757 solid 1px; padding:10px 10px 0 10px; }
#eventTable .foot { background:url(/bundles/spoutlet/images/eventTable-bottom-bg.gif) bottom left no-repeat; width:635px; height:12px; }
#eventTable table { width:100%; color:#c6c6c6; }
#eventTable th { font-size:12px; text-align:left; padding-bottom:4px; }
#eventTable td { font-size:12px; padding:2px 0; }

#eventTableWide { background:url(/bundles/spoutlet/images/eventTable-bg.gif) bottom left repeat-x #353535; }
#eventTableWide .pad { border-right:#575757 solid 1px; border-left:#575757 solid 1px; padding:10px 10px 0 10px; }
#eventTableWide .foot { background:url(/bundles/spoutlet/images/eventTable-wide-bottom-bg.gif) bottom left no-repeat; width:950px; height:12px; }
#eventTableWide table { width:100%; color:#c6c6c6; }
#eventTableWide th { font-size:12px; text-align:left; padding-bottom:4px; }
#eventTableWide td { font-size:12px; padding:2px 0; }

/** Hot Stories and Movie Vault Widgets **/
#hs-widget {
	overflow:hidden;
}

#hs-featured .title {
	font-size:16px;
	font-weight:bold;
}
#hs-featured .channel {
	font-size:12px;
	font-weight:bold;
	color:#b3b3b3;
}
#hs-featured .image {
	text-align: center;
	overflow:hidden;
}

#hs-popular .title { color: #b3b3b3; font-weight: bold; padding: 3px; }
#hs-popular { padding: 1px 0 0 0; }
.rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.rounded-bot {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.rounded-top {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
}


/** News & Updates **/
#mainNews { background:url(/bundles/spoutlet/images/news-bg.gif) top left no-repeat; min-height:620px; }
#mainNews .pad { padding:0 10px; }
#mainNews .newsBlurb { padding:8px 0; }
#mainNews h1 {font-size: 24px; font-weight:normal; margin-top: 5px;}
#mainNews h2 {font-size: 21px; font-weight:bold; margin-top: 5px;}
#mainNews h6 {font-size:10px; font-weight:bold; color:#ffffff; }
#mainNews p { font-size:13px; margin: 0; padding-top:10px; word-spacing:1px;}
#mainNews .more { font-size:13px; font-weight:bold; padding-top: 4px; margin-bottom: 6px; }

.newsBlurb { margin-bottom:15px; }
.newsBlurb h1 { font-size:21px; font-weight:normal; }
.newsBlurb h6 { font-size:9px; }

html body .lastBlurb { margin-bottom:0; }

.newsPost h1 { font-size:24px; font-weight:normal; }
.newsPost h6 { font-size:9px; }
.newsPost ul, .newsPost ol { padding-left:25px; margin:10px 0; }

.right_section { padding-top:21px; }
.twitter { text-align: center; padding-bottom: 12px; }
#eventOverview h3 { margin: 0; }




/*** Ads ***/
.ad a img { border:none; }
.ad_400x120 { padding:1px; width:122px; height:400px; background:#4a4a4a; }
.ad_745x48 { text-align: center; clear: both;}
.ad_745x48 img { margin-top: 20px; }
.ad_728x90_wrapper { width: 970px; margin:0px auto; }
.ad_728x90_background { width: 970px; float: left; background-color: #000; }
.ad_728x90 { text-align: center; width: 728px; height: 90px; margin: 20px auto; clear: both; padding-top: 20px; padding: 1px; background: #4a4a4a; }

/** footer **/
#footer-wrapper { width: 970px; margin:0px auto; }
#footer-background { width: 970px; float: left; background-color: #000; }
#footer { clear:both; padding-top:40px; padding-bottom:20px; background:url(/bundles/spoutlet/images/footer-bg.gif) top left repeat-x; }
#footer .nav { list-style:none; font-size:11px; color:#b3b3b3; line-height: 20px; margin: 0; padding: 0;}
#footer .nav a { color:#b3b3b3; }
#footer .nav li { float:left; margin-left:5px; padding-right:5px; border-right:#575757 solid 1px; }
#footer .nav li.noborder { border:none; }
#footer .right { float:right; font-size:11px; font-weight:bold; text-align:right; }
#footer .right li { list-style:none; font-size:11px; font-weight:bold; text-align:right; }
#footer .right li a { color: #009cda; }
#footer .right a { color:#009cda; text-decoration:none; outline:none; font-weight: bold; }
#footer .right a:hover { color:#17b8f8; }
#footer .right a:focus, a:hover, a:active { outline:none; }
#footer .legal { clear:both; text-align:center; font-size:11px; color:#575757; margin-top: 10px; }


/** INPUT FUNCTIONS **/
.textfield { background:url(/bundles/spoutlet/images/input-text-left-bg.gif) top left no-repeat #ffffff; height:22px; }
.textfield .pad { background:url(/bundles/spoutlet/images/input-text-right-bg.gif) top right no-repeat; background-color:none; padding:3px 5px 0 5px; height:19px;  }
.textfield input { display:block; background:none; border:none; height:18px; padding:0; margin:0; width:100%; }
.textfield.selected { background:url(/bundles/spoutlet/images/input-text-left-selected-bg.gif) top left no-repeat #bbf2f6;}
.textfield.selected input { display:block; background:url(/bundles/spoutlet/images/input-text-right-selected-bg.gif) top right no-repeat; background-color:#bbf2f6; border:none; height:19px; padding-top:3px; width:100%; margin:0; }
.form-error { font-style:italic; font-weight:bold; color:#e70000; }

.form-table td { padding:4px 4px; }

/* notices */
.xnotices { width:95%; margin:0 auto; padding-top:16px; }
.xnotices .notice { margin-bottom:6px; }
.xnotices .pad { background:url(/bundles/spoutlet/images/errors/corner-black-top-left.gif) top left no-repeat; }
.xnotices .pad2 { background:url(/bundles/spoutlet/images/errors/corner-black-top-right.gif) top right no-repeat; }
.xnotices .pad3 { background:url(/bundles/spoutlet/images/errors/corner-black-bottom-left.gif) bottom left no-repeat; }
.xnotices .pad4 { background:url(/bundles/spoutlet/images/errors/corner-black-bottom-right.gif) bottom right no-repeat; padding:10px 20px 2px 10px; }
.xnotices h3 { font-size:18px; font-weight:bold; margin:0 0 10px 70px; }
.xnotices p { margin:0 0 10px 70px; font-size:12px; color:#000000; }

.xnotices .infoNotice { background:url(/bundles/spoutlet/images/errors/notice-info-bg.png) 0px 0px no-repeat #97d0e0; }
.xnotices .infoNotice h3 { color:#0f5ea7; }

.xnotices .successNotice { background:url(/bundles/spoutlet/images/errors/notice-success-bg.png) 7px 7px no-repeat #a5e49b; }
.xnotices .successNotice h3 { color:#25641b; }

.xnotices .warningNotice { background:url(/bundles/spoutlet/images/errors/notice-warning-bg.png) 4px 4px no-repeat #e0c797; }
.xnotices .warningNotice h3 { color:#604717; }

.xnotices .errorNotice { background:url(/bundles/spoutlet/images/errors/notice-error-bg.png) 7px 7px no-repeat #fcb3b3; }
.xnotices .errorNotice h3 { color:#7c3333; }



/* side decorations */
.sideDecoration { width:300px; }
.redHead { background:url(/bundles/spoutlet/images/side-decorations/red-head.jpg) top left no-repeat; height:633px; }

/* xp bar */
.userXpWrapper { background:url(//bundles/spoutlet/images/alienware-xp-bar-grey.png) top left repeat-x; }
.userXpFilled { background:url(//bundles/spoutlet/images/alienware-xp-bar-blue.png) top left repeat-x; }
.userXpUnfilled {  }

/* leader boards */
.leaderBoard .caption { font-weight: bold; margin: 0; color: #b3b3b3; padding: 0 0 0 8px; }
.leaderBoard table {width:100%; margin-left: 5px; margin: 10px 0 0 0; }
.leaderBoard th { font-size:13px; font-weight:bold; color: #b3b3b3; text-align: center; padding:3px 0px 7px 3px; }
.leaderBoard td { font-size: 12px; padding: 0 0 4px 0; }
.leaderBoard td.rank { padding-right:20px; }
.leaderboartRight { float:right; }

.aw-badge { background:url(/bundles/spoutlet/images/aw-badge.png) no-repeat; width: 40px; height: 53px; float: right; position: relative; z-index: 1; }

/* Photo Widget */

#photoArray { padding: 10px 0 0 0; margin: 15px auto; width: 250px; height: 200px; }
#photoArray img { border: 1px solid #606060; }

/* Recient Forum Posts */
.recentForumPosts { margin: 20px 0 0 0; }
.recentForumPosts .items { padding:10px 0px 0 0px; list-style:none; }
.recentForumPosts .item { padding-bottom:12px; height:26px; overflow:hidden; }
.recentForumPosts .about { float:left; width:240px; height:15px; margin: 2px 0 0 0; }
.recentForumPosts .about .who { display:block; float:left; font-size:11px; font-weight:normal; }
.recentForumPosts .about .when { display:block; float:right; font-size:11px; font-weight:normal; }
.recentForumPosts .title { float:left; width:240px; height:12px; font-size:12px; font-weight: bold; }
.recentForumPosts .picture { float:left; width:26px; height:26px; padding-right:6px; border:none; }
.recentForumPosts .picture a { border:none; }
.recentForumPosts .picture img { border:none; }
.recentForumPosts .footer { clear:both; height:36px; /* background:url(/bundles/spoutlet/images/recentForumPosts-footer-bg.gif) top left no-repeat; */  }

#newsContainer { width:500px; }

#lowerPage { clear:left; float:left; width:635px; padding-top:15px; }

.ad_space { width:122px; overflow:hidden; }

.formErrors .error { width:425px; margin:0 auto; padding:0 0 10px 0; }
.formErrors .error .title { font-size:22px; color:#c62828; font-weight:bold; padding-bottom:5px; }
.formErrors .error .message { border-left:#c62828 4px solid; border-right:#c62828 4px solid; font-size:12px; font-weight:normal; padding:3px 10px; }

#intelpoll .question { font-size:12px; font-weight:bold; text-align:left; color: #b3b3b3; }
#intelpoll table { padding-bottom:10px }
#intelpoll table th { padding-bottom:5px; }
#intelpoll table td { padding: 10px 4px; }
#intelpoll #voteSpinner { text-align:center; }
#intelpoll .pollResults { padding:0 10px; }
#intelpoll .poll-result { margin: 10px 0; }
#intelpoll .poll-result .bar { margin: 3px 0 0 0; }
#intelpoll .poll-result .percent { font-weight: bold; padding: 2px; }
#intelpoll .pollResults .count { text-align:right; }
#intelpoll .pollResults .question { padding-bottom:10px; }
#intelpoll .pollResults p { margin:0 auto; }
#intelpoll .users { text-align:left; font-weight:normal; font-style: italic; }
#intelpoll .bar div { min-width: 19px; height:16px; background:url(/bundles/spoutlet/images/forums/poll-bar-bg.gif) top left repeat-x; }
#intelpoll .pollResults .text { padding-right:10px; }

#topicPoll .pollResults em { color:#30EAF7; }
#topicPoll .voted { padding-top:15px; font-style:italic; }

#poll #btnVote { margin:0 auto; padding:0; width:72px; }
#poll #btnVote a { width:72px; background-image:url(/bundles/spoutlet/images/forums/btnVote.gif); padding-right:0px; }

/*xfTHREAD*/
#commentsView { width:100%; background:none; }
#commentList { padding:10px 0; }
.submitComment { text-align: center; clear: left; }

.pageList { margin: 0 0 6px 0; }
.pageList a { color: white; font-size: 10px; }
.page-num { display: inline-block; margin: 0 1px; padding: 3px 4px; background: #121212; border: 1px solid #4a4a4a; }
.page-num:hover { border-color: #01A2D2; }
.currentPage { display: inline-block; margin: 0 1px; padding: 3px 5px; background: #121212; border: 1px solid #01A2D2; }
a.page-warp { color: #009cda; font-size: 9px; }

.forumComment { padding-bottom:19px;}
.forumComment .left { float:left; width:146px; }
.forumComment .right { float:right; width:738px; }
#commentsView .forumComment .right { width:490px; }
.submitComment #topicReply { width: 100%; height: 250px; }

#topicComments { width:903px; padding-left:15px; float:left;}

/** profile **/
.profileInfo { }
.row1 .profileInfo { background:url(/bundles/spoutlet/images/forums/profile-arrow-bg.png) top right no-repeat; }
.row2 .profileInfo { background:url(/bundles/spoutlet/images/forums/profile-arrow2-bg.png) top right no-repeat; }
.staffComment .profileInfo { background:url(/bundles/spoutlet/images/forums/profile-arrow-staff-bg.png) top right no-repeat; }
.profileAvatar { position:relative; height:84px; background-position:top left; background-repeat:no-repeat;  }
.profileAvatar span { display:block; position:absolute; width:84px; height:84px; background:url(/bundles/spoutlet/images/forums/avatar-frame.png) top left no-repeat; }
.profileName { font-size:14px; font-weight:bold; padding:10px 0; width:130px; overflow:hidden; }
.profileName a { display:block; min-height:16px; width:100%; }
.profileIcon { text-align: center; }
.toggleMore { float:right; width:35px; height:36px; }
.toggleMore a { display:block; width:35px; height:36px; background:url(/bundles/spoutlet/images/forums/show-more-bg.png) top left no-repeat; }
.toggleMore a:hover { background-position:bottom left; }
.staffComment .profileName { color:#9bc744; background:none; }
.commentEnd { width:100%; height:1px; clear:left; }

.forumSig { padding:10px 20px 0 20px; }
.forumAdmin { padding:10px 20px 0 20px; }
.forumSig p { margin:0; padding-top:10px;  background:url(/bundles/spoutlet/images/forums/sig-liner2.png) top left repeat-x; color:#9b9b9b; }

.forumTextWrapper {  }
.forumText { padding:10px 20px 0 20px; overflow: auto; }
.forumText p { padding-top:10px; margin:0; }
.row1 .forumTextWrapper, .row1 .forumBottom { background:url(/bundles/spoutlet/images/forums/text-bg.png) top left repeat; }
.row2 .forumTextWrapper, .row2 .forumBottom { background:url(/bundles/spoutlet/images/forums/text2-bg.png) top left repeat; }

.forumTextWrapper {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.forumBottom {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.staffComment .forumTextWrapper, .staffComment .forumBottom { background:url(/bundles/spoutlet/images/forums/text-staff-bg.png) top left repeat; }

.forumNumber { float:right; width:48px; height:20px; padding-top:15px; text-align:center; background:url(/bundles/spoutlet/images/forums/post-number-bg.png) bottom right no-repeat; }
.forumInfo { color:#9b9b9b; padding:10px 10px 10px 10px; }

.profileXpBar { margin: 0 10px 10px 0; width: 130px; }
.profileXpHeader { width: 100%; height: 13px; }
.profileXpLevel { float: left; }
.profileXpLeft { float: right; }
.profileXpTotal { float: right;  }
.profileXpFooter { width: 100%; height: 13px; }
.profileXpContainer { clear: left; }

.profileActions { padding-top:5px; height:20px; }
.profileActions .sendMessage { float:left; width:70px; height:20px; background:url(/bundles/spoutlet/images/forums/icons/send-message.png) top left no-repeat; }
.profileActions .sendMessage a { display:block; padding-left:25px; height:100%; }
.profileActions .addFriend { float:right; width:77px; height:20px; background:url(/bundles/spoutlet/images/forums/icons/add-friend.png) top left no-repeat; }
.profileActions .addFriend a { display:block;  padding-left:18px; height:100%; }
.profileActions .viewProfile { padding-top:5px; text-align:center; }

.anchorLink { position:absolute; margin-top:-50px; }

.editComment textarea { width:100%; }
.editComment .actions {padding-top:5px; }

.moreInfo { padding-bottom:10px; }

blockquote { padding:10px 10px 10px 25px; background:#1F1F1F; }
blockquote .who { display:block; color:#AFAFAF;}

/*xForm*/
#row_dob .dob-onkeydown { color: #000000; }
#row_dob .dob-onblur { color: #696969; }
.xform-keydown { color: #000000; }
.xform-blur { color: #696969; }

/** FLOATING TOOLBAR **/
#floating-toolbar-wrapper { background: url('//bundles/spoutlet/images/toolbar-bg.png') center repeat-x; position: fixed; bottom: 0; height: 20px; width: 942px; z-index: 1500; border-bottom: none; padding: 4px; }
#floating-toolbar-wrapper
{
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
#floating-toolbar { position: relative; color: #f1f1f1; }
.toolbar-buttons { margin: 3px 0 0 10px; float: left; width: 800px; }
.toolbar-button { color: #a4a4a4; font-size: 10px; border: 1px solid #838383; background: #474747; padding: 2px; margin: 0 0 0 10px; }
.toolbar-button:hover { border: 1px solid #01a2d2; cursor: pointer; }

/*xTranslate*/
.xTranslate p { }
#language { width: 150px; }
#translation-modal-container { }
#translation-modal-overlay { background: black; }
.translation-modal-wrapper {  padding: 10px; border: 2px solid #01a2d2; background: black; }
.translation-modal-header { margin: 0 0 10px 0; padding: 0 0 3px 0; font-size: 20px; border-bottom: 1px solid #878787; }
.translation-element { margin: 7px 0; }
.translation-element-title { margin: 2px 0; }
.translation-element-submit { text-align: center; }
.label-hidden {}
.label-visible { padding: 2px; border: #01A2D2 1px dotted; }
.label-visible:hover { cursor: pointer; border: #878787 1px dotted; }

.alien-header { background: url(/bundles/spoutlet/images/header-bg.png) top left no-repeat; width: 930px; padding: 8px 0 20px 20px; }
.alien-header h2 { font-family: "verdana"; color: #E7E7E7; margin: 10px 0 25px 0; }

#meta-engine { position: absolute; bottom: 28px; left: 60px; display: none; width: 500px; background: #252525; border: #01a2d2 1px solid;  border-bottom: none; padding: 5px; }
#meta-engine p { margin:0; }
#meta-engine div { margin: 5px 0; border-bottom: 1px solid #bfbfbf; padding: 0 0 5px 0; }
#meta-engine .title { margin: 0 0 2px 0; font-size: 13px; color: #bfbfbf; font-weight: bold; }
#meta-engine .info { margin: 0 0 0 10px; }

a.hover-more { color: #b3b3b3; border-bottom: 1px dashed #01A2D2; }

#simplemodal-overlay { background: #000000; }
.modal-wrapper { padding: 4px; background: #141414; border: #878787 1px solid; }
.modal-title { font-size: 20px; color: #aaaaaa; margin: 0 0 7px 0; }
.modal-left { float: left; }
.modal-right { float: left; }
.modal-close { border-top: 1px solid #4a4a4a; margin: 10px 0 0 0; padding: 7px 5px; text-align: right; }
.modal-close:hover { cursor: pointer; }

table.xTable { }
table.xTable th { background: none; background-color: transparent; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; }
table.xTable th, table.xTable td { padding: 4px 4px 4px 4px; }

.tmvbox { width: 100%; background: #191919; margin-top: 12px; color: #b3b3b3; }
.tmvbox .title { font-weight: bold; font-size: 18px; }
.tmvbox .padding { padding: 5px 10px; }
.tmvcontent { width: 100%; padding-bottom: 1px; }
.tmvcontent .rounded-bot { }
.tmvcontent .rounded { background: #252525; margin: 3px; }
.tmvcontent .rounded p { padding: 0px; margin: 0px 6px; }
.tmvcontent .headline { font-weight: bold; font-size: 13px; color: #12B5EA; padding-top: 3px; }
.tmvcontent .byline { font-size: 11px; padding-bottom: 3px; }

/*age gate*/
#age-gate-wrapper { position: absolute; top: 250px; height: 900px; z-index: 100; background: black; }

/** Custom Site Takeover **/
/*#custom_background_top { background: url("//bundles/spoutlet/images/site-takeover-top-dead-rising.jpg") transparent no-repeat 50% 200px; }*/
/* #custom_background_bot { background: url("/bundles/spoutlet/images/site-takeover-bot.jpg") transparent no-repeat 50% 860px; } */

/*match check-in stuffs*/
#match-checkin-wrapper { width: 100%; height: 30px; }

#match-checkin-minimize-wrapper { height: 15px; width: 120px; float: right; padding: 0px 0px 0 5px; position: relative; right: 3px; top: 0; z-index: 9999; border: 1px solid gray; border-top: none; background: #252525; background: black; color: #b3b3b3; }
#match-checkin-minimize-wrapper:hover { cursor: pointer; border: 1px solid #009cda; border-top: 0px; }
#match-checkin-minimize { }
.checkin-minimized { line-height: 7px; letter-spacing: 5px; padding-top: 3px; font-size: 12px; font-family: "courier new"; }
.checkin-maximized { line-height: 5px; letter-spacing: 3px; padding-top: 8px; font-size: 15px; font-family: "courier new"; }

#match-checkin { height: 30px; float: left; margin: 0 0 0 0px; /*background: url('/bundles/spoutlet/images/common/match-checkin-bg.png') repeat-x top left;*/ }
#checkin-intro { float: left; border-right: 1px solid #484848; padding: 8px 10px 6px 10px; cursor: help; letter-spacing: -1px; font-size: 14px; font-weight: bold; color: #b3b3b3; }
#checkin-teams { float: left; height: 25px; border-right: 1px solid #484848; padding: 5px 10px 0 10px;  }
.checkin-vs { float: left; font-weight: normal; font-size: 16px; padding: 0 4px; margin: 0 10px; }
.checkin-team { float: left; color: white; letter-spacing: .5px; font-weight: normal; font-size: 16px; cursor:help; }
.team-online { color: white; }
.team-offline { color: #aeaeae; }
.checkin-status { display: none; width: 10px; height: 10px; margin: 0px 0 0 5px; border: 1px solid #404040; }
/*
.checkin-status-ready { background: #74b900;  border: 1px solid lightGreen; }
.checkin-status-waiting { background: darkOrange; border: 1px solid yellow; }
.checkin-status-notready { background: #b90000; border: 1px solid red; }
*/
.checkin-status-ready { border-bottom: 3px solid #74b900; }
.checkin-status-waiting { border-bottom: 3px solid darkOrange; }
.checkin-status-notready { border-bottom: 3px solid #b90000; }

#checkin-countdown-wrapper { float: left; font-size: 18px; border-right: 1px solid #484848; height: 26px; padding: 4px 10px 0 10px; font-weight: normal; }
#checkin-countdown-text { float: left; font-size: 14px; padding: 6px 3px 0 0; color: #b3b3b3; font-size: 11px; font-weight: bold; }
#checkin-countdown { float: left; }
.checkin-countdown-label { color: #009cda; }
.checkin-countdown-description { float: left; font-size: 11px; font-weight: bold; padding: 5px 0 0 3px; }

#checkin-button, #checkin-button-inactive  { float: left; text-align: center; margin: 3px 10px 0px 10px; width: 90px; padding: 2px 0 0 0; height: 20px; font-size: 13px; font-weight: bold;  }
#checkin-button-inactive { color: #888a85; background: #252525; border: 1px solid #16181b; }
.checkin-active { background: #454b52; border: 1px solid #16181b; }
.checkin-active:hover { cursor: pointer; border: 1px solid #009cda; }
.checkin-inactive { background-color: #009cda; color: white; border: 1px solid #252525; cursor: default; }

#show-chat-box-inactive { float: left; background: #454b52; border: 1px solid #16181b; text-align: center; margin: 3px 10px 0px 10px; width: 70px; padding: 2px 0 0 0; height: 20px; font-size: 13px; font-weight: bold; color: #888a85; }

#report-score { float: left; font-size: 14px; padding: 6px 8px 0 8px; font-weight: bold; }
#checkin-help { float: left; font-size: 14px; padding: 6px 8px 0 8px; font-weight: bold; }
#checkin-noshow { float: left; font-size: 14px; padding: 6px 8px 0 8px; font-weight: bold; }

.button-wrapper { float: left; padding: 0 5px; border-right: 1px solid #484848; height: 30px; }

#show-chat-box { float: left; width: 70px; text-align: center; font-size: 13px; height: 20px; padding: 2px 0 0 0; margin: 3px 10px 0 10px; font-weight: bold; }
#last-chat-text { display: none; float: left; font-size: 18px; border-left: 1px solid #484848; height: 26px; padding: 4px 10px 0 10px; font-weight: normal; }

/* Match Chat Room Stuff */
#matchchat-wrapper { width:505px; height: 402px; position: absolute; top: 30px; z-index: 200; }
#matchchat-room { width: 505px; height:402px; border-right: 1px solid #454b52; background: #24292c; z-index: 200; }
#matchchat-room .pad { height:380px; padding:10px 0; }
#matchchat-room .bottom { height:2px; }

#matchchat-viewers { float:left; width:120px; text-align: left; }
#matchchat-viewers  h3 { font-size: 14px; text-align: center; height: 16px; font-weight: bold; }
#matchchat-viewers ul { list-style: none; padding: 0 0 0 10px; font-size: 13px; }
#matchchat-viewers .online-members { font-size: 12px; padding: 5px; border-right: none; border-left: none; margin: 0px 0; }
#matchchat-viewers .online-members-team-name { font-size: 13px; font-weight: bold; }
#matchchat-viewers .online-members-home { background: #17191c; cursor: help; }
#matchchat-viewers .online-members-away { background: #1c1f22; cursor: help; }
#matchchat-viewers .online-member { color: #c0c1c2; padding: 0 0 0 5px; }

#matchchat-log { float:left; padding: 0px; background: #1c1f22; font-size: 13px; height:340px;  border: 1px solid #111214; }
#matchchat-log-wrapper { overflow: auto; width:370px; height:340px; }
#matchchat-log .name { font-weight: bold; color: #76B900; vertical-align: top; padding: 0 5px 3px 3px; }
#matchchat-log tr.my-post .name { color: #C0C1C2; }
#matchchat-log .message { padding: 3px; color: #c0c1c2; overflow: hidden; }

#matchchat-log tr.roster-home { background: #17191c; }
#matchchat-log tr.roster-away { background: #1c1f22; }

#matchchat-poll-indicator { float: right; padding: 8px; }

/*
#matchchat-log .my-post .message { background: #2d3640; }
#matchchat-log .roster-home .message { background: #191d37; }
#matchchat-log .roster-away .message { background: #2c1d1d; }
*/

#matchchat-form { clear:both; padding-top:5px; float: right; margin: 0 27px 0 0; }
#matchchat-form .message h3 { text-align: right; display:block; float: left; margin: 4px 5px 0 0; padding: 0 0px 0 0; width: 115px; font-size: 13px; }
#matchchat-form .message .text-input { float:left; height: 28px; width:300px; border-top: 1px solid #333639; font-size: 12px; border-left: 1px solid #333639; border-bottom: 1px #545c63 solid; border-right: 1px #545c63 solid; color:#ffffff;  background: #1c1f22; padding-left:4px; }
#matchchat-form .message .post-submit { float:left; height:25px; width:48px; margin: 3px 0 0 4px; background-color: #74b900; padding:4px 4px 4px 4px; border: none; color: white;}

#txtMatchChatSubmit { background: #454b52; border: 1px solid #16181b; }

#match-checkin-lookie { position: absolute; top: 31px; left: 1px; background-color: #feffc1; z-index: 2000; width: 400px; cursor: pointer; }
#match-checkin-lookie div { padding: 6px; color: #000000; font-weight: normal; font-size: 13px; }

/* qtip styles */
.qtip-content { font-size: 14px; }
.tooltip { font-size: 14px; }

/* pager style */
nav.spoutlet-pager a {
    font-size: 10px;
    color: #fff;
    padding: 3px 3px 3px 3px;
    margin: 0 3px;
    padding: 3px 4px;
    background: #121212;
    border: 1px solid #4a4a4a;
}

nav.spoutlet-pager a:hover {
    color: #fff;
    border: 1px solid #01a2d2;
}

nav.spoutlet-pager .current {
    font-size: 12px;
    margin: 0 3px;
    padding: 4px 5px;
    background: #121212;
    border: 1px solid #01a2d2;
}

hr.faded {
    border: 0;
    height: 1px;
    margin:18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(220, 220, 220,0) 0%, rgba(220, 220, 220,0) 5%, rgba(220, 220, 220,0.65) 50%, rgba(220, 220, 220,0) 95%, rgba(220, 220, 220,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(220, 220, 220,0)), color-stop(5%,rgba(220, 220, 220,0)), color-stop(50%,rgba(220, 220, 220,0.65)), color-stop(95%,rgba(220, 220, 220,0)), color-stop(100%,rgba(220, 220, 220,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(220, 220, 220,0) 0%,rgba(220, 220, 220,0) 5%,rgba(220, 220, 220,0.65) 50%,rgba(220, 220, 220,0) 95%,rgba(220, 220, 220,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(220, 220, 220,0) 0%,rgba(220, 220, 220,0) 5%,rgba(220, 220, 220,0.65) 50%,rgba(220, 220, 220,0) 95%,rgba(220, 220, 220,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(220, 220, 220,0) 0%,rgba(220, 220, 220,0) 5%,rgba(220, 220, 220,0.65) 50%,rgba(220, 220, 220,0) 95%,rgba(220, 220, 220,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(220, 220, 220,0) 0%,rgba(220, 220, 220,0) 5%,rgba(220, 220, 220,0.65) 50%,rgba(220, 220, 220,0) 95%,rgba(220, 220, 220,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
}

hr.faded:before {
    content: "";
    display: block;
    border-top: solid 1px rgba(220, 220, 220,0);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.global-event-link {
    color: #9BC744;
}

.global-event-link:hover {
    color: #9BC744;
}

.attending {
    padding-left: 5px;
}

.beta {
    color: #ff5711;
    padding-right: 2px;
}
