{% form_theme form theme %}

<h2>Change Password</h2>

<form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password form">

    <div id="fos_user_change_password_form">
        <div>
            <label for="fos_user_change_password_form_current">Current password:</label>
            <input type="password" id="fos_user_change_password_form_current" name="fos_user_change_password_form[current]" required="required" />

            <label for="fos_user_change_password_form_new_first">New password:</label>
            <input type="password" id="fos_user_change_password_form_new_first" name="fos_user_change_password_form[new][first]" required="required" />

            <label for="fos_user_change_password_form_new_second">Verification:</label>
            <input type="password" id="fos_user_change_password_form_new_second" name="fos_user_change_password_form[new][second]" required="required" />
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Change password" />
    </div>

</form>
