{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <h1>Add Link</h1>

    <form action="{{ path('idea_add_link', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <br>
        <input type="submit" value="Add Link" />
    </form>

{% endblock %}
