{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <h2 class="spcr-b">Contact User</h2>
    <strong>To:</strong> {{ toUser.name }}<br/>
    <textarea name="body" rows="6" class="inPt">{% if bodyText|default %}{{ bodyText }}{% endif %}</textarea>

{% endblock %}