{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}

    <h3 id="about">SVIC (Silicon Valley Innovation Challenge)</h3>

    <p>Welcome to the SVIC!</p>

    <p>Innovation represents the promise of possibilities. Creativity, fresh points of view, and openness to change are the essence of innovation. Entrepreneurship is part of innovation in that it extends the innovation toward establishment of an enterprise or other sustainable use.</p>

    <p>The Silicon Valley Innovation Challenge (SVIC) is an annual forum designed to promote creativity and entrepreneurship by generating and showcasing Innovative Business Ideas. The SVIC mission is to cultivate entrepreneurs and help their innovative business ideas prosper into a reality.</p>

    <p>This event welcomes students, alumni, faculty and staff from all departments and majors across San Jose State University (SJSU) and our partner universities anc colleges.  The SVIC has two parts to the competition.  The first part is the virtual portion of the contest where students will submit their innovative ideas to the SVIC online community and receive feedback from judges, professors, peers and industry professionals. The participants will have the opportunity to interact and collaborate with all the members of the online SVIC community.</p>

    <p>Judges will then evaluate all of the ideas, narrowing the final showcase to a set of finalists. These finalists will then be invited to display their innovative ideas at the SVIC Final Showcase.</p>

    <br/><h3 id="organizers">Organizers</h3>

    <p><strong>Bobbi Makani</strong><br/>
        Director, Silicon Valley Innovation Challenge<br/>
        Director, Social Innovation Initiative<br/>
        Director of Community Engaged Learning for CommUniverCity<br/>
        Lecturer, Marketing and Decision Sciences<br/>
        Lecturer, Organization and Management<br/>
        <a href="http://cucsj.org/">CommUniverCity</a><br/>
        <a href="http://www.sjsu.edu/cob/">College of Business</a><br/>
        San Jose State University
    </p>
    <p><strong>Lindsay M. Sierra</strong><br/>
        Member, Planning Committee<br/>
        Administrative Support<br/>
        SJSU Student
    </p>
    <p><strong>Nick Judge</strong><br/>
       Member, Planning Committee<br/>
       Administrative Support<br/>
       SJSU Student
    </p>

    <br/><h3>Advisory Committee</h3>

    <p><strong>Joseph Giglierano</strong><br/>
        Professor, Marketing &amp; Decision Sciences<br/>
        <a href="http://www.sjsu.edu/cob/">College of Business</a><br/>
        San Jose State University
    </p>
    <p><strong>Dan Doles</strong><br/>
        Executive - in - Residence<br/>
        <a href="http://www.sjsu.edu/cob/">College of Business</a><br/>
        San Jose State University
    </p>

    <br/><h3>Steering Committee</h3>
    <p><strong>Greg Payne</strong><br>Associate Dean, Research<br>Professor, Kinesiology<br><a href="/casa/">College of Applied Sciences &amp; Arts</a><br><br><strong>Anu Basu</strong><br>Director, Silicon Valley Center for Entrepreneurship<br>
    Professor, Entrepreneurship (Organization &amp; Management)<br><a href="http://www.sjsu.edu/cob/">College of Business</a></p>
    <p><strong>Anu Vuorikoski</strong><br>Lecturer, Accounting and Finance Department<br><a href="http://www.sjsu.edu/cob/">College of Business</a></p>
    <p><strong>Janene Perez</strong><br>Lecturer, Child and Adolescent Development<br><a href="/education/">College of Education</a></p>
    <p><strong>Len Wesley</strong><br>Associate Professor, Computer Engineering<br><a href="http://www.engr.sjsu.edu/">College of Engineering</a></p>
    <p><strong>Diana Seah</strong><br>Associate Professor, Design<br><a href="/humanities/">College of Humanities &amp; the Arts</a></p>
    <p><strong>John Wentzler</strong><br>Associate Dean for Digital Futures<br><a href="http://www.sjlibrary.org/">Library</a></p>
    <p><strong>Robert Chun</strong><br>Professor, Computer Science<br><a href="/science/">College of Science</a></p>
    <p><strong>Jan English-Lueck</strong><br>Associate Dean, College of Social Sciences<br>Professor, Anthropology<br><a href="/socialsciences/">College of Social Sciences</a><br><br><br>Contact us: <a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a><strong><span style="font-weight: normal; font-style: normal; font-family: Verdana,Geneva,sans-serif; font-size: 12px; color: #000000;"><br></span></strong></p>

{% endblock %}
