{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h3>Event FAQ</h3><hr/>

    <p><strong>Do I have to be an SJSU student to join?</strong><br/>
    No, SVIC now welcomes students from SJSU and from its partner universities and colleges
    locally and internationally. The SVIC also welcomes SJSU faculty, alumni and staff to enter the
    challenge!</p><hr/>

    <p><strong>How do I register?</strong><br/>
    Registration takes place <a href="{{ path('fos_user_registration_register') }}">here</a>.  You will be asked to create a free account and profile.  It takes
    less than two minutes to do this.</p><hr/>

    <p><strong>Do I need to have a business plan?</strong><br/>
    No! Entering the SVIC does not mean you need to have a business plan prepared.  Participants
    only need to have an innovative idea.</p><hr/>

    <p><strong>Do I have to be a business major to join the SVIC?</strong><br/>
    Absolutely not!  The SVIC urges all majors to join!!</p><hr/>

    <p><strong>Can I keep my idea confidential?</strong><br/>
    Yes.  Upon submitting your idea, you have the option to keep your idea confidential. To keep
    your idea confidential, check the box beside “private” and your idea will not be shown or
    posted on the SVIC community forum.</p><hr/>

    <p><strong>What happens if I don’t check “private”?</strong><br/>
    If you do not check the box beside “private”, your idea will be visible to the public.</p><hr/>

    <p><strong>Should I keep my idea confidential?</strong><br/>
    The option of confidentiality is entirely subjective.  It is the users’ decision whether or not to
    keep the idea private.  However, everyone should take note that allowing the public to view
    your idea will generate feedback on your idea, which will help with further configurations of
    your project.</p><hr/>

    <p><strong>Can I make my idea visible to the public?</strong><br/>
    Yes, you can uncheck the box beside “private”, and your idea will now be visible to the SVIC
    community forum.</p><hr/>

    <p><strong>Can I edit my idea after I have already submitted it?</strong><br/>
    Yes, once an idea is submitted you can always edit every part of the idea.  A user can make
    changes to the detail description, add links or videos to the idea, update the project phase or
    update group members.</p><hr/>

    <p><strong>How do I edit my idea?</strong><br/>
    There is an “edit” link in the right corner below the idea title. Once the link is clicked, SVIC
    will allow you to make changes and update your idea.  You may also change any information
    about your idea, upload an image or a video. Remember that you can only edit your idea until
    November 1st!</p><hr/>

    <p><strong>Can I edit my profile info?</strong><br/>
    You can login and update your profile whenever you want.</p><hr/>

    <p><strong>Will I receive E-mail notifications about activity involving my idea?</strong><br/>
    Yes, unless you have requested that your idea remain private, you will receive an email update
    if someone makes a comment on your idea. SVIC users have the option to “follow” ideas, which
    will allow the user to receive E-mail updates on any idea he or she “follows.”  The “follow” link
    can be located on the right beneath the idea name.</p><hr/>

    <p><strong>What does “follow” mean?</strong><br/>
    This functionality allows users to follow an idea.</p><hr/>

    <p><strong>How can I comment on the ideas?</strong><br/>
    You can comment upon an idea by clicking on the idea. A window will open with a box to let
    you type in your comments.</p><hr/>

    <p><strong>Can I respond to comments on my ideas?</strong><br/>
    Yes, the comment feature of SVIC is made for conversation!  Feel free to comment on other
    ideas and respond to comments on your ideas.  Use this feature as a tool to your advantage!</p><hr/>

    <p><strong>Can a user submit more than one idea using one account?</strong><br/>
    Yes! There is no limit on idea entries. Users are welcome to submit multiple ideas; innovation
    knows no constraints!</p><hr/>

    <p><strong>When is my LAST chance to enter the challenge?</strong><br/>
    Registration closes at midnight on November 1st.</p><hr/>

    <p><strong>What is the criteria for judging?</strong><br/>
    Please visit our <a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}#criteria">Event Info</a> page to view the judging criteria.</p><hr/>

    <p><strong>When will I know if I am one of the finalists?</strong><br/>
    All finalists will be notified by email on November 11th.</p><hr/>

    <p><strong>How do I prepare for the finalists challenge?</strong><br/>
    Please visit our <a href="{{ path('idea_info', {'groupSlug': groupSlug, 'eventSlug': eventSlug, 'page': 'Event'}) }}">Event Info</a> page to view details on how to prepare.</p><hr/>

    <p><strong>Where is the Final Challenge located?</strong><br/>
    The final challenge showcase will take place at SJSU’s Barrett Ballroom in the Student Union.</p><hr/>

    <p><strong>Why do I need to submit my idea online?</strong><br/>
    The SVIC has added a virtual portion to the event.  All ideas will be submitted online here.  The
    top innovative ideas from the online SVIC will be chosen by a panel of judges to participate in a
    final challenge showcase on November 20.  The final showcase will take place at SJSU’s Barrett
    Ballroom in the Student Union.</p><hr/>

{% endblock %}
