{% extends 'IdeaBundle::base.html.twig' %}

{% block content %}

    <h3>Ready to Innovate? Start the Challenge Here!</h3>
    SJSU community – share your innovative ideas and join the Silicon Valley Innovation Challenge. Connect with other students, judges, faculty, industry professionals, entrepreneurs, experts and get valuable inputs on how to put your ideas into action.
    The SVIC is open to all SJSU students, faculty, alumni and staff. Everyone from all fields of study are welcome to submit innovative ideas in any phase of development (from the conceptual stage up to fully-operational ones that are already running).


    <p>
        <h3>How Does it Work?</h3>
        <ul class="bulleted">
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a> and create a profile.</li>
            <li>Submit your idea.</li>
            <li>Complete your profile.</li>
            <li>Browse through other ideas.</li>
            <li>Follow ideas that you think are innovative</li>
            <li>Share and connect with our community.</li>
            <li>Learn new skills and refine your ideas.</li>
            <li>Compete for prizes and awards in campus on November 20th, 2013 (Wednesday)</li>
        </ul>
    </p>

    <p>
        <h3>In What Ways Can I Participate?</h3>
        There are many ways to get involved in the SVIC, although most are participants. You can participate by being a(n):
        <p><strong id="observer">Observer</strong>: The SVIC invites you to observe the final showcase! Visit SJSU’s Barrett Ballroom located on the 3rd floor of the Student Union November 20th to view the Challenge’s top 50 innovative ideas!</p>

        <p><strong id="participant">Participant</strong>: The SVIC welcomes your innovations! Submit your idea <a href="{{ path('idea_create_form', {'groupSlug': groupSlug, 'eventSlug': eventSlug}) }}">TODAY!</a></p>

        <p><strong id="judge">Judge</strong>: Immerse yourself within the innovative ideas and sign up to judge the online and final showcase! Please send an email to <a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a> to apply.</p>

        <p><strong id="sponsor">SVIC Sponsor</strong>: <a href="http://www.sjsu.edu/svic/partners/index.html">Support</a> the innovative ideas of tomorrow and become an official SVIC Sponsor!</p>
    </p>

    <h3>Prizes and Awards</h3>

    <p>
        At least $5,000 in prizes! $1,500 First Prize award for the most innovative idea. Prizes will also be awarded for special categories:
        <ul class="bulleted">
            <li>Most Innovative Idea</li>
            <li>Best Elevator Pitch</li>
            <li>TechShop Award</li>
            <li>Social Innovation Award</li>
            <li>Other Special Category Awards based on sponsorship</li>
            <li>People’s Choice Award</li>
        </ul>
    </p>


{% endblock %}
