{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h3 id="details">Event Details</h3>
    <p><ol>
        <li>Submit your innovative idea.</li>
        <li>Vote for your favorite ideas.</li>
        <li>The best ideas will be invited to come to SJSU campus to showcase their ideas.</li>
    </ol></p>

    <p><strong>To Join:</strong><br/>
    <ol>
        <li>Click on the "Join Now" button</li>
        <li>Enter an appropriate username, your email address and a secure password.</li>
        <li>Provide your first and last name</li>
        <li>Type in your school, institution, or organization</li>
        <li>Indicate your major, profession, or area of expertise</li>
        <li>Choose your role in the SVIC</li>
        <li>Choose your affiliation</li>
        <li>Click on “Register” and you are now an SVIC community member!</li>
    </ol></p>


    <p><strong>To Submit an Idea:</strong><br/>
    <ol>
        <li>Click on the button “Add Idea”</li>
        <li>Enter your Idea Title</li>
        <li>Provide the first and last name of all your team members.</li>
        <li>Enter your idea description.  All descriptions must be at least 250 words and no more than 1000 words.</li>
        <li>Select the current stage of your idea.</li>
        <li>If applicable, please indicate whether the idea is related to an academic course and if so, enter the name of the professor.</li>
        <li>You have the option to enter the amount needed for starting up this business.</li>
        <li>Enter relevant “tags” for your idea</li>
        <li>Indicate whether or not this idea should be kept private. Note: if you DO NOT check the “private” box, your idea will be visible to the public.</li>
        <li>Select “Submit Idea”, and you’re done!</li>
    </ol></p>
    <br/>

    <h3 id="presentation">Presentation Guidelines</h3>

    <p>Participants will present their idea by means of a poster board that explains the
        idea and its value. The poster board should be self-explanatory and should communicate
        the essence of the idea to the audience and judges.
    </p>
    <p>Participants are encouraged to support their poster board display with:</p>
    <ul class="bulleted">
        <li>Models or prototypes of the product</li>
        <li>Computer displays</li>
        <li>Demonstrations or</li>
        <li>Any form of visual display to help the audience and judges fully understand the value and utility of the product, process or service</li>
    </ul>

    <p><h3 id="criteria">Criteria for Judging: (Maximum total points = 20)</h3></p>
    <table style="height: 413px; width: 100%;" border="1" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td width="120">
                <p align="center"><strong>Criteria</strong></p>
            </td>
            <td width="156">
                <p align="center"><strong>Unacceptable (1)</strong></p>
            </td>
            <td width="156">
                <p align="center"><strong>Acceptable (3)</strong></p>
            </td>
            <td width="186">
                <p align="center"><strong>Excellent (5)</strong></p>
            </td>
        </tr>
        <tr>
            <td width="120">
                <p align="center"><strong>User needs</strong></p>
            </td>
            <td width="156" valign="top">
                <p>Target users are not defined at all. The idea does not meet any identifiable needs of target users or the needs addressed are trivial</p>
            </td>
            <td width="156" valign="top">
                <p>The target user is not clearly defined. There is some identifiable need, but how the idea addresses it is not articulated clearly.</p>
            </td>
            <td width="186" valign="top">
                <p>The target users of the product/service are clearly defined. The idea clearly addresses an important need or needs. The target users will definitely benefit from this product.</p>
            </td>
        </tr>
        <tr>
            <td width="120">
                <p align="center"><strong>Advantage</strong></p>
            </td>
            <td width="156" valign="top">
                <p>Idea does not exhibit any advantage over any existing products/service currently available in the market.</p>
            </td>
            <td width="156" valign="top">
                <p>Idea exhibits some advantage over existing products/service currently available in the market.  The idea still needs to be fleshed out more.</p>
            </td>
            <td width="186" valign="top">
                <p>Idea exhibits a sizable advantage over other products/services, or over other means of addressing the need.</p>
            </td>
        </tr>
        <tr>
            <td width="120">
                <p align="center"><strong>Doable</strong></p>
            </td>
            <td width="156" valign="top">
                <p>The idea cannot be executed or implemented.</p>
            </td>
            <td width="156" valign="top">
                <p>Some parts of the idea can be executed or implemented but not in its entirety.</p>
            </td>
            <td width="186" valign="top">
                <p>The idea can be executed or implemented as it is.</p>
            </td>
        </tr>

        <tr>
            <td width="120">
                <p align="center"><strong>Breadth of Impact</strong></p>
            </td>
            <td width="156" valign="top">
                <p>The idea has very few potential beneficiaries.</p>
            </td>
            <td width="156" valign="top">
                <p>The potential market is significant, but limited.</p>
            </td>
            <td width="186" valign="top">
                <p>The potential market is widespread, adaptable to a large number of segments and markets.</p>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>

    <h3 id="poster"><strong>Preparing the Poster Board</strong></h3>
    <ul class="bulleted">
        <li>A free-standing poster board (max. dimensions: 36 x 48 inches)</li>
        <li>We recommend a two-fold poster board, as shown in the picture below (this is the Hunt ExecutivePro Display Board):<br/><br/>
            <img src="http://stage.sjsu.edu/svic/pics/guidelines_Svic.jpg" alt="SVIC Guidelines" width="317" height="304"></li>
        <li>Add your start-up company’s (project’s) name in large font at the top of the board</li>
        <li>Include a headline that says what the company (project) does.</li>
        <li>Include photographs, charts, graphics or designs related to the product and display them on the poster board. Blow them up so that they are visible.</li>
        <li>The poster board should also include the following:</li>
    </ul>
    <ol>
        <li>Clear explanation of the product/service concept</li>
        <li>Its potential customers/users and expected market size</li>
        <li>The benefit/value of the concept to users</li>
        <li>The uniqueness of the concept and its competitive edge</li>
        <li>The feasibility of the concept</li>
    </ol>

    <p>Download a <a title="SVIC_Exhibit_template2012" href="http://www.sjsu.edu/svic/docs/svic.ppt">Template of the poster board presentation</a>.</p>

    <p><strong>The exhibits will be judged for two competition categories:</strong></p>

    <ul class="bulleted">
        <li>Most Innovative Idea
        <li>Social Innovation Award</li>
        <li>TechShop Award</li>
        <li>People’s Choice Award</li>
    </ul>
    <br/>

    <h3 id="faculty"><a name="FacultyResources"></a> Faculty Resources</h3>
    <p>Click here to download the <a href="http://www.cob.sjsu.edu/svic/SVIC_2011_INFO-slides.ppt">Power point presentation slides of the SVIC</a>&nbsp;to show to your students in class.<br><br>
        <strong>Here are some suggestions of ways to involve students:</strong></p>
    <ol>
        <li>Integrate student participation in the Silicon Valley Innovation Challenge (SVIC) into your syllabus.</li>
        <li>Assign a class project that requires students to develop an innovative business idea that they can present at the SVIC.</li>
        <li>Give credit or extra credit for participating in the SVIC</li>
        <li>Promote the SVIC to your students, inform them that they could win prizes.</li>
        <li>Inform students about the SVCE's Speaker events, where they can learn more about the SVIC.</li>
        <li>Include a link to the SVIC website on your faculty website.</li>
        <li>Schedule a short presentation to your class by a SVIC volunteer.</li>
        <li>Invite your students to this year's SVIC, so they can experience the event for themselves.</li>
    </ol>
    <br/>

    <h3 id="ip"> Intellectual Property</h3>
    <p>Even though you are exhibiting an early-stage idea, you want to make sure that you
        do not present anything in your exhibit that will compromise your right to use or
        pursue the idea in the future. The issue is obvious if you have a technology idea
        and you want to be able to pursue a patent. The issue can also arise, though, if you
        have a product name that you might want to seek to be designated as a trade mark.
        Also, if you have a business idea that will compete based on some special knowledge
        or business operation (a trade secret), you do not want to give away your “secret
        sauce” that differentiates your business. The paragraphs below give you some thoughts
        on how to stay protected.
    </p>
    <p><strong><em>If you have a technology or process that might be patentable (or might be copyrighted
                if it is software)…</em></strong></p>
    <p>You do not want to display enough about your technology or process that it becomes
        considered to be in the public domain.
    </p>
    <p>Do not include drawings, diagrams, or descriptions that show the unique nature or
        workings of your product or process. You can say what it does – the benefits it provides,
        for example – but keep secret how it accomplishes this.
    </p>
    <p>If you have software, do not exhibit any code.</p>
    <p><strong><em>If you have named a product or service with a special name or symbol…</em></strong></p>
    <p>You want to indicate that you intend to use this as a brand. You can follow the brand
        name with the symbol “™” to indicate it is yours, it is original, and that you intend
        to do business with this name. Later, if you want to pursue this business, you will
        need to file to register your brand name with the appropriate jurisdictions: states
        or the federal government, depending on whether you will be doing business across
        state lines.
    </p>
    <p><strong><em>If your have designed your business idea around trade secrets…</em></strong></p>
    <p>You will need to maintain the secrecy of your key ideas that create your differentiation.
        In your exhibit, do not be specific about things that, if copied by competitors, will
        cost you your competitive edge.
    </p>
    <p><strong><em>If you have an idea you intend to pursue that might meet the criteria above,</em></strong>&nbsp;check with the SJSU Office of Graduate Studies and Research to learn about procedures
        for determining whether SJSU has an ownership interest. The university has the expertise
        and experience to assist you in assessing commercialization and determining whether
        you might have issues related to protecting Intellectual Property.
    </p>
    <br/>

    <h3 id="guidelines">SVIC Community Guidelines</h3>

    <p>We are delighted to provide a forum for posting innovative ideas, sharing thoughts and interacting with others. The opinions and viewpoints expressed in the comments are those of the individuals themselves, and do not reflect the perspectives of the SVIC Director.</p>

    <p>The goal is to provide an online community where members with diverse views, perspectives, and ideas can share information, and can interact with one another. Any comments shared on this website may be used in the SVIC website and marketing collateral.</p>

    <p>Please read through the SVIC community guidelines:</p>

    <p><strong>Be Respectful.</strong><br/>
    It is okay to disagree with others but insulting, degrading, or putting down individuals and/or their ideas will not be tolerated. Comments that use obscenities, personal insults, ethnic slurs or other disparaging language will be deleted.</p>

    <p><strong>Links to Other Websites.</strong><br/>
    SVIC is NOT responsible for the content of any linked website, or any link contained in a linked website, or any changes or updates to such websites. Please note that SVIC is not responsible for the privacy practices of such other websites.</p>

    <p><strong>Document, Video and Photo Sharing.</strong><br/>
    The SVIC community is a place for individuals to share ideas, documents, and resources. We encourage individuals to share documents, photos and videos that specifically provide information about your innovative idea. Please be aware t hat uploading documents, photos and videos, you are giving permission to others to view and use your documents.</p>

    <p><strong>Monitored Comments.</strong><br/>
    Comments will be monitored to preserve the spirit of an open, interactive discussion without offending participants. The SVIC Director and community moderator wish to foster a sociable and comfortable learning environment. All posts will be treated with respect and courtesy.

    The SVIC Director reserves the right to delete any inappropriate comments at any time.</p>

    <p><strong>Questions and concerns?</strong><br/>
    Any concerns and/or questions regarding SVIC can be emailed directly to the Director through <a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a>.</p>

{% endblock %}
