{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h3 id = "sponsor"><strong>Information for Sponsors</strong></h3>
    The Silicon Valley Innovation Challenge, an annual forum to develop creativity and
    entrepreneurship, is supported by alumni, leading technology and consumer product
    companies, banks, venture firms, accounting and legal firms, market research organizations,
    real estate agencies and incubators. Most of these organizations and sponsors come
    from Silicon Valley and surrounding communities. However, it is also supported by
    non-profit organizations like NCIIA and local incubators. These organizations support
    the SVIC to witness young entrepreneurs in the making.

    <p>
        The SVIC offers a great networking opportunity for sponsors. Specifically it offers
        them the following benefits:
        <ul class="bulleted">
            <li>Increasing exposure and building relationship with SJSU and its 30,000 students</li>
            <li>Finding talented students and good ideas to help fill their “talent pipeline”</li>
            <li>Enhancing public image and promoting name recognition</li>
            <li>Creating a better entrepreneurial infrastructure for the Silicon Valley</li>
            <li>Tapping into the entrepreneurship expertise at SJSU</li>
            <li>Identifying potential interns, employees and business partners</li>
            <li>Benefiting from enriched education process at SJSU</li>
            <li>Participating in the growth of the Silicon Valley entrepreneurial community</li>
            <li>Promote their services to entrepreneurs and potential entrepreneurs!</li>
            <li>Network with startups – a chance to meet founders of emerging and early stage businesses</li>
        </ul>
    </p>

    <p>
        <h3>Participation (Audience)</h3>
        Service providers in venture financing, banking, accounting, legal, market research, real estate, etc.
        <ul class="bulleted">
            <li>SJSU students with interest in entrepreneurship</li>
            <li>Faculty</li>
            <li>Startups in the making</li>
            <li>Investors</li>
            <li>General public interested in entrepreneurship</li>
        </ul>
    </p>

    <p>
        <h3>Available Table Sizes</h3>
        <ul class="bulleted">
            <li>6’x2.5’ – for at least 1 company representative</li>
            <li>12’x2.5’ – for at least 3 company representatives</li>
            <li>10’x1.5’ – for at least 1 company representative</li>
        </ul>
    </p>

    <p>
        <h3>Utilities</h3>
        <ul class="bulleted">
            <li>Power</li>
            <li>High speed Internet access</li>
        </ul>
    </p>

    <h3>Sponsorships</h3>

    <p>
        <h3>Levels</h3>
        <ul class="bulleted">
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#TitleSponsorofFair">Title Sponsor of Fair ($50,000 p.a.)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#DiamondSponsor">Diamond Sponsor ($10,000-39,999)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#PlatinumSponsor">Platinum Sponsor ($5,000-9,999)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#GoldSponsor">Gold Sponsor ($2,500-4,999)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#SilverSponsor">Silver Sponsor ($1,000-2,499)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#BronzeSponsor">Bronze Sponsor ($500-999)</a></li>
            <li><a href="http://stage.sjsu.edu/svic/partners/index.html#Friends">Friends (up to $499)</a></li>
        </ul>
    </p>

    <h3>Benefits</h3>
    <p>
        <h3>Title Sponsor of Fair ($50,000 P.A.)</h3>
        <ul class="bulleted">
            <li>Name/logo placement in signage, materials, program and on Sponsoring Colleges, SVCE, SVIC websites</li>
            <li>Prime spot for exhibit table</li>
            <li>Logo will be projected continually on a giant screen at the front of the hall</li>
            <li>Increased exposure and relationship-building with SJSU and its best students</li>
            <li>Opportunity to judge one or more of the competitions</li>
            <li>Speaking opportunity at closing ceremony</li>
            <li>Enhanced public image and special recognition at Sponsors’ reception</li>
        </ul>
    </p>
    <p>
        <h3>Diamond Sponsor ($10,000-19,999)</h3>
        <ul class="bulleted">
            <li>Name/logo placement in signage and on sponsoring Colleges, SVCE, SVIC website</li>
            <li>Logo will be projected continually on a giant screen at the front of the hall</li>
            <li>Opportunity to judge one of the competitions</li>
            <li>Special recognition as Diamond sponsor at closing ceremony</li>
            <li>Recognition at Sponsors’ networking reception.</li>
        </ul>
    </p>
    <p>
        <h3>Platinum Sponsor ($5,000-9,999)</h3>
        <ul class="bulleted">
            <li>Name/logo placement in signage and on SVCE &amp; SVIC website</li>
            <li>Logo will be projected on a giant screen at the front of the hall</li>
            <li>Special recognition as Platinum sponsor at closing ceremony</li>
            <li>Invitation to Sponsors’ networking reception.</li>
        </ul>
    </p>
    <p>
        <h3>Gold Sponsor ($2,500-4,999)</h3>
        <ul class="bulleted">
            <li>Name/logo placement in signage and on SVIC website</li>
            <li>Logo will be projected on a giant screen at the front of the hall</li>
            <li>Special recognition as Gold sponsor at closing ceremony</li>
            <li>Invitation to Sponsors’ networking reception</li>
        </ul>
    </p>
    <p>
        <h3>Silver Sponsor ($1,000-2,499)</h3>
        <ul class="bulleted">
            <li>Name/logo placement in signage and on SVIC website</li>
            <li>Name/logo will be projected on a giant screen at the front of the hall</li>
            <li>Recognition at the event closing ceremony</li>
        </ul>
    </p>
    <p>
        <h3>Bronze Sponsor ($500-999)</h3>
        <ul class="bulleted">
            <li>Name/logo placement on SVIC website</li>
            <li>Name/logo will be projected on a giant screen at the front of the hall</li>
        </ul>
    </p>
    <p>
        <h3>Friends (Up to $500)</h3>
    </p>

    <br/><br/><br/>

    <p>
        <h3 id="howto">How to Sponsor:</h3>If you are interested in learning more about the SVIC and would like to know how you
        or your company can help, please contact Dr. Bobbi Makani at <a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a>.<br/><br/>
    Thank you.
    </p>

{% endblock %}
