{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h3>Event Schedule</h3>
    <table class="tblStyle">
        <tr><td class="padRt" style="width:50%">September 2nd</td><td style="text-align: left"> Online registration opens</td></tr>
        <tr><td class="padRt" style="width:50%">October 11th</td><td style="text-align: left"> Silicon Valley Innovation Jam (SVIJ)</td></tr>
        <tr><td class="padRt" style="width:50%">November 1st</td><td style="text-align: left"> SVIC registration closes @ midnight</td></tr>
        <tr><td class="padRt" style="width:50%">November 2nd</td><td style="text-align: left"> Online judging commences</td></tr>
        <tr><td class="padRt" style="width:50%">November 11th</td><td style="text-align: left"> Finalists notified</td></tr>
        <tr><td class="padRt" style="width:50%">November 20th</td><td style="text-align: left"> SVIC Finalists Showcase</td></tr>
        <tr><td class="padRt" style="width:50%">December 5th</td><td style="text-align: left"> SVIC Networking Event</td></tr>
    </table>

    <br/>

    <p>For additional questions regarding scheduling, please contact Dr. Bobbi Makani at <a href="mailto:svic@sjsu.edu">svic@sjsu.edu</a>.</p>

{% endblock %}
