{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block content %}
    <h1 class="event-name">Session List</h1>

    <table class="sessions">
        {% for eventSession in event.sessions %}
            <tr>
                <td>{{ eventSession.timeRangeString }}</td>
                <td>
                    <a href="{{ eventSession | pd_link }}" class="blue">{{ eventSession.name }}</a><br/>
                    {{ eventSession.description | truncate(300) | striptags }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

