{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <h1>Upload File</h1>

    <form action="{{ path('idea_upload', {'entrySetId': entrySet.id, 'entryId': idea.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <br><br>
        <input type="submit" value="Upload Image" />
    </form>

{% endblock %}
