<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Ip Address</th>
            <th>Country</th>
            <th>Site</th>
        </tr>
    </thead>

    <tbody>
    {% for login in logins %}
        <tr>
            <td>{{ login.dateTime | date('Y/m/d H:i:s') }}</td>
            <td>{{ login.ipAddress }}</td>
            <td>{{ login.country.name }}</td>
            <td>{{ login.site.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">No logins</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
