{% extends 'SpoutletBundle::adminLayout.html.twig' %}

{% block title %}User Logins{% endblock %}

{% block content %}
    <h1>Logins</h1>

        {% include 'UserBundle:Admin:_logins.html.twig' with { 'logins': logins } %}

{% endblock %}
