<div class="deals-header">
    {% if data.deal_banner is not null %}
        <img src="{{ data.deal_banner }}" />
    {% endif %}
</div>
<div class="deals-timeleft" style="display: none;">
    {% if data.deal_ends_at_utc is not null %}
        {% if not data.deal_has_expired %}
            {% if data.deal_has_keys %}
                <input id="deal-ends-date" type="hidden" value="{{ data.deal_ends_at_utc | date('Y/m/d H:i:s') }}" />
                <div id="time-left">
                    <span id="deals-timeleft-label">{{ 'deal_timeleft_label' | trans }}</span>
                    <span id="deals-daysleft">{dn}</span>
                    <span id="deals-daysleft-label" class="timeleft-label">{dl}</span>
                    <span id="deals-hoursleft">{hn}</span>
                    <span id="deals-hoursleft-label" class="timeleft-label">{hl}</span>
                    <span id="deals-minutesleft">{mn}</span>
                    <span id="deals-minutesleft-label" class="timeleft-label">{ml}</span>
                    <span id="deals-secondsleft">{sn}</span>
                    <span id="deals-secondsleft-label" class="timeleft-label">{sl}<span>
                </div>
            {% endif %}
        {% else %}
        <span id="deal-expired-label">{{ 'deal_timeleft_expired_label' | trans }}</span>
        {% endif %}
    {% endif %}
</div>
