<li>
    <span class="item">
        <span class="step-number">{{ 'deal_instructions_step' | trans }} 1:</span>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ 'platformd.create_account_or_login' | trans }}
        {% else %}
            <a href="{{ login_link(url('deal_show', {'slug': slug})) }}">
                {{ 'platformd.create_account_or_login' | trans }}
            </a>
        {% endif %}
    </span>
</li>
