<li>
    <span class="item">
        <span class="step-number">{{ 'deal_instructions_step' | trans }} 1:</span>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ 'platformd.create_account_or_login' | trans }}
        {% else %}
            <a class="reg-source" href="{{ path('fos_user_security_login') }}">
                {{ 'platformd.create_account_or_login' | trans }}
            </a>
        {% endif %}
    </span>
</li>
