{% extends 'SpoutletBundle::layout.html.twig' %}

{%  block header %}

    {% embed 'SpoutletBundle::header.html.twig' %}

        {% block extra_user_controls %}
            {% if is_granted('ROLE_ADMIN') and group.isOwner(app.user) %}
                <li><a href="{{ path('group_edit', {'slug': group.slug} ) }}">Edit Group</a></li>
            {% endif %}
        {% endblock %}

    {% endembed %}

    {% embed 'SpoutletBundle::navigation.html.twig' %}{% endembed %}

{%  endblock %}
