<ul class="spcr-t spcr-b">
    {% set venue  = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::VENUE') %}
    {% set plat   = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::PLATINUM') %}
    {% set gold   = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::GOLD') %}
    {% set silver = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::SILVER') %}
    {% set bronze = constant('\\Platformd\\IdeaBundle\\Entity\\SponsorRegistry::BRONZE') %}

    {% if event|default %}
        {% set sponsors = event.sponsors %}
        {% set scope = 'event' %}
        {% set containerId = event.id %}
    {% elseif group | default %}
        {% set sponsors = group.sponsors %}
        {% set scope = 'group' %}
        {% set containerId = group.id %}
    {% endif %}

    {% set lastLevel = -1 %}
    {% for sponsor in sponsors %}

        {% set currentLevel = sponsor.getLevel(scope, containerId) %}

        {% if currentLevel != lastLevel %}
            {% if currentLevel == null %}
                <div class="sponsorLevelText spcr-t">Other Sponsors</div>
            {% elseif currentLevel == venue %}
                <div class="sponsorLevelText venueText spcr-t">Venue Sponsors</div>
            {% elseif currentLevel == plat %}
                <div class="sponsorLevelText platText spcr-t">Platinum Sponsors</div>
            {% elseif currentLevel == gold %}
                <div class="sponsorLevelText goldText spcr-t">Gold Sponsors</div>
            {% elseif currentLevel == silver %}
                <div class="sponsorLevelText silverText spcr-t">Silver Sponsors</div>
            {% elseif currentLevel == bronze %}
                <div class="sponsorLevelText bronzeText spcr-t">Bronze Sponsors</div>
            {% endif %}
        {% endif %}

        <div class="sidebar_sponsorBx">
            {% set img_path = media_path(sponsor.image) %}
            {% if img_path %}
                <a href="{{ path('sponsor_view', {'id': sponsor.id}) }}"><img src="{{ media_path(sponsor.image) }}"></a>
            {% else %}
                <a href="{{ path('sponsor_view', {'id': sponsor.id}) }}"><h3 class="blu">{{ sponsor.name }}</h3></a>
            {% endif %}
        </div>

        {% set lastLevel = currentLevel %}

    {% endfor %}
</ul>
