{% extends 'IdeaBundle::event_layout.html.twig' %}

{% block event_content %}

    <h1>{% if id is not null %}Edit{% else %}Submit{% endif %} Your Vote Criteria</h1>

    <form action="{{ path('idea_admin_criteria', {'groupSlug': group.slug, 'eventSlug': event.slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

	    <input type="submit" value="Submit"/>
	    <button type="submit" name="cancel" value="Cancel" formnovalidate>Cancel</button>
	</form>
{% endblock %}
