{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}

    <div class="col_two_thirds">
        <table class="tblStyle">
            <tr>
                <th>Feedback Page</th>
                <th>Number of Entries</th>
            </tr>
            {% for list in feedbackLists %}
            <tr>
                <td><a href="{{ path('entry_set_view', {'entrySetId': list.id}) }}"><h3 class="blu">{{ list.name }}</h3></a></td>
                <td>{{ list.numEntries }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
