{% extends 'SpoutletBundle::layout.html.twig' %}

{% block content %}
<h1>{{ 'age_confirm.content_for_mature_audiences' | trans }}</h1>

<p>
    {{ 'age_confirm.too_young_message' | trans }}
</p>

{% endblock %}