{# base layout for the account section #}
{% extends 'SpoutletBundle::layout.html.twig' %}

{% block pre_content_nav %}
<div class="std_1col">
    <div id="accountHeader">
        <ul class="links">
            <li><a href="{{ path('accounts_index') }}">Account Home</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Change Pass</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="{{ path('accounts_profile') }}">Profile</a></li>
            <li><a href="#">My Events</a></li>
            <li><a href="#">Game IDs</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Match Client</a></li>
            <li><a href="#">Giveaway Keys</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
        </ul>
    </div>
</div>
{% endblock %}