{% set username_error = '' %}
{% set email_error = '' %}
{% set password_error = '' %}
{% set firstname_error = '' %}
{% set lastname_error = '' %}
{% set state_error = '' %}
{% set has_system_error = '' %}
{% set news_source_error = '' %}
{% set accept_error = '' %}
{% set birthdate_error = '' %}
{% set invalid_captcha = '' %}

{% for error in errors %}
    {% if error.messageTemplate == 'fos_user.username.blank' or error.messageTemplate == 'fos_user.username.already_used' or error.messageTemplate == 'fos_user.username.short' %}
        {% set username_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.email.blank' or error.messageTemplate == 'fos_user.email.already_used' or error.messageTemplate == 'fos_user.email.invalid' %}
        {% set email_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'fos_user.password.blank' or error.messageTemplate == 'passwords_do_not_match' or error.messageTemplate == 'password_too_short' %}
        {% set password_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'first_name_not_blank' %}
        {% set firstname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'last_name_not_blank' %}
        {% set lastname_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'state_not_blank' %}
        {% set state_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'has_system_not_blank' %}
        {% set has_system_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'news_source_not_blank' %}
        {% set news_source_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'You must accept the terms and conditions and the privacy policy' %}
        {% set accept_error = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    {% if error.messageTemplate == 'birthdate_not_blank' or error.messageTemplate == 'age_requirement_not_met' %}
        {% set birthdate_error = error.messageTemplate|trans(error.messageParameters, 'validators') | format(config.minAgeRequirement)  %}
    {% endif %}
    {% if error.messageTemplate == 'This value is not a valid captcha' %}
        {% set invalid_captcha = error.messageTemplate|trans(error.messageParameters, 'validators') %}
    {% endif %}
    <div>{{ error.messageTemplate }}</div>
{% endfor %}
