<div id="footer">
    <div id="ftr-content">
        <div class="ftrcol">
            <h5>About Us</h5>
            <ul>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="ftrcol">
            <h5>What&#8217;s New</h5>
            <ul>
                <li><a href="/">FAQs</a></li>
            </ul>
        </div>
        <div class="ftrcol">
            <h5>Participate</h5>
            <ul>
                <li><a href="{{ path('group_event_register_and_join', {'groupSlug': 'sv', 'eventId': 4}) }}">Register for the Hackathon</a></li>

            </ul>
        </div>
        <div class="ftrcol">
            <ul>
                <li></li>
            </ul>

            <ul>
                <li></li>
                <ul>
        </div>
        <div id="contactNfo" class="divrt">
            <h5>Contact Us</h5>

            <p><a href="mailto:info@quantified-car.com">Contact Us</a></p>

            <p>Follow us on <a href="http://twitter.com/quantifiedcar" target="_blank"><img src={{ asset('themes/ideacontest/spoutlet/img/twitter_16.png') }} alt="Quantified Car on Twitter" width="16"></a><br>
                Hashtag: #quantifiedcar</p>
        </div>

        <br class="clr">

        <div id="copyright">
            <script language="JavaScript">document.write(include_copyright(2012));</script>
        </div>
    </div> <!-- end footer content -->
</div> <!-- end footer -->