<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Campsite{% endblock %}</title>

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '/ckeditor/';
        </script>

        <link rel="shortcut icon" type="image/png" href="{{ asset('themes/ideacontest/spoutlet/img/favicon.ico') }}">

        {# Here we include assets for the current active theme #}
        {% include '::theme_' ~ site.theme ~ '_assets.html.twig' ignore missing %}

        {{ block('javascripts') }}
        {{ block('stylesheets') }}

    </head>
    <body>
        <noscript>For optimal site interaction, please turn javascript on in your browser. For Firefox, go to Tools &rsaquo; Options &rsaquo; Content. For Internet Explorer, go to Tools &rsaquo; Internet Options &rsaquo; Security &rsaquo; Internet &rsaquo; Custom Level &rsaquo; Enable Active Scripting.<br>Otherwise, please visit our <a href="#sitemap">sitemap</a> for easier navigation.</noscript>

        <div id="wrapper-ht">

            {%  block header %}
                {% embed 'SpoutletBundle::header.html.twig' %}{% endembed %}
            {%  endblock %}

            <div id="content">

                {% block pre_content_nav %}{% endblock %}

                {% render url('_flash_message') with {}, {'standalone': true } %}

                {%  for key, message in app.session.getFlashes() %}
                    {% include 'SpoutletBundle::_flashMessage.html.twig' with { 'type': key, 'message': message } %}
                {% endfor %}

                <div class="clear"></div>

                {% block content %}
                {% endblock %}

                <div class="clear"></div>

            </div>
            <div class="push"></div> <!-- needed for sticky footer -->
        </div><!-- end wrapper-ht -->


        {% include 'SpoutletBundle::footer.html.twig' %}
	</body>
</html>
