<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTP_HOST} !^.*\.campsite\.org [NC]
    RewriteRule ^(.*)$ http://www.campsite.org/$1

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA]
</IfModule>
